[2017-02-25 16:09] Teyro opened #3 "Publish on f-droid"
Is there a chance to get this app on fdroid?

[2017-02-25 20:50] oliexdev commented on #3
Hi Teyro,

thanks for your suggestion. Sure is that possible, I opened a ticket to submit the openScale app see https://gitlab.com/fdroid/rfp/issues/51
But we have to wait until the review process is done ;)

Best Regards from Germany
Oli

[2017-02-26 16:31] Teyro commented on #3
Heyho,

Sry next text is in german ;)

Danke für deine schnelle Eintragung ;) Sach mal planst du die App weiter zu entwickeln / und oder zu verbessern? Diese ganzen Funktionen für Körperfett etc kann die MiScale ja garnicht :( Kann man das irgendwie ausblenden?

[2017-02-26 16:57] oliexdev commented on #3
Hi Teyro,

I will answer in English and German maybe other visitors are interested in your question as well.
Yes I still developing the App so any ideas, suggestions or any help would be appreciated. :)
You can already hide unwanted data fields. Just disable for example body fat or water percentage under the settings. I hope this answers your question, if not don't hesitate to ask again.

Ich werd

[2017-02-28 16:55] oliexdev commented on #3
F-Droid added openScale so I close this thread

[2017-02-28 16:55] #3 closed

[2017-03-01 19:02] nutpantz opened #4 "feature request. more measurements"
Just found this on fdroid. Looks great.
Only thing I can see it I might need is more measurements.
Not that these measurements need to be tracked, just compared to the last or first measurements.
Measurements like
Biceps, forearms, chest, neck, thigh and calf maybe even left and right sides.
Great for weight loss to see what is going missing
And good for body sculpting to see where muscle is being

[2017-03-01 21:33] wolkenschieber opened #5 "Daily reminder"
The app looks great and fulfills its task quite perfectly. But I'm having trouble doing continuous measurements. There a configurable daily reminder through notification would be a real enhancement for me.

[2017-03-02 19:30] oliexdev commented on #4
Hi nutzpantz

thanks for your suggestion. I am not quiet sure how is the best way to implement more measurements, so that the app looks not overloaded and confusing. Do you have any design ideas?
The next question is how many measurements are needed and which? Where to start and where to end? For example should the neck circumference included or not. Some people will need it, but most of them not.

[2017-03-02 19:52] oliexdev commented on #5
Hi wolkenschieber

thank you for your suggestion. If I have a bit more time I will implement in the next version an option to enable/disable a customizable notification. I give a quick look to search for information how to implement this on Android. There is a good developer page under https://developer.android.com/training/scheduling/alarms.html
If you are a developer yourself, I would be happy i

[2017-03-03 13:37] taraska7 opened #6 "Inappropriate scale for charts"
First of all, thanks for the app!

I'd like to mention that the scale you use while building charts (starting from 0) isn't the best solution. This results in almost straight line, especially on small screen of a smartphone. This makes the chart completely useless. No one will weight 0 or 10 or 20 (even 60 for me personally) kilos. And there's no need to use this values while building charts. The

[2017-03-03 13:39] alekksander opened #7 "Import and export feature"
Please implement import and export feature.
perhaps it will be possible to import data from DroidWeight ?

[2017-03-03 13:46] alekksander opened #8 "long press on chart to reset view"
currently to reset to default chart view (after zoom) is to restart app.

[2017-03-03 13:47] alekksander commented on #7
sorry, didn't noticed.

[2017-03-03 13:47] #7 closed

[2017-03-03 13:57] alekksander opened #9 "confirm to delete"
we don't want our precious data to be deleted by accidental touch

[2017-03-03 13:58] alekksander commented on #6
good point

[2017-03-03 15:50] oliexdev commented on #6
Hi taraska7

thanks for your comments. Let me response directly to your comments.

It is already exactly implemented like you described. The margin is +/- 4kg. ;)
The problem is that your graph has zero values. The y-axis range have to be large to show these values. Try to disable all measurements in the settings and you can see the y-axis is adjusted. But you are right its better to decompose the

[2017-03-03 15:53] oliexdev commented on #8
Hi alekksander,

thanks for your comment but you can just zoom out with your fingers you don't have to restart the app. ;)
But I will consider it to implement a reset view on a long press.

Best regards
Oli

[2017-03-03 16:02] oliexdev commented on #9
Hi alekksander

thanks again for your comment. You are right that shouldn't be possible but while I were implementing the delete function I thought it could be also useful if you have lot of messed up weight data to delete, so you are not annoyed to confirm every deletion.
I could add an option like "don't ask me again" in the confirmation dialog or I could add a function to restore a deleted meas

[2017-03-03 16:45] nutpantz commented on #4
Hello
Personally I like a button that switches to a page just about measurements.
One side would show the body and approximately where to measure for each
It should show the last measurement taken next to the new measurement input spot
You could have the body in the middle and measurements on each side for left and right.
Maybe one or two on the bottom for custom entries.
Maybe a show/hide list in

[2017-03-03 19:20] alekksander commented on #9
Hello. Thank You for response.
"don't ask me again" seem like the adequate solution to me, but the other one is fine too.

[2017-03-03 19:36] wolkenschieber commented on #5
Time is also rare for me, but if I find some I'll give it a go.

I'd go with:
*Daily reminder*
*Tab to enter weight*

[2017-03-03 21:55] taraska7 commented on #6
The problem is that your graph has zero values. The y-axis range have to be large to show these values. Try to disable all measurements in the settings and you can see the y-axis is adjusted. But you are right its better to decompose the y-axis of the weight and the other measurements. I think I will introduce a y-axis on the right side of the graph for circumferences. What do you think?

Ok, got

[2017-03-04 17:15] oliexdev commented on #9
I implemented a delete confirmation dialog which you can enable or disable in the settings, see commit https://github.com/oliexdev/openScale/commit/d35bcca8d609b926d2c60f3f87736738e031daa8

[2017-03-04 17:16] oliexdev commented on #8
I realised a chart reset view on a long press, see commit https://github.com/oliexdev/openScale/commit/aee8ef44bb9b36883eafd2381148b7e6ade0211b

[2017-03-04 17:21] oliexdev commented on #5
I implemented a first weight reminder version, see commit https://github.com/oliexdev/openScale/commit/6eeb5f962f7187d6b55464978d89b5ebf4d27fbd
I made the notification text editable (default text is "Time to weight").
But this version need to be tested. Currently I am not sure if there is still a bug because it was more complicated as I first thought. Maybe somebody can review it.

[2017-03-04 17:29] oliexdev commented on #6
On the lower chart are the months of a year. The height of the diagram represent the amount of measurements. I don't think its useless because you can clearly see how many measurements you have done in a month. Even more you don't have to show the complete year just the month in detail.

I implemented an option to hide or show the dots of graph, see commit https://github.com/oliexdev/openScale/com

[2017-03-05 10:26] #9 closed

[2017-03-05 10:26] #8 closed

[2017-03-05 10:27] #6 closed

[2017-03-05 10:29] oliexdev commented on #5
I think I found a bug, see commit https://github.com/oliexdev/openScale/commit/1645ce4e989d0f88c690a03a0fc36945a0bed1a3

[2017-03-05 10:29] #5 closed

[2017-03-05 10:30] alekksander commented on #9
thank You.

[2017-03-05 10:35] oliexdev opened #10 "GUI changes in settings are not instantly applied"
Currently GUI changes in settings are not instantly applied. You have to restart the app or switch several time between the three sub fragments to update a GUI fragment.

[2017-03-07 10:28] spdizzle opened #12 "Bluetooth Connection"
Hey, first of all great app, thanks for your service.
I have a problem connecting the MI_SCALE with Bluetooth. The openScale message (no device found).
The device is found in the Android Bluetooth Management Tool.
Connection works with the official MI Fit App.
Is there a special pairing procedure?

Thx

[2017-03-07 15:34] oliexdev commented on #12
Hi spdizzle,

thanks for your question. No there is no special pairing procedure. If you first connect to the scale or after a battery change there is only an initialization procedure, see [openScale wiki](https://github.com/oliexdev/openScale/wiki/Xiaomi-Bluetooth-Mi-Scale) for further information.

Here are some ideas why it might not work:

- do you already connected to the scale via bluetooth

[2017-03-07 17:02] spdizzle commented on #12
Hey Oli, thanks for your fast answer. I've uninstalled the mi fit app and changed the batteries. I tried to connect a few times, the device name should be allright, software version is v0.5.8).

Maybe I'm too stupid for the initialization procedure. I have installed the BLE Scanner, i can connect to the MI_SCALE but the scale is not bonded. I turned on the notification flag, added the value, but t

[2017-03-07 17:24] oliexdev commented on #12
The initialization process shouldn't be the problem. If you install the mi fit app and start it once, it should be initialized by the mit fit app otherwise openScale will do it then.
You can verify it using the BLE Scanner go to `Weight Scale -> Current Time` and read out the hex value, It should start with `0xE107` (little endian format for year 2017)
What makes me wonder is that you can't connec

[2017-03-07 18:02] spdizzle commented on #12
Can't find the 0x880f10 value, the value at device information is 0x180A like in your wiki. At the overview the value is C8:0F:10:A1:8A:E0.

the uuid value at current time is: 00002A2B...
I've enabled the flag at weight scale --> custom characteristics, but i didn't work.

[2017-03-07 18:14] oliexdev commented on #12
ok can you read out the hex value under `device information -> system id` or make a screenshot of the BLE Scanner overview.
The UUID is correct but you need to check the hex value. Click on the R Button next to the `Current Time` then under hex a value is pop up.

[2017-03-07 18:23] spdizzle commented on #12
The hex value starts with 0xC80F10, maybe thats the error, how can i change that to '88'

[2017-03-07 18:57] oliexdev commented on #12
Interesting that your device address starts with a different hex value. That should be the problem. You can't change that but I updated the openScale source code so that the device address is not checked anymore, see commit https://github.com/oliexdev/openScale/commit/54181116a5e0c59a1a6ec8e07f385ffc39470c48
So in the next version of openScale it should work. If you don't want to wait you can comp

[2017-03-09 21:34] TjrGithub opened #13 "no bluetooth device found"
(possibly a dupe of #12)
Hi, I bought the scale because I saw your app on FDroid. Thanks for all your hard work. Unfortunately, I have trouble connecting it:

(1) Maybe there could be a paragraph in the about screen how to connect to the scale? Even if the process is dead simple, laying out the steps removes a source of confusion.

I managed to pair it this way: put phone on scale with bluetooth e

[2017-03-10 19:30] oliexdev commented on #13
Hi TjrGithub,

yes you have the same problem like #12
I hope I figured it out now. The problem is that you have a different mi scale hardware address. Your address starts with `C8:OF:10` rather than `88:0F:10` but I won't check the address any more in the new release. So please upgrade the openScale version to 1.4.3 and try again.

Best regards
Oli

[2017-03-10 19:30] #13 closed

[2017-03-10 19:31] #12 closed

[2017-03-10 19:49] TjrGithub opened #14 "missing instructions how to connect phone <> bluetooth"
(1) Maybe there could be a paragraph in the about screen how to connect to the scale? Even if the process is dead simple, laying out the steps removes a source of confusion.

I managed to pair it this way: put phone on scale with bluetooth enabled, re-insert batteries, try to pair from phone bluetooth settings. This gets lots of error messages "Couldn't pair with MI_SCALE because of an incorrect P

[2017-03-10 19:52] TjrGithub opened #15 "newest version 1.4.3 not available"
Hi, in issue #13, you suggested to upgrade to version 1.4.3. However, only version 1.4.2 is available.

https://f-droid.org/repository/browse/?fdfilter=openscale&fdid=com.health.openscale

(fleshed out of #13)

[2017-03-10 19:55] TjrGithub commented on #13
Ok, thanks for taking this seriously and even fixing this so fast. I created tickets for the remaining two subissues, i.e. missing pairing instructions and upgrade availability. I'll test with 1.4.3 as soon as it's available and report back.

[2017-03-10 19:59] oliexdev commented on #15
be patient I released the new version just 10 min ago and F-Droid upgrade it daily or weekly?!
If you can't wait download the apk file under [openScale 1.4.3 release](https://github.com/oliexdev/openScale/releases/tag/v1.4.3)

[2017-03-10 19:59] #15 closed

[2017-03-10 20:04] oliexdev commented on #14
I don't have an about screen ;) and there is no pairing process just click on the bluetooth symbol and that its. Just make sure you have the right device name under the settings.
What you tried is to pair your bluetooth device with your mobile phone but you don't have to do it.

[2017-03-10 21:20] TjrGithub commented on #14
That's good to know. What you write here would have saved me some fiddling around.

How about putting this information into the preferences, bluetooth tab, an (non-interactive) fifth menu item right under smart user?

[2017-03-10 21:21] TjrGithub commented on #15
Wow, thanks. Sorry I didn't check Github first.

[2017-03-10 21:23] TjrGithub commented on #13
Confirmed working on Android Slimrom 6.0.1 and Blackberry 10. Except for one minor hiccup: When the Blackberry has finished reading from the scale, I need to turn off bluetooth on the blackberry and let the scale sleep before the Android will connect. Else it just says no devices found.

[2017-03-10 22:14] JavaJens opened #16 "Support Bluetooth LE weight scale profile"
Hi, I have a Polar scale which should broadcast its data according to the BLE specs.
It would be cool if the app can support the weight scale profile, so that a multitude of scales can easily be supported.
Keep up the great work!

[2017-03-11 08:34] oliexdev commented on #14
If you don't know how you do it you can first search here for an answer otherwise create a new issue. But usually the app should be self explained.

[2017-03-11 08:34] #14 closed

[2017-03-11 08:45] oliexdev commented on #16
Hi JavaJens,

first of all thanks for your compliment.
Unfortunately many companies don't adhere to the official weight service of the ble specification. As I don't own a polar scale I can't even take a look and don't even test it. But if you are a developer and have the effort to reverse engineer your polar scale feel free to create a pull request. A first hint how you can do it is the [openScale

[2017-03-13 11:29] Sarkasper opened #17 "No Bluetooth device found."
I tried a couple times to connect but it won't work.
If you need more info let me know.

![tmp_19829-screenshot_20170313-121415279015310](https://cloud.githubusercontent.com/assets/806597/23852465/3284c140-07e8-11e7-976d-ffa5012c6c6b.png)
![tmp_19829-screenshot_20170313-1214291164237786](https://cloud.githubusercontent.com/assets/806597/23852470/375a522a-07e8-11e7-93c1-e56e89245249.png)
![tmp_1982

[2017-03-13 17:35] #16 closed

[2017-03-13 17:40] oliexdev commented on #17
Hi Sarkasper,

thanks for your hint. Its seems like devices with starting hardware address `C8:OF:10` makes trouble. Which openScale version do you use and what is your SmartPhone and Android version?

Best regards
Oli

[2017-03-13 19:23] Sarkasper commented on #17
![tmp_11110-screenshot_20170313-202042153956329](https://cloud.githubusercontent.com/assets/806597/23871467/d2c75ba8-082a-11e7-958a-6b3086142f98.png)
![tmp_11110-screenshot_20170313-202107810698885](https://cloud.githubusercontent.com/assets/806597/23871473/e0ca4fda-082a-11e7-9ebf-480da64f97f8.png)

[2017-03-13 19:33] Sarkasper commented on #17
I found the new release of version 1.4.3 and that has fixed it, thanks!

[2017-03-13 19:33] #17 closed

[2017-03-27 09:23] nastynabz commented on #10
Hello,
I want to try to fix this issue.
I have an idea to fix it.

[2017-03-27 15:40] oliexdev commented on #10
Hi nastynabz,

that would be great. Please create a pull request with your code changes.

Best regards
oli

[2017-03-29 20:02] Foxdelmar opened #20 "App sometimes crashes when trying to connect to Mi Scale"
Hi oliexdex,

its great to see someone creates open source apps that save your privacy for products that want to share everything with the cloud. Thank you.

I bought the Mi Scale, downloaded your app Open Scale (v1.4.3) from F-Droid with a LG G4 with Cyanogenmod 13 (Android 6.0.1) and tried to connect it to the scale. I also deactived the privacy features for this app. Only the firewall (Afwall)

[2017-03-30 16:51] oliexdev commented on #20
Hi foxdelmar,

thanks for your comment. Can you quick check if you see in settings-> Bluetooth-> device type `xiaomi mi scale v1` has in the end `v1`?

Best regards
Oli

[2017-03-31 12:42] oliexdev commented on #10
thanks to nastynabz the bug is fixed, see pull request #19.

[2017-03-31 12:42] #10 closed

[2017-04-04 17:30] Foxdelmar commented on #20
no. the device type says
"Gerätetyp: Xiaomi Mi Scale"
"Gerätename: MI_SCALE"

Should I change this?

Best regards
Fox

[2017-04-05 15:48] oliexdev commented on #20
As I guessed, I already fixed this bug but FDroid didn't update it. Please download the lastest version on https://github.com/oliexdev/openScale/releases or install it over Google Play.

[2017-04-05 15:48] #20 closed

[2017-04-09 17:58] Larry0ua commented on #4
Maybe you just need some custom user-provided field names, it would fit nicely into Measurements settings section

[2017-04-10 13:13] Larry0ua opened #24 "Integration with Google Fit"
Hi there,

Do you have any plans for integrating with other services? I am interested in Google Fit integration - there is a possibility to transfer body weight data to that service. Now I cannot find an app that supports this integration easily... What I'm asking now is your attitude about this - I may develop a PR with this integration, but some steps will be required from the application owner

[2017-04-11 16:17] oliexdev commented on #4
@Larry0ua
as I already mention above this would be a solution but also a complex one. Everything graph, table, export/import function, and the database itself and so on need to be dynamically programmable.
I make a small step in this direction because now the measurement views can be dynamically added... I guess this will take more time.

Best regards
oli

[2017-04-11 16:23] oliexdev commented on #24
Hi Larry0ua,

No currently I don't have any plans to integrate any services. I am not a fan of cloud service for health data for privacy reasons. Can I ask why do you want such an integration in Google Fit? Why don't you enter your weight not directly via Google Fit if you want to use it anyway?

Best regards
oli

[2017-04-11 20:21] Larry0ua commented on #24
That's a shame to have wireless scales and enter data manually :) I didn't find any application that allows this integration yet.

[2017-04-12 16:17] oliexdev commented on #24
maybe you can export and import it? I don't know never used Google Fit...

[2017-04-12 16:17] #24 closed

[2017-04-12 16:24] oliexdev opened #25 "Translation of description text into French"
It would be great if somebody could translate the following description text into French:

Thanks to scritesair the app itself is already translated to French see PR #21

Best regards
oli

[2017-04-12 22:16] scritesair commented on #25
Hi Oli,

The french transation I submitted was the first commit I made on Github :)
I didn't see your answer, but no problem for the translation of the description.
Here it is!

------------------------------------------

openScale est une application open source qui vous permet d'enregistrer votre poids, votre graisse corporelle, votre pourcentage d'eau et votre pourcentage de muscle.

**Fonction

[2017-04-13 14:51] oliexdev commented on #25
merci :)

Unfortunately for the short description on Google Play the French translation is too long. Google Play allows only 80 characters. Is it possible to shorten this sentence in French?

Google Translate says:

But this is still too long (97/80 characters)...

Greetings from Germany
Oli

[2017-04-13 15:11] scritesair commented on #25
Hi!

First, I was very happy to see my translation on F-Droid on the 1.5.0!
I didn't know that Google Play allows only 80 characters for the description.

The translation of Google translate is unfortunately incorrect.

I think you can cut here :

(79 characters \o/ )

which corresponds to :

instead of (litteraly) :

Keep me informed if there's any other problem!

[2017-04-13 15:17] oliexdev commented on #25
that was a fast response thanks scritesair now the sentence fits in.
In a few hours you will see your translation on French Google Play ;)

Happy holidays
oli

[2017-04-13 15:17] #25 closed

[2017-04-19 12:56] Penguin-Guru opened #26 "Please Clarify Hardware Support."
Hello and thanks for making something great. Like you, I have been very frustrated by the lack of "non-cloud" smart devices. I would like to buy a scale to use with your app but, unfortunately, I am not technically savvy enough to understand your engineering notes. Could you please consider adding a section at the Wiki page for each hardware device to clearly outline how well it is supported by th

[2017-04-19 18:08] oliexdev commented on #26
Hi Penguin-Guru,

thanks for your comment. Well I will not guarantee that the Xiamoni scale works but currently they are no complains about it. The best way is to try it out for yourself. If it doesn't work you can send the scale back or?

No I don't have any affiliate links or something like that. I am happy if you like the program. :)

My e-mail address is olie.xdev@googlemail.com you can find i

[2017-04-23 09:08] #26 closed

[2017-04-24 09:44] c64bob opened #27 "multi-year view in chart"
First, thanks for a great app! I've been using it for a few days and really love it.

In the charts tab, would it be possiblt to implement a yearly view, as well as a view with all available datapoints? I'd like to be able to see my total progress, as well as the progress over a longer period than a month.

Thanks again.

[2017-04-24 15:34] oliexdev commented on #27
Hi c64bob,

thanks for your comment. I am not sure how to best implement a yearly view without breaking the design concept with the months!? Currently you can view the total process of **all** your data on the table view fragment.
But what kind of datapoints are missing on the chart? Finally let me say a little remark if you want to show all your data in **one** chart you will have the problem of

[2017-04-25 08:57] feclare opened #28 "script to import database from libra"
I created a simple python script to transform the csv file from libra to the openscale csv format.
https://gist.github.com/feclare/9ce446a640ac1b8854456a4da468dc05

[2017-04-25 12:25] c64bob commented on #27
Hi Oli,

thanks for your quick reply. I used to use the application [droid weight](https://code.google.com/archive/p/droidweight/) to manage my measurements. The code hasn't been updated in a long time, and with the recent upgrade to Nougat I can't use the app properly anymore. It did have a chart view for various time frames, including all available data. To avoid overload of too many data points

[2017-04-25 16:29] oliexdev commented on #28
Hi feclare,

awesome thanks for the script.

Best regards
oli

[2017-04-25 16:29] #28 closed

[2017-04-25 16:41] oliexdev commented on #27
Do we talk only about weight datapoints? Because I assumed you mean with "all datapoints" the other measurement too like waist/hip circumference, water/muscle/fat percentage and so on.
I am using the [hello-chart library](https://github.com/lecho/hellocharts-android). It don't have a function to average the datapoints. Maybe I could add a button to show/hide the lower month diagram and if its in h

[2017-04-25 17:45] maxb2 opened #29 "BMI calculator units"
When I use cm for height and lbs for weight, the BMI is calculated incorrectly. It looks like the weight in lbs isn't being converted to kg before the BMI calculation. The same thing is happening with weights in st.

[2017-04-25 18:02] oliexdev commented on #29
Hi maxb2,

that is true, its a bug. Is the BMI calculation for st or lbs always converted into kg or is there a different calculation possible?

Best regards
oli

[2017-04-25 19:04] maxb2 commented on #29
[BMI](https://en.wikipedia.org/wiki/Body_mass_index) (body mass/height<sup>2</sup>) is always defined in units of kg/m<sup>2</sup>. Converting between kg, lbs, and st is easy though.
1 lb = 0.454 kg
1 st = 6.350 kg
1 st = 14 lbs

On the same subject, it would be nice if previous entries would be converted automatically after changing which units you want to use in the settings. Maybe you could sto

[2017-04-26 14:07] c64bob commented on #27
You're right, I was only refering to the weight datapoints. I'd like to see all available weight measurements in one chart to check on my progress, as well as identify any longer term trends. May averaging isn't even needed, if the library handles the display of lots of data on one chart automatically? If it is easier for you, leave out the yearly view, and just implement a total view without the

[2017-04-29 07:00] oliexdev commented on #27
I implemented a button to show or hide a yearly diagram overview with commit https://github.com/oliexdev/openScale/commit/cc60815d75ee3ff14fe2928f8e93d2056d560509

[2017-04-29 07:00] #27 closed

[2017-04-29 11:30] oliexdev commented on #29
fixed it with commit https://github.com/oliexdev/openScale/commit/687c0b95ca32a5561b269ea5b7ca2fcaecd4eb9a
weight data points are also automatically converted after changing the unit.
But be aware that the exported data is always in kg!

[2017-04-29 11:30] #29 closed

[2017-04-30 13:58] patzzz opened #30 "Maximum allowable percent body fat"
This app is very useful to obese persons, but in 1.5 version the maximum allowable percent body fat is 40% and it is insufficient to them.
In 1.4.3 version I could add higher values without problems.

This study reveals that in females, mean percentage body fat ranged to 42.4% at age 60-79 years.
https://www.cdc.gov/mmwr/preview/mmwrhtml/mm5751a4.htm

Is possible rise maximum allowable percent bod

[2017-04-30 14:05] patzzz opened #31 "Add measurements in 1-step again"
In 1.4.3 version I could add all measurements in 1-step and old values could be edited in the same screen, for example change only decimals:
![1 4 3](https://cloud.githubusercontent.com/assets/25534423/25564928/fcfa09ee-2dbd-11e7-88ed-c6586c9395c4.png)

But in 1.5 version I need 5-steps and old values aren't editable.

First step to add weight:
![1 5_step_1](https://cloud.githubusercontent.com/ass

[2017-04-30 16:46] oliexdev commented on #30
Hi patzzz,

thanks for your hint. It forgot to change the maximum value while I refactoring the source code. Now I changed the maximum fat percentage to 80% with commit https://github.com/oliexdev/openScale/commit/b7befd8aa8837375d29e93bd69cdd7fa2da1b0ef

Best regards
oli

[2017-04-30 16:46] #30 closed

[2017-04-30 16:54] oliexdev commented on #31
Thanks for your comment. That is true that you can't change easily the position after decimal point, so I will show the old value in the edit text with the commit https://github.com/oliexdev/openScale/commit/b7befd8aa8837375d29e93bd69cdd7fa2da1b0ef . But I am not quite sure if it's better or worse to have an edit text instead of an input dialog.

[2017-05-01 08:26] patzzz commented on #31
The 1-step screen of 1.4.3 version was perfect for me, but perhaps a setting to add measurements in old-style or new-style (with multiple screens and an empty text dialog) would be perfect for all.

Thank you for this fantastic app.

[2017-05-03 15:41] oliexdev commented on #31
let me think about that which method is better but I don't want to have two input modes.

[2017-05-03 15:41] #31 closed

[2017-05-06 10:37] megfault opened #35 "Absurd range restrictions"
The app does not allow to enter a value for body fat higher than 40%. This is completely absurd, please remove the restrictions.

[2017-05-06 14:43] oliexdev commented on #35
Hi megfault,

thanks for your comment it is already fixed see issue #30
The next release will come in the next few days.

Best regards
oli

[2017-05-06 14:43] #35 closed

[2017-05-08 14:01] mibanescu opened #36 "Wrong data (lbs/kg) after updating"
After updating to openScale 1.5.1, my data was all wrong.

My user's preferences were set in lbs (instead of kilos). After the update, the user still had the preferences in lbs, but the app was showing all old values 2.2 times larger (i.e. I think it interpreted them as kilos).

In order to recover, I had to export the data, modify it in openOffice (it was still showing up in lbs, so I had to conv

[2017-05-08 16:03] oliexdev commented on #36
Hi mibanescu,

thanks for your hint. I didn't consider such situation.
In version 1.5.1 I calculate and store internally all weights in kg and just convert to lbs/st to fix BMI issue #29.
A side effect is that you can now change easily between the units. Now all weight data are automatically recalculated according to the selected unit.
But the drawback is that values in lbs or st that are used bef

[2017-05-08 17:03] mibanescu commented on #36
No problem at all, I was happy I was able to get my data back.

May I suggest saving the unit(s) of measure as part of the export (and reading them as part of the import)? It would be helpful if one mis-configures the user before importing for the first time.

Another possibility would be for the export to include the user's preferences (name, goal width, units of measure etc) for easier transfer

[2017-05-09 23:08] momo42 opened #37 "wrong dates and times (Mi Scale firmware v0.5.8)"
Hello oliexdev,

first I want to thank you for this great app. Me and my wife also don't like to push our personal data to the cloud. When I found your app, I decided to order a Mi Scale for us.

But now we have headaches with the dates of the measurements. Me and my wife use two phones with openScale (1.5) to track our weight. On both phones we first created two accounts in openScale. Then we did

[2017-05-10 15:52] oliexdev commented on #37
Hi Momo,

thanks for your comment and your compliment.

I seemed like your mi scale is not correct initialized.
First idea and mostly the save way is to start once with the original Mi Fit App after you remove and reinsert the batteries. The Mi Fit will initialize the scale.
Second is to initialize your scale with openScale (I tried to reverse engineer the initialization process). Remove also the

[2017-05-10 16:08] oliexdev commented on #36
thanks for your suggestions if I have time I will try to implement that.

[2017-05-11 12:52] mibanescu commented on #36
Frankly, I don't like my own suggestion of putting the user dump and the measurement data in a single csv file. I think they make sense to be together, but when I think of csv I think of a single "table" (in sql sense). yaml would make more sense, but yaml is also more verbose and harder to manipulate with other tools like OpenOffice/Excel/etc. Maybe having a separate export/import for user inform

[2017-05-11 14:26] oliexdev commented on #36
Well I guess to export the weight to the selected user unit would be not bad.
I don't think it is really necessary to export the user information separately because it hasn't got much data and you can create easily a new user.
But I might consider to implement a method to 1:1 copy the internal databases for backup and transfer purpose because the database has also some more internal information th

[2017-05-11 14:31] mibanescu commented on #36
You may want to look at CarReport (also open source, for tracking car expenses like gas, repairs etc - I use it mostly to track my fuel efficiency). https://bitbucket.org/frigus02/car-report

It has backup support to Google Drive and Dropbox, I believe it's sqlite behind the scenes, and the database itself is easy to transport.

[2017-05-11 14:46] oliexdev commented on #36
thx but I don't like to upload any health data to a cloud service but of course If the user want that they can save the backup into the Dropbox or Google Drive folder (I will make the data path editable).

Yes Android use sqlite it also really simply to make a backup just raw copy the database to another directory.

[2017-05-11 17:45] mibanescu commented on #36
I totally understand about the privacy concern.

[2017-05-14 08:22] kapitaniglo11 commented on #37
Hello guys!

I don't know that it's the best place, but recently I have problems with synchronizing weight using openScale on my Mi Scale as well.

I weight myself everyday, in the morning. When I use only openScale to sync my results, they have weird dates/times. Like all of them on the same day, just different times across the day (morning->evening). It seems to fix it, I can launch Mi Fit app,

[2017-05-14 21:12] momo42 commented on #37
Your app indeed is a very nice piece of software. It shows, that all the cloud foo is not necessary for functional fitness apps, and that opensource apps can look pretty too. So keep on the good work! I'll try to help you sorting out this weird date bug.

I did some (sadly not very systematic) testing over the last two weeks (just with one phone and just Mi Fit OR OpenScale 1.5) and can partly con

[2017-05-15 19:07] kapitaniglo11 commented on #37
Yes. Then I would open Mi Fit App...

Yes. Everything there would be correct.

Yes. There are still the "same day" ones + the corrected ones that I saw in Mi Fit.

Downloading your beta app and will give you feedback after few days!

Hear you then!

[2017-05-16 08:36] kapitaniglo11 commented on #37
Using just updated "beta" openScale app, without Mi Fit.

First log, and already wrong time. Around 9:20 described as 20:19 by openScale. Pic related.

![screenshot_20170516-093000](https://cloud.githubusercontent.com/assets/28683769/26096995/fcddce14-3a1a-11e7-8746-1eee3e33ac0a.png)

[2017-05-16 13:42] kapitaniglo11 commented on #37
Another update after 2nd usage of the day.

I weight myself again, turned on the app, and it synced - I have "fake times" and "real times" now again... Everything is duplicated. Pic related

![screenshot_20170516-143925](https://cloud.githubusercontent.com/assets/28683769/26108968/e8dc27fa-3a45-11e7-9ff8-d1777c01de09.png)

[2017-05-16 18:18] oliexdev commented on #37
that is really strange you weight once but get two measurements? one is right the other one is wrong? So in the first picture the measurement at 15.05.2017 20:19 is wrong but you see the correct measurement in the second picture at 16.05.2017 9:19.

Did you get the two measurements at 16.05.2017 9:32 and 16.05.2017 14:36 at the same time while you weighting only one time?

Are you able to use Andr

[2017-05-16 22:34] kapitaniglo11 commented on #37
Yes, yes, and yes. Both of them when syncing one time.

Unfortunately, I am not able to use Android Studio. Opened GitHub account just to contact you.

It *seem*, that it can work correctly, when I would use Mi Fit first, and then just open openScale to fetch the "somehow changed by MiFit" data... I can try it next.

[2017-05-18 16:09] oliexdev commented on #37
No not when syncing one time when you **weighting** one time then you get two measurements at once?

Ok I should consider to implement a debug mode for the official version... that would be useful situation like that.

It is curious that you don't weight again but Mi Fit add an extra measurement to the scale base of the incorrect measurement!? That is totally strange...

I am confused why it only

[2017-05-18 18:53] kapitaniglo11 commented on #37
It is confusing for me as well :D Mi Fit is not adding extra measurements. There you have got only proper results.

Anyway, step by step.

1. Weigh myself
2. Go to the mobile in the living room.
3. Open openScale.
4. Sync openScale.
5. Getting bad result + normal result at once. From one weighting in.
6. Weigh myself again
7. Go to mobile
8. Open MiFit
9. Everything there is OK. The previous one i

[2017-05-18 19:15] oliexdev commented on #37
Thanks for your detailed step by step analysis. I think we getting closer to the problem.

Can you test two another step orders?

1. Can you do step 1 to 5 two times in a row?
2. Can  you do step 6 to 9 first and then do step 1 to 5

What are the results of these two step orders?

[2017-05-18 22:10] kapitaniglo11 commented on #37
I must admit that I messed up my first description.

There is *REVISED* 5. Getting bad result, so I am running Mi Fit to check how it would behave, it displays correct one, so I am running openSync again, and getting now normal result as well. I am left with normal+wrong in openSync.

I did what you asked for.

1. Weigh myself (69.0)
2. Open & sync openScale.
3. Getting bad result (11:06).
4. Open

[2017-05-19 13:04] oliexdev commented on #37
That's bad I thought you get at least once a correct value from openScale.

Thx it seems like Mi Fit manipulate the date/time on the scale when you open the Mi Fit app :/
That behaviour is totally strange...

We need to see what is send between the mi scale and openScale/MiFit app

Can you turn on the developer options of your smartphone and follow these procedure:

1. Turn on the `Bluetooth HCI S

[2017-05-19 16:07] kapitaniglo11 commented on #37
Here are the logs: [MiScaleLogs.zip](https://github.com/oliexdev/openScale/files/1014852/MiScaleLogs.zip)

Weight was: 70.0kg @ 16:59, 19th May 2017
openScale result:  70.0kg @ 9:00, 19th May 2017
MiFit result:  70.0kg @ 16:59, 19th May 2017

[2017-05-19 18:18] oliexdev commented on #37
I found out why you receiving a wrong measurement with a incorrect date but I am not sure why not receiving the correct measurement (but I have a an idea why it is not working)

Can you try the following:

1. Install the openScale beta version in the attachment
2. weight yourself
3. wait 5 min (don't do anything with your smartphone)
4. sync it with openScale (if you don't see a correct measuremen

[2017-05-19 20:41] kapitaniglo11 commented on #37
Aaaand...

It works! So far! I'm uninstalling Mi Fit and I will try to use just openScale now.

Thanks for prompt fixing it! I hope I helped as well. Now to popularise your app... 😁

[2017-05-21 10:35] oliexdev commented on #37
great thanks for your help :+1:

The problem was that the mi scale sends via Bluetooth advertising frame continuous your weight while your are weighting but with an incorrect date and time. Now I filter this advertising frames out.
Somehow after your weight (and I am not sure when exactly) the mi scale save the information in the advertising frame into the mi scale internal ROM with the correct da

[2017-05-21 12:28] kapitaniglo11 opened #39 "Rotation lock not working"
Application is not respecting Android's Portrait/Landcsape lock.

After rotating the mobile it rotates the screen not keeping system's rotation lock.

[2017-05-21 15:50] oliexdev commented on #39
thanks for the hint. It is fixed with commit https://github.com/oliexdev/openScale/commit/b03f58f66be266b8cd3e47baf9382ed2e18b1ef5

It was old code that was not necessary any more which made the problem.

[2017-05-21 15:50] #39 closed

[2017-05-21 16:16] oliexdev commented on #37
I discovered with the new version of wireshark It is much more convenience to analyse the Bluetooth traffic. :smile:

Now I found out how to get only the recently history weight measurements. I updated the [Xiaomi Mi Scale Wiki](https://github.com/oliexdev/openScale/wiki/Xiaomi-Bluetooth-Mi-Scale) respectively.

I hope the mi scale syncing process works much better now.

[2017-05-21 16:16] #37 closed

[2017-05-22 07:59] kapitaniglo11 commented on #37
So far it's working like a charm.

I have connected it to scale, _then_ stepped on the scale - immediate result in your app.

Thanks!

[2017-05-22 17:40] oliexdev commented on #37
with which version?
Did you try version openScale-1.5.1_MiScaleFixDateV3.apk?

[2017-05-22 17:47] kapitaniglo11 commented on #37
Yes, with openScale-1.5.1_MiScaleFixDateV3

[2017-05-23 16:08] oliexdev commented on #36
implement a basic database backup function with commit https://github.com/oliexdev/openScale/commit/f02130a61ef9453b463b298bcebdcbb6a32cb5de

[2017-05-23 16:08] #36 closed

[2017-05-26 12:19] momo42 opened #40 "MiScale and two phones: syncing 'deletes' measurements"
Hello oliexdev,

currently I'm on openScale 1.5.2 (via F-Droid) and have the following problems.
My wife and me have two phones. On every phone we have two openScale users to use the smart assignment function of openScale.

In the morning we both stepped on our MiScale (me at 6:15 am, my wife at 6:45am). After breakfast (~ 7:30 am) we tried to sync our phones to get the new values. But unfortunate

[2017-05-26 12:22] momo42 commented on #37
The date bug seems to be fixed in openScale 1.5.2. Thanks for that. :-) But unfortunately we have another (probably related) bug now. I've opened another issue for that: https://github.com/oliexdev/openScale/issues/40

[2017-05-27 14:11] oliexdev commented on #40
Yeah it seems it is a side effect of the fixed time bug. Can you test the attached version of openScale?

[openScale-1.5.2-MultiUserFix.apk.zip](https://github.com/oliexdev/openScale/files/1033569/openScale-1.5.2-MultiUserFix.apk.zip)

[2017-05-29 17:22] sciamano opened #41 "add Changelog"
please add a changelog and link it to F-Droid' metadata. That way the users can easily see the difference between the installed version and the proposed update. It's important for people who really care about the software on their phone and what changes from the app to expect. Right now one has to find and examine all the commit messages to get a picture of what is going on...

[2017-05-30 11:17] famo opened #42 "Cannot connect with Sanitas SBF-70 - No Bluetooth Device found"
For some reason I cannot connect to my SBF-70.
Are there any special steps required?

System Info:
Sony Xperia Z3c, Android 6.0.1
Bluetooth Info:
![screenshot_20170530-130858](https://cloud.githubusercontent.com/assets/692646/26580859/3c63b204-453a-11e7-8b3a-d6a42d53762a.png)
![screenshot_20170530-130825](https://cloud.githubusercontent.com/assets/692646/26580863/40d84804-453a-11e7-89c3-6f5424a911

[2017-06-02 16:11] oliexdev commented on #41
under [openScale releases](https://github.com/oliexdev/openScale/releases) you find a short description what has changed and if you want further details you can see all commits since the last release easily.
I don't want to maintain another change log, maybe F-Droid should use the github release note.

[2017-06-02 16:11] #41 closed

[2017-06-02 16:18] oliexdev commented on #42
I don't own this scale. It was reverse engineered by @jflesch
But your hardware address of the scale starts differently. Maybe this is the problem.
Can you try the attached version of openScale?

[openScale_SBF70_NoHwCheck.apk.zip](https://github.com/oliexdev/openScale/files/1048260/openScale_SBF70_NoHwCheck.apk.zip)

[2017-06-02 16:35] jflesch commented on #42
The others UUID seems to fit, so assuming your screenshot is truncated, just adding your hardware address prefix should hopefully make it work.

[2017-06-02 23:45] momo42 commented on #40
Thanks for the test version and sorry for the delay. I had a stress-filled week. My wife and me have now tested the MultiUserFix.apk and with it both phones we get all the values. So far, so good. :)

Here is how we tested:

- We uninstalled the regular versions and installed your openScale-1.5.2-MultiUserFix.apk.zip on both phones.
- Then we created two users on both phones and activated the smar

[2017-06-03 00:16] momo42 opened #43 "MiScale initial sync: Better way to assign values to users?"
While testing version 1.5.2 I stumbled upon an annoying problem:

If you use your scale with more than one person you have to set additional openScale user(s) to use the smart assignment for filtering away unwanted measurements.

But when you initially sync your MiScale, ALL stored values are synced to the currently active openScale user and you have to manually delete A LOT OF measurements after

[2017-06-03 00:30] momo42 opened #44 "Improvement: Order of openScale users"
When you add a new user to openScale, it goes to the top of the user list and the user drop down menu. I would expect that the list is ordered from old (top) to new (bottom). I think the main reason for creating two or more users is the smart assignment filter function. And the first created user is probably the most (or even the only) important one since it is created when you start openScale for

[2017-06-03 00:45] momo42 opened #45 "y-axis values cropped"
I found out that different conditions lead to cropped y-axis values:

1) weights over 100kg:
![screenshot_20170601-043331](https://cloud.githubusercontent.com/assets/28578876/26749157/30ea80f0-4806-11e7-971b-b68351e80bc8.png)
![screenshot_20170601-043613](https://cloud.githubusercontent.com/assets/28578876/26749161/493fbaa8-4806-11e7-80fb-3a7db1f99618.png)
![screenshot_20170603-001322](https://clo

[2017-06-03 01:16] momo42 opened #46 "Improvement: average weight per day/month (optional)"
While testing openScale me and my wife did a lot of measurements but also at normal usage it could happen that you step on the scale two or more times a day. But when you do so, the diagrams become very confusing. Here are two examples:
![screenshot_20170601-043643](https://cloud.githubusercontent.com/assets/28578876/26749287/fdb1fefa-4807-11e7-819c-f05c82dea83c.png)
![screenshot_20170601-043613](

[2017-06-03 01:22] momo42 opened #47 "x-axis values (dates) on overview diagram very narrow"
The dates below the overview diagram are very narrow. The one on the right is even cropped. I think we don't need the year in this diagram since it only shows the last few measurements.

Example:
![screenshot_20170601-043408](https://cloud.githubusercontent.com/assets/28578876/26749459/67f4cfd8-480b-11e7-9933-80e0a55141a2.png)

[2017-06-03 01:30] momo42 opened #48 "Bug: Wrong dates in overview diagram"
I noticed that some dates below the overview diagram are incorrect. This happens with openScale-1.5.2-MultiUserFix and two different users on two different phones. The corresponding list measurement entries are correct. I didn't test the regular 1.5.2 version for this bug yet.

Example ("03.06.17, 03.06.17, 03.06.17" but should be "02.06.17, 02.06.17, 03.06.17":
![screenshot_20170603-001322](https

[2017-06-04 15:00] oliexdev commented on #43
I must admit the smart user assignment in openScale is not documented and not very intuitive right now. :flushed:
You don't have to manually delete any measurements.

Try this:

1. Create two or more users in openScale
2. Create for each user manually the first measurement with their respective weight
3. Synchronize your scale while the smart user assignment is on

Currently you have to manually a

[2017-06-04 15:01] oliexdev commented on #44
it is fixed with commit https://github.com/oliexdev/openScale/commit/4a34cdc6dbfe6b1813755a474a4fc71a26f2493c

[2017-06-04 15:01] #44 closed

[2017-06-04 15:02] oliexdev commented on #45
it is fixed with commit https://github.com/oliexdev/openScale/commit/88def160b7c0172d1f15008adb143897f6a7b0fe

[2017-06-04 15:02] #45 closed

[2017-06-04 15:03] oliexdev commented on #47
should be fixed with commit https://github.com/oliexdev/openScale/commit/d36cc0ed1b72ea72ba6693243908bfc0da0c7479
I don't show the last date anymore instead I will only show the days between the last measurement.

[2017-06-04 15:03] #47 closed

[2017-06-04 15:07] oliexdev commented on #48
should be fixed with commit https://github.com/oliexdev/openScale/commit/d36cc0ed1b72ea72ba6693243908bfc0da0c7479
The problem was that the calculation took place between the days in seconds and that was too precise. :grin:

[2017-06-04 15:07] #48 closed

[2017-06-04 15:15] oliexdev commented on #46
Good idea to have one average measurement for a day but first I need to figure out how to implement that in a good way in openScale.

[2017-06-04 15:23] oliexdev commented on #40
awesome then I will close this issue.

please see issue #43 how you properly do it.

This is not necessary. You have to initialize the scale again to get the correct date.

Because you took out the batteries :wink: openScale have to initialize the scale again.

Then we manually deleted all wrong assigned values on both phones (very time-consuming by the way)
The third sync (again on both phones) l

[2017-06-04 15:23] #40 closed

[2017-06-04 21:13] momo42 commented on #43
Thank you for this explanation. I didn't even try to use the big blue button on the bottom yet. :grimacing:
Giving openScale some initial values makes absolutely sense.

I think an 'initial weight' field in the new user dialog is a very good idea. I would also like to have an 'ignore out of range'-button. Perhaps you could put it direct below the 'smart assignment'-button and grey it out when 'sma

[2017-06-06 13:01] famo commented on #42
Thanks for the reply.
Unfortunately the installation of openScale_SBF70_NoHwCheck.apk aborts - no reason given... :-(

[2017-06-06 14:33] nykroy commented on #42
I have the same scale and i cant connect that.

Thank you for the app its a very good idea.

[2017-06-06 14:44] jflesch commented on #42
Hm, 3 questions:
1) Can you tell us exactly what popups you get ? ("Connecting ...", etc)
2) Did you set the scale name correctly ? If it's like mine, it's "SANITAS sbf70" (regarding the sbf-70, it is not case-sensitive)
3) While trying to connect to the scale, can you get the debug output with adb please : ```adb -d logcat BluetoothSanitasSbf70:D \*:S``` ?

[2017-06-06 22:24] nykroy commented on #42
Yes!!!! I add the scale name 'SANITAS sbf70' with the apk provided by @oliexdev and the app connect with the scale!!! Thank you very much.

[2017-06-07 12:40] famo commented on #42
Well, that the name has to match is an important information, which is not noticeable form the GUI at all!...
But yeah, when I change the name it works with the provided app.

However so far it only transfers the weight information, not water or muscle percentage.
How is it for you @nykroy ?

[2017-06-07 16:02] oliexdev commented on #42
Well what did you expect to enter by device name? But I already modified openScale so that on every device type a defaut device name is set.

[2017-06-07 16:02] #42 closed

[2017-06-08 14:33] XtractorFan opened #49 "Incorrect values importing from Mi scale Kg/llb"
Just found your app and it looks great, but....
I've been using a Mi scale since early 2016 - gave up with the MI app when I abandoned the wrist strap.
At my first attempt your app synced with the scale and downloaded all the data, but the values were a multiple of x2.2 (I assume its a llb/Kg conversion?) out. The scale is set for llb's and I set your app the same. If I switch your app to Kg the v

[2017-06-10 11:02] oliexdev commented on #49
Hi XtractorFan,

thanks for your comment. As you guessed it was interpreted as kg and so it was converted to lbs. I fixed it with commit https://github.com/oliexdev/openScale/commit/da60317da6508a29f01f7bcf435bfe3dfe2f1537

No data is deleted on the mi scale. It is impossible. It is correct that you received only new data after you received once the old data to improve the performance. Currently y

[2017-06-10 11:02] #49 closed

[2017-06-10 12:03] oliexdev commented on #43
I added with commit https://github.com/oliexdev/openScale/commit/870d6ed08ec05be436691d055efdd5996d59a925 a "ignore data out of range" option and with commit https://github.com/oliexdev/openScale/commit/13f45072fdc97800055ea9e69eb3f62373e863d7 I introduce a initial weight field to avoid problems when no first weight data exist for an user.

I hope this improve the usability of the app.

[2017-06-10 12:03] #43 closed

[2017-06-10 12:10] XtractorFan commented on #49
Many thanks for the reply Oli, much appreciated.
I'm afraid I'm not a programmer, so don't know how to compile your application - I'm limited to installing the app from Google Play which currently hosts v.1.5.2.
Is there an .apk available with these changes included?
In the meantime I'll try deleting the cache and re-starting with a new user.
Thanks

[2017-06-10 17:01] oliexdev commented on #49
I integrated to github a continuous integration process, so now you will always find the latest developer apk file in the root repository [openScale-dev-build.apk](https://github.com/oliexdev/openScale/blob/master/openScale-dev-build.apk)

Let me hear if it works :smile:

[2017-06-11 10:45] XtractorFan commented on #49
Thanks Oli, installed OK and seems to work well - I'll let you know how I get on.

[2017-06-15 08:45] oliexdev commented on #42
@jflesch or @all
can somebody send me (olie.xdev@googlemail.com) or post here a picture of the Sanitas SBF70 scale for the [openScale wiki page](https://github.com/oliexdev/openScale/wiki) (same camera angle like the others)?
I don't want to use an official image by the company due to copyright issues.

[2017-06-15 11:39] nykroy commented on #42
Yes, in 5 minutes i send you the photo

[2017-06-15 11:45] nykroy commented on #42
Check your email. If you need another photo tell me ok?

[2017-06-18 06:38] oliexdev commented on #46
implement an option to average data points for a day/month with commit https://github.com/oliexdev/openScale/commit/cadedb9a6009943a1891d72a53d5c28148d9efe9

[2017-06-18 06:38] #46 closed

[2017-06-18 15:15] oliexdev opened #50 "Bluetooth scales debug testing"
I refactored the Bluetooth classes with commit https://github.com/oliexdev/openScale/commit/18a84570e4650df35c96cf14f7f2988b5f3e1ebe and https://github.com/oliexdev/openScale/commit/490061f7b8adbe1f5d09b5f438eaac1a1705b3cb so it will be more developer friendly to implement a new Bluetooth scale class. But I am not sure if I mixed up some source code... I hope not :sweat_smile:
It would be great if

[2017-06-18 15:31] nykroy commented on #50
When i open the bluethoot settings the app crash

[2017-06-18 16:37] oliexdev commented on #50
@nykroy thx for the hint it should be fixed now please try again with the new developer build version.

[2017-06-18 19:13] nykroy commented on #50
Continue with the same problem :s

[2017-06-18 21:27] momo42 commented on #46
Thanks a lot! I would really like to see a new 'official' version of the improved app in f-droid. The last release is 4 weeks old already. :smiley:
Have a nice week!

[2017-06-19 05:47] oliexdev commented on #50
I cannot reproduce this error any more :/
Did you uninstall and install the developer build version to delete all caches (make before a backup of your data)?

[2017-06-19 06:06] nykroy commented on #50
Yes i did. :s

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 14:05] nykroy commented on #50
May you add some code for catch the error when i executed the app and then i could send you the report, or if you said me how can i report you the crash i can help you. Maybe one try catch on the bluethoot link??

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 15:03] oliexdev commented on #50
Thx this week I am not at home so I can't debug it...
Can you install android studio or use adb logcat to extract the stack trace with `adb logcat *:W`?

[2017-06-19 15:06] oliexdev commented on #46
Yeah but I think the developer version has some bugs see #50
Would be great if you could also test the developer version but create before a backup of your data.

[2017-06-19 17:11] nykroy commented on #50
here is the log. Thank you for all your work!!!
[adblog.txt](https://github.com/oliexdev/openScale/files/1085735/adblog.txt)

[2017-06-19 18:40] oliexdev commented on #50
What makes me wonder is that the error points to line 126 in your adb log file but with commit https://github.com/oliexdev/openScale/commit/c601033e365714d4bfd93babc2c5f85164d84c59 I added one command so now it point to an empty line. I seems you didn't install the latest developer build or the last build didn't use my fixed source code. I just triggered travis to build a new developer APK file. T

[2017-06-19 21:28] nykroy commented on #50
Whith the new app no crash!!! Thank you

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-20 12:39] nykroy commented on #50
Bad news. Whit the last apk i select the scale sanitas sbf70, theni go back to the home, i  push the bt button but dont find my scale. If i go again to the bluetooth setting i can see that the bt setting havent been saved O_o. If you go to bt setting you allways have selected the custom Open scale.

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastacc

[2017-06-20 16:15] jflesch commented on #50
FYI, bt scale data history is not supported with the SBF-70

[2017-06-20 16:42] nykroy commented on #50
I know it but i cant select that xD

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-20 16:44] jflesch commented on #50
My message was actually for @oliexdev :)

[2017-06-20 16:55] nykroy commented on #50
Ok jejeje sorry i didnt understood you

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 18:34] jflesch commented on #50
OK, I've tested and connection to the SBF-70 works for me.
However, I'm only getting the weight, not the other values.

[2017-06-21 18:38] jflesch commented on #50
Nevermind. It's still working for me. (for some reason, the first time I tried, the scale returned 0 on all the values but the weight ....)

[2017-06-21 18:40] jflesch commented on #50
@oliexdev OK, changes look good to me :)

[2017-06-21 18:46] jflesch commented on #50
@oliexdev However, I have the same problem than @nykroy . It appears BT settings are correctly saved, but are not displayed back correctly.

[2017-06-21 18:51] nykroy commented on #50
I dont now what the problem it is but the scale is on. I add a screenshots. :s
![capture _2017-06-21-20-44-23](https://user-images.githubusercontent.com/7745881/27401356-475e4f8a-56c3-11e7-8a0a-adfe2f95ef9b.png)

[2017-06-21 18:58] jflesch commented on #50
There are no warnings in the logs you posted. Can you try with something a bit different please :
[code]

[2017-06-21 19:02] jflesch commented on #50
Or even better:

[code]

[2017-06-21 19:11] nykroy commented on #50
of course. Thank you very much!!!
[No bluetooth device found.txt](https://github.com/oliexdev/openScale/files/1092616/No.bluetooth.device.found.txt)

[2017-06-21 19:20] jflesch commented on #50
Actually, while reading your logs, I realized that the address of your scale simply has a prefix unknown to OpenScale yet. I assume OpenScale has never worked with your scale yet ?

Anyway, I've added it to my PR for @oliexdev : https://github.com/oliexdev/openScale/pull/51

[2017-06-21 19:23] nykroy commented on #50
With the openScale_SBF70_NoHwCheck.apk i havent any problem to connect

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 19:28] jflesch commented on #50
(I assume you mean the .apk built for #42 ?)
Well .. to be perfectly honest, I think it shouldn't have worked since the prefix of the BT address doesn't match. However, I'm not sure what was the exact modification included by @oliexdev . Maybe he disabled the whole address check entirely for this test apk ?

[2017-06-21 19:30] nykroy commented on #50
Yes with that apk it works for me and my wife phone :s

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 19:54] oliexdev commented on #50
Yes I disabled the whole address check in the openScale_SBF70_NoHwCheck.apk test build.
Thx @jflesch for the PR #51
The device in BT setting is always reset because of https://github.com/oliexdev/openScale/commit/c601033e365714d4bfd93babc2c5f85164d84c59
In this commit I set the default value to zero which is custom openScale device. I set it because otherwise it crashed on a clean start-up. I need

[2017-06-21 20:07] nykroy commented on #50
Dont worry @oliexdev you are doing a very hard work for the sbf70 users because the original app doesnt work fine. I am very grateful with you and @jflesch

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 20:15] jflesch commented on #50
@oliexdev Just a thought : There seems to be quite a lot of address prefixes for the Sanitas SBF-70. I wouldn't be surprised if we discover more later. For this scale, wouldn't it be better to simply not filter on the BT address at all but only on the BT name ?

[2017-06-21 20:18] nykroy commented on #50
I install the last apk was modified by @oliexdev some minutes ago and now the scale is working!!

_Sent from my LGE LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-24 16:48] torpak opened #52 "can not connect to sanitas sbf70"
I set up the scale using the manufacturers app and then tried to connect with open scale using the sanitas sbf70 profile from the bluetooth menu i even set the scale name to "SANITAS SBF70".
No matter if the scale is active or inactive when i start it allways says it can't find the scale.
(I stopped the manufacturer app before to make sure it doesn't interfere)

Update: tried with latest developme

[2017-06-30 15:00] oliexdev commented on #50
I fixed the Bluetooth preference bug with commit https://github.com/oliexdev/openScale/commit/c97ae5376d3b0803ea91cd3d714eaba2e244fdf9

@jflesch I tried it once to disable the hw address check at all but openScale crashed. I found out now that if no device is found an empty string is returned. Now I will check this string so for SBF70 scale the hw address check is disabled.

Ok great I think the r

[2017-06-30 15:00] #50 closed

[2017-06-30 15:07] oliexdev commented on #52
Hi torpak,

I disabled the hw address check for the SBF70 please try the latest developer apk build 14

Best regards
oli

[2017-07-01 04:04] torpak commented on #52
That is mich better. The connection works mostly now.
Sometimes the weight is detected as zero. But i can live with that. Thank you!

[2017-07-02 07:26] #52 closed

[2017-07-11 21:38] kuehnelth opened #54 "BS444 no bluetooth device found"
Hi,
I just installed the app from Google Play (v1.5.3) but I cannot connect to my scale.
Probably because the MAC-address is not in the whitelist. It starts with C9:A6:8A.
Could you add that address?

Thanks

[2017-07-12 15:16] oliexdev commented on #54
thx for the hint. I added the new hw address. Please install the latest development build 21.

[2017-07-12 15:16] #54 closed

[2017-07-21 22:56] vogan commented on #54
Hi,

I had the same issue, different MAC-address. Fixed it by adding:

`hwAddresses.add("D60211");`

Thank you!

[2017-07-23 04:49] momo42 opened #55 "openScale 1.5.3 not on F-Droid"
The recent version of openScale is missing on F-Droid.
I don't know the exact process of publishing apps on F-Droid, but probably you forgot to do something for version 1.5.3? The older versions had a delay of max. 3 days from github to f-droid.

BTW: I don't use Google Play. So I loaded the .apk from github. I didn't see any bugs so far. Good work, oliexdev! :smiley:

Momo

[2017-07-23 12:24] oliexdev commented on #54
Hi vogan,

thanks for adding it. If you want you can create a pull request, so you will listed as a contributor. If not no problem then I will add it.

Best regards
oli

[2017-07-23 12:32] oliexdev commented on #55
Hi momo,

I changed in the source code the version code to 16 after I tagged the new version to 1.5.3 on github. I guess that is why f-droid didn't compile the new version. I didn't know that before but it makes sense for me.
Next time I will make sure that I commit the new version code before I tag it.

Best regards
oli

[2017-07-23 12:32] #55 closed

[2017-07-25 15:51] MilenaMMay opened #58 "Initial preset of measurement settings not regarded"
**Steps to reproduce:**

When I load the app to a new (virtual) device and create a new user,
the Overview view contains _all measurement settings_.

When I then go to Settings -> Measurements,
_I see that waist and hip circumferences are disabled by default_.

When I then close the Settings without changing anything and go back to Overview,
only the measurements that are enabled are shown (waist

[2017-07-25 20:03] kxpvcr opened #60 "Bounty for mi scale 2 support"
Hey! Just tested this with the 1st gen. scale and it works just fine. Do you have any idea of how much effort to support the 2nd gen. scale?

I can set up a bounty and contribute to it. Maybe people are into that, it'd be nice to have those extra measurements.

What do you think?

[2017-07-26 19:41] momo42 opened #61 ""Ignore data that are out of range" doesn't work (v. 1.5.3)"
Hello oli,

yesterday I used our Mi Scale to weigh a large parcel (~20kg).
Direct before the next phone sync I ticked the 'Ignore data that are out of range' box (wasn't ticked before) on my wifes and my phone to prevent a wrong weight assignment. But it didn't do the trick.
On my wifes phone the parcel values went to her user (first user). On my phone the values went to my user (also first user).

[2017-07-26 19:54] momo42 opened #62 "Table view shows values for the selected user but 'detail' view shows all (v. 1.5.3)"
Hello oli,

Today I had to delete some values from the table and stumbled upon a problem.

On the 'Table' page, you see all measurements for the selected user. When you tap on such a value, you come to a 'detail' page. On this page you can use the < and > buttons to switch to the next or previous measurement. In this view there are not just the users values but 'all' values. I write 'all' beause I

[2017-07-29 18:32] oliexdev commented on #58
thx it is fixed some default values were on true instead of false.

[2017-07-29 18:32] #58 closed

[2017-07-29 18:55] oliexdev commented on #61
I wrote wrong the internal option name. I wrote "ignoreOfOutRange" instead of "ignoreOutOfRange" :blush:

[2017-07-29 18:55] #61 closed

[2017-07-29 19:04] oliexdev commented on #62
You are right I didn't filter out the other users. Please test the new developer version if it works now.

[2017-07-29 19:19] oliexdev commented on #60
Hi kxpvcr,

I have no idea how much effort is to reverse engineer the 2nd generation of the mi scale. Maybe they change not much but it could also be possible if they encrypt all Bluetooth messages.

Thanks for your offer maybe somebody will accept it. For me I don't want any bounty (if you like openScale give it a positive rating). Furthermore here in Germany you can't buy the 2nd generation of t

[2017-07-31 06:47] MilenaMMay commented on #58
Great, thx =)

[2017-07-31 18:51] Poussinou opened #63 "Copyright violation"
Hi @oliexdev

I found [this app on the Google Play Store](https://play.google.com/store/apps/details?id=com.weight.watcherLoss). This guy just took the source code, added some adds and put it on the Google Play Store

As you are the owner of the source code, feel free to open a request to google [here](https://support.google.com/legal/contact/lr_dmca?product=googleplay) if it's your wish ;)

Don't

[2017-08-01 19:24] oliexdev commented on #63
thx it has been reported to Google. We will see how fast Google is to remove this app. He published it also on Amazon...

[2017-08-01 19:57] Poussinou commented on #63
Do not hesitate to send a mail to Amazon^^
Yep we will see how fast they are...

[2017-08-02 07:33] slobinger commented on #54
Same issue here. Added my hdAddress and made pull request #64.

Tanks for your great work.
Best regards
Sebastian

[2017-08-02 16:07] oliexdev opened #65 "BLE Scanner for selecting a BLE device"
openScale currently requires a hardware address or a device name for the Bluetooth connection.
Unfortunately, the Medisana BS444 scale always has different hardware addresses and device names, see #54.

How is the best and user friendly way to handle with different hardware addresses and device names of scales? Maybe somebody is a Bluetooth expert or as an idea to solve this issue.

[2017-08-09 13:47] hirnsushi commented on #54
Same problem here.
My MAC-Address starts with DA:45:CF.
I would have opened a pull request myself but wanted to make sure I really only have to include the beginning of the address.

[2017-08-09 14:56] hirnsushi commented on #54
That would be great, thx.

[2017-08-09 15:03] oliexdev commented on #54
it's done with commit https://github.com/oliexdev/openScale/commit/94104497beb009c71cc03e80ef97e5157b2327b8
Please install the latest developer build 41 to get this change. The hw address will official contain in the app after the next release.

[2017-08-09 15:42] oliexdev commented on #63
Now Google is working to remove the WeightWatcher app by [TopMobile Tech](https://play.google.com/store/apps/dev?id=8641344094929372114) from GooglePlay.

I also stated now a DMCA takedown notice to Amazon regarding to the [WeightWatcher app on Amazon](https://www.amazon.com/TopMobile-Tech-Weight-Watchers-BMI/dp/B073ZPRH9J)

[2017-08-09 15:43] #60 closed

[2017-08-09 15:43] #62 closed

[2017-08-10 14:58] oliexdev commented on #63
Amazon was pretty quick. On Amazon and GooglePlay the WeightWatcher app is now removed.

thanks again @Poussinou you are really a top GPL violation hunter :1st_place_medal:

I see you reported many developer about open source violations. The open source community need more people like you. Do you have a good strategy to find those apps that are violating the GPL?

[2017-08-10 14:58] #63 closed

[2017-08-10 21:06] Poussinou commented on #63
Thanks for taking some time to report them :smiley:
No problem !
I have a good search strategy yep, but I do not explain it in public since it could help fake developers to circumvent it... But I have no script nor software to do it, nothing can replace a human judgment in this case, I assume.
My only tool is a document where I keep a log of fake developers, apps I reported, stuffs like that...
Do

[2017-08-10 21:07] Poussinou commented on #63
I do not "hunt" on the Amazon Store yet, but I'll maybe do now

[2017-08-17 20:18] kuehnelth commented on #65
The official app for the BS444 seems to search for the service UUID "000078b2-0000-1000-8000-00805f9b34fb" to decide if a BLE device is a BS444 scale or something else.
So maybe you could also use this method to identify it?

[2017-08-25 16:01] kxpvcr commented on #60
Stellar 🥇

I got mine from Spain, not that expensive. If you decide you'd like some monetary compensation for your effort, let me know!

[2017-08-25 16:16] nykroy commented on #60
Me too, i searched time ago to donate some money for your efforts but i didnt find anything

_Sent from my Lge LG-H870 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-26 14:55] DavidXochipilli opened #67 "New Launcher Icon?"
Hey @oliexdev,
thanks you so much for your awesome app! Are you interested in a new launcher icon?
I am not good at design myself but I could ask someone. Do you have any wishes?

[2017-08-26 15:39] oliexdev commented on #67
Hi DavidXochipilli,

I am very interested in a new launcher icon. :smiley: I am not a good graphic designer as well.
I have only two wishes: Firstly the icon launcher should be available in the following sizes to met the android design requirements:
512x512px,  192x192px, 144x144px, 96x96px, 72x72px, 48x48px or in a svg format.
Secondly the icon must be licensed in a way that I can use it in my ap

[2017-08-26 15:51] oliexdev commented on #65
Would be possible but then I have to discover all Bluetooth devices and UUIDs.

[2017-08-26 16:14] oliexdev commented on #63
you are right your strategy must stay secret :smile:
But without scripts or software must be really hard to find those violations.
An image matching algorithm would be good to find at least first hints of a violations just by comparing  the original app screenshot with all other app screenshots on Google Play... :thinking:

[2017-08-26 19:35] Poussinou commented on #63
Yep but I'm not good enough to code such a script... ^^
I was on holidays, I'll hunt a little bit now

[2017-08-27 16:32] DavidXochipilli commented on #67
@Sajidshaik will do the design and I will send him a few dollars for his work 👌

[2017-08-28 18:33] DavidXochipilli commented on #67
Here's a preview @oliexdev, please tell us your thoughts:
![openscale_materialicon_preview](https://user-images.githubusercontent.com/29784866/29787684-1a3e4a30-8c30-11e7-8fa2-61cb6e30898f.png)

[2017-08-28 19:06] oliexdev commented on #67
Good job it looks already better than the current openScale icon :+1:

I think the design of the new icon is a bit too "complex". For example in a small icon scale you can't really see the black dots anymore.

Some app icons maybe for inspiration which I like are:
https://play.google.com/store/apps/details?id=jp.co.recruit.mtl.beslim
https://play.google.com/store/apps/details?id=com.yunmai.scaleen

[2017-08-29 21:50] DavidXochipilli commented on #67
I will send two icon versions, one with the dots and one without.
Is that fine or do you have other ideas? 🤔

[2017-08-30 15:11] oliexdev commented on #67
I don't have really a good idea. Maybe the icon designer has another idea or somebody else in the openScale community?

But anyway I will use also the icon version above if nobody has another idea. But there is also no time pressure because I will be in the next weeks anyway on my holidays and travel around the world :smile:

[2017-08-30 19:09] DavidXochipilli commented on #67
@Sajidshaik and I don't have another good idea either. 😥
He will upload a .zip with your requested sizes and the .ai source file in some days.
Maybe the community can give us some input, they are our last hope. 😀
We wish you an awesome journey! 😎

[2017-08-31 15:08] oliexdev commented on #67
Thank you!

I created a icon based on https://www.flaticon.com/free-icon/weight_527064 by Those Icons

What do you think?

![openscale_new](https://user-images.githubusercontent.com/10166185/29930290-4fb7c7aa-8e6e-11e7-8b01-97dac1308698.png)

[2017-09-04 18:33] DavidXochipilli commented on #67
To be honest, I don't like your icon that much because it isn't really Material. 🤔

[2017-09-04 19:46] nykroy commented on #67
I think the same that @DavidXochipilli

[2017-09-09 08:50] john-bill opened #68 "Diagram year looking strange"
Hi, after upgrading to 1.5.4 from f-droid the diagramm per year is looking strange, all values per month seem to be printed on first of the month.

![image](https://user-images.githubusercontent.com/7611130/30238713-8b843fe0-954c-11e7-92f4-1ecd5dbfdf30.png)

[2017-09-14 10:28] PabloGN commented on #68
Yes, it is because the last change in android_app/app/src/main/java/com/health/openscale/gui/fragments/GraphFragment.java
         if (field == Calendar.DAY_OF_MONTH) {
             day_date = new SimpleDateFormat("dd", Locale.getDefault());
        } else if (field == Calendar.MONTH) {
            day_date = new SimpleDateFormat("MMM", Locale.getDefault());
         }
And the x-axis:
-

[2017-09-16 18:55] DavidXochipilli commented on #67
I attached a zip with the icon.
For the [Credits](https://github.com/oliexdev/openScale/blob/master/CREDITS): [Sajid Shaik](https://plus.google.com/u/0/+DroidAppsReviewer).
[OpenScale.zip](https://github.com/oliexdev/openScale/files/1308578/OpenScale.zip)

[2017-09-17 06:44] Sajidshaik commented on #67
Here you go @oliexdev
[OpenScale.zip](https://github.com/oliexdev/openScale/files/1308882/OpenScale.zip)

[2017-09-21 00:25] beothorn opened #69 "Linear regression for measurements"
When trying to achieve a goal, it is nice to see to which direction the measurements are leading to, specially the weight.
I've used other weight measurements software that showed me how when I would reach my goal if I kept my current pace and it was really usefull.
Maybe as an option?
Is that something you would find usefull?

[2017-09-21 06:21] oliexdev commented on #68
In the settings->diagram is an option to enable or disable to calculate the average of a month / day, regarding to issue #46.
Did you enabled it? But even if it is enabled, the diagram looks a bit strange. Can you post the exported csv file so I can look into it?

[2017-09-21 07:40] oliexdev commented on #67
I am back from my journey, I had a great time :sunglasses:

Thank you so much for your designed icon @Sajidshaik and @DavidXochipilli for your effort but honestly currently I am a bit uncertain which icon I should use... :thinking:

What do you mean it isn't really material @DavidXochipilli?

[2017-09-21 07:50] oliexdev commented on #69
Hi beothorn,

I think as an option it would be useful to have a linear regression line for the weight but for all measurements I think that would be too much...   Additionally I can add an optional "goal" line.

Best regards
oli

[2017-09-22 08:57] oliexdev commented on #69
I implemented a goal line and a linear regression line for weight values with commit https://github.com/oliexdev/openScale/commit/8761ef5f0e0f74183567d47c1066df6cff0a4df0

But I am not really sure anymore if it really helps the linear regression line because depending on the data it is only rough outline of your predicted weight process!?
I tried also a quadratic regression line but is that more u

[2017-09-22 08:57] #69 closed

[2017-09-22 10:37] oliexdev commented on #69
I added an option to set the polynomical order for the regression weight line.

[2017-09-22 10:43] oliexdev commented on #67
Btw @Sajidshaik under which license is your icon?

[2017-09-23 02:00] beothorn commented on #69
Wow, thanks, that was fast :)

I'm using it to lose weight and I feel more motivated when I see my weight loss trend compared to my goal.
It is not the best model to predict weight loss but because my goal is set to next year, it helps me to know if I am losing too much weight (I don't think it is healthy to lose too much in a too short time) or too little.

Quadratic is really nice, but at least

[2017-09-23 02:09] beothorn commented on #69
Ops, prediction line is correct (I've added entries only for one month) , just my code for the goal line it's not.

[2017-09-23 04:28] beothorn commented on #69
https://github.com/oliexdev/openScale/pull/70

[2017-09-23 06:18] oliexdev commented on #69
The goal line was displayed but I implemented it in a way that is not automatically zoomed out to the goal line because it is possible that the goal weight and the weight values have a big gap. In these situation the x-axis would be to big. So please zoom out the diagram to see the goal line.

I think we have different views of how a goal line should be displayed in the diagram.  :wink:

For me it

[2017-09-23 09:23] oliexdev opened #71 "Reverse engineering Yunmai mini scale"
I am trying to reverse engineer the yunmai mini scale.

I already found out the weight values but I can't figure out the body fat percentage, muscle percentage and so on. Any help or idea is welcome.

So far what I got:

- No weight values are stored on the scale itself. You have to be connected to the yunmai app to receive any data
- Weights are continuous send to UUID: Unknown (0xffe4) (if you s

[2017-09-23 14:55] beothorn commented on #69
Oh, I see. Yes, I misunderstood what you've meant with goal line  :)
I did what I did because then I can compare it to the prediction line, like this

[https://imgur.com/a/gAFnt](goal vs prediciton)

So, I think both makes sense, but in two different context. The straight line for when you are trying to maintain weight and the line towards a date when you are trying to lose weight.

Maybe both as

[2017-09-23 15:39] DavidXochipilli commented on #67
That are great news! 👍

[https://material.io/guidelines/](https://material.io/guidelines/)
[https://material.io/guidelines/style/icons.html](https://material.io/guidelines/style/icons.html)
[Making Material Design on YouTube](https://youtu.be/rrT6v5sOwJg)

Maybe @Sajidshaik can add a better explanation. It is quite difficult to explain for me. 🤔
Maybe even [Google](https://www.youtube.com/channel/

[2017-09-23 15:43] oliexdev commented on #69
You are right both variants makes in some way sense but I think your interpretation of a goal line is more confusing. I will keep my implementation, sorry... :(
But thanks for your idea and your effort, that keeps me motivated.

[2017-09-23 16:04] beothorn commented on #69
No problem.
Thanks for your time :+1:

[2017-09-23 16:30] oliexdev commented on #67
I understand what you mean. I've now decided on an icon, I think the below icon fits more to openScale because of its simplicity but that doesn't mean Sajidshaik icon is bad. Hope your are not mad at me... :(

I have changed the icon a little bit but to comply with the material design guide, I think I am too bad at inkscape.

![ic_launcher_openscale](https://user-images.githubusercontent.com/10166

[2017-09-23 16:30] #67 closed

[2017-09-24 07:38] oliexdev commented on #71
I discovered that the last byte of each row is a XOR checksum starting from byte 1.

[2017-09-24 18:42] oliexdev commented on #71
ok byte 17-18 contains the body fat in percent multiplied by 100.

[2017-09-25 18:41] john-bill commented on #68
When average setting is enabled, the diagram looks ok. But when disabling this setting I get the effect, that all monthly values are printed on the last day of month.
csv as txt attached

[openScale_data.txt](https://github.com/oliexdev/openScale/files/1330488/openScale_data.txt)

[2017-09-26 17:44] oliexdev commented on #68
ok not really a bug. It was only that all data (if average data was disabled) was showed on the corresponding month. That is why you have such vertical lines but I improved it to show the days of the year with commit https://github.com/oliexdev/openScale/commit/bfea2d6c3e65b34123aa5a153c8c6c7f9f411a6c

[2017-09-26 17:44] #68 closed

[2017-09-26 20:03] chemstar opened #74 "Help to add support for lumsing SmartScale"
Hi, following the wiki tutorial from this page i've re engineered some informations from my own bt scale.  so far i've discovered following:

**lumsing SmartScale CF369BLE**
http://en.lefu.cc/intelligent/22.html

**BT-Description:**
Name: Electronic Scale
UUIDs:  65520
             Custom Service: f000ffc0-0451-4000-b000-000000000000 ?
**BLE-Apps:**
Connection: fail
Type: LE only
Flags: LimitedDis

[2017-09-27 08:01] ovritter opened #75 "Another "BS444 no bluetooth connection" (missing MAC-adress)"
I had to add MAC-adress "CD9D0C" to get my BS444 working.
Suggestion:
Add option to settings, where users can add/remove first letters of MAC-adress.

[2017-09-29 14:33] oliexdev commented on #74
Hi chemstar,

thanks for your reverse engineering work. I will implement that into openScale but I need a bit more information.

Can you write down the service and uuid which is EXPA and EXPB was send/receive to? You can see it in wireshark if you collapse the "Handle: xxx" item or upload the log file so I can see by myself.

Which Bluetooth device name and device hardware address has the scale?

[2017-09-29 14:37] oliexdev commented on #75
thanks I added it and yeah I am already aware of that hw address problem, see #65.

[2017-09-29 14:37] #75 closed

[2017-09-29 15:58] oliexdev commented on #74
I implemented a first try with commit https://github.com/oliexdev/openScale/commit/a98cf937dd701c51e1504e9d208ebe99a138e578
But I need more information to get it work, so please post your log file.

Thank you in advance

[2017-09-29 17:06] oliexdev commented on #71
thanks to @pwnall and @conoro already analysed the protocol under, see [here](https://gist.github.com/conoro/f0c1d96c450a8f5cce70e2846c3686c4)
Also thanks to Dodo who found that information.

So in my example we have now the following information:
[code]
But sadly I have no idea how to calculate the muscle, water percentage, bone mass and protein out of the resistance. I found some formula but non

[2017-09-29 20:49] chemstar commented on #74
log attached
for further informations you can take a look at iwellness4.0 app (https://play.google.com/store/apps/details?id=com.lefu.iwellness4.system&hl=de) using show java decompiler (https://play.google.com/store/apps/details?id=com.njlabs.showjava&hl=de)

[btsnoop_hci.zip](https://github.com/oliexdev/openScale/files/1345655/btsnoop_hci.zip)

Regards

[2017-09-30 18:18] oliexdev commented on #74
thanks @chemstar but sadly somehow in the handle they are no UUIDs...
Does the [BLE scanner](https://play.google.com/store/apps/details?id=com.macdom.ble.blescanner) works? FYI sometimes it needs several times that the connection is established to the scale.

[2017-09-30 20:45] chemstar commented on #74
Yes i have seen that. It take some tries to get the scale data even with the iwellness app.

[2017-10-01 07:54] oliexdev commented on #65
implemented a BLE scanner to select a device, see commit https://github.com/oliexdev/openScale/commit/ba9f72d5ee3a9c098a7df421d647b259dd53f3e7.

Maybe somebody can test that with their scale if it works?

[2017-10-01 09:47] oliexdev commented on #74
then it will be really hard for me to implement it without using the scale because I have to try and test out which UUID and Bluetooth characteristic are used. Currently I take your UUID from above.

Maybe I guessed right. You can test the latest developer version if you want.

Does the developer build connect to the scale?
If yes, do you receive any data?
If yes, are the weight and other values c

[2017-10-01 12:56] oliexdev commented on #71
implemented a first version of the Yunmai Mini (only supported weight and fat) with commit https://github.com/oliexdev/openScale/commit/c37f71939a613549c0532351a0605156b7b43ddf

[2017-10-01 13:04] #65 closed

[2017-10-02 12:52] chemstar commented on #74
unfortunately it doesnt work,
**but** following some examples on the net i could make some proges. based on sample ble apps and informations from (https://www.allaboutcircuits.com/projects/how-to-communicate-with-a-custom-ble-using-an-android-app/)  i could establishing connection and read some data from it.
the adaptations i've made:

    public void readCustomCharacteristic() {
        if (mBlue

[2017-10-02 13:35] oliexdev commented on #74
I updated the UUIDs with commit https://github.com/oliexdev/openScale/commit/777c84dd3b4cb0cabeadb68ea75906a0c5d319fe

Please test the [developer build version 69](https://github.com/oliexdev/openScale/blob/master/openScale-dev-build.apk).

[2017-10-02 19:20] baztian opened #77 "Medisana BS 430 doesn't work"
Hi, I'm having a BS 430. Unfortunately it isn't recognized when I hit the Bluetooth button.
Am I doing something wrong? Is it simply unsupported. Can I help somehow reporting some technical data or analyzing with hcitool?
Thanks

[2017-10-02 20:56] chemstar commented on #74
i've made some progress and i think i'm more than close to the happy end ;-)
- Method: nextInitCmd(..)
case 1: causes an Unhandled exception in callback ... BluetoothGattDescriptor.setValue(byte[])' on a null object reference
- Method: nextBluetoothCmd(...)
case 1:
setNotificationOn(WEIGHT_MEASUREMENT_SERVICE, WEIGHT_CUSTOM0_CHARACTERISTIC, WEIGHT_MEASUREMENT_CONFIG);
- Method: onBluetoothDataChan

[2017-10-03 07:27] oliexdev commented on #77
Hi baztian,

No you didn't do something wrong. The Medisana BS 430 is currently not supported only the Medisana BS444 one.
Sure you can help. You could try to reverse engineer your scale, see the openScale wiki for more information. Maybe they use also the same protocol like the BS444...

Best regards
oli

[2017-10-03 07:44] oliexdev commented on #74
great :)

Ok maybe the UUID `0000FFF1-0000-1000-8000-00805f9b34fb` don't have a notification flag. I deleted this state.

ok moved to the `nextBluetoothCmd(...)`

true

addScaleData is already at the end of parseByte method.

you can already add new data. Just click on the plus button on the bottom in the overview tab.

BMI, bone weight, BMR are already supported. What do you mean with user levels

[2017-10-03 10:10] baztian commented on #77
Hi oli, I was hoping that BS 430 is compatible with BS 444. According to [keptenkurk's BS440 Project](/keptenkurk/BS440) that software supports both and they name both it in one breath. In the code I didn't find a differentiated handling.
What if the protocol is the same? What needs to be changed to openScale to support BS 430? Why didn't it detect the BS 430?
Anyway, I'll have a look at the rever

[2017-10-03 10:39] oliexdev commented on #77
Could be possible that BS 430 is compatible with BS 444.
You have to change in the [BluetoothMedisanaBS444 class](https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothMedisanaBS444.java) the method `checkDeviceName(String btDeviceName)` so that is accepts the BS 430 device name.

[2017-10-03 11:30] chemstar commented on #74
thx oli,

i didn't mean the manual input, but input over bt.
on enabled "smartUserAssign" and selected user"A" the meassurement for user"B" will be added to the correct profile but without any visible feedback.

in the scale app i got an option to set different user levels:
01 - level ,00/01/02 ordinary/amateur/professional (fe 01 01 "01" (<- this one) b8 26 01 9e)

**explaination:**
* Ordinary: p

[2017-10-03 12:58] oliexdev commented on #74
ok I implemented with commit https://github.com/oliexdev/openScale/commit/b0fe50c365fe047c8fb53eaf6bbd3a964dd7063a a toast text which shows the weight, the date and to which user it was added.

01 - level ,00/01/02 ordinary/amateur/professional (fe 01 01 "01" (<- this one) b8 26 01 9e)

ok I understand but that would take more time to implement.

thanks it was a bug it should be fixed now

stopSea

[2017-10-03 13:18] oliexdev commented on #74
only one data transmission of the same content is allowed with commit https://github.com/oliexdev/openScale/commit/77e3a4c7d1fbce91c2b5ed5be95b3171744fa849

and "case 2" is removed.

[2017-10-03 18:56] chemstar commented on #74
app is working, but sometimes it need some attempts to connect to device. i thought that:

will change something. requires some further investigation.

- an issue in onBluetoothDataChange(...)
use "if (!Arrays.equals(data, receivedData)) { // accepts only one data of the same content" for doing the comparisson

- another question:
sometime the scale can't calculate other values so only the weight

[2017-10-03 19:19] baztian commented on #77
How can I find out the btDeviceName? Using linux btmon when doing a hcitool lescan I get

    Name (complete): 0203B 02E6B64754C2

That's also the information the BLE Scanner app gives me. Also under DEVICE NAME I get a UUID `00002A00-0000-1000-8000-00805F9B34FB`.

For what String shall I search in the `checkDeviceName` method?

Thanks

[2017-10-04 15:29] oliexdev commented on #77
Medisana is using weird device names. The last digits is your individual Bluetooth hardware address.
Check for the beginning of the device name. Use this code snippet:

[code]

Please give feedback if it works.

[2017-10-04 15:58] oliexdev commented on #74
ok changed it.

there is not really a gap and is not falling to 0. There is no datapoint for the missing values but if the next measurement has values again then the diagram is connected to the last values.

I assume the scale is working now, so I close this issue.

Can you please provide a photo of your scale for the openScale wiki site? (same angle like the other photo)

[2017-10-04 15:58] #74 closed

[2017-10-04 16:43] chemstar commented on #74
only two things more,

shouldn't it be used for nextCleanUpCmd after successfull data transfer?

- and due to completeness, some additional error-codes:
[fd 31 00 00 00 00 00 31] - ERROR_CODE
[fd 33 00 00 00 00 00 33] - ERROR_CODE_GETDATE
[fd 31 00 00 00 00 00 33] - ERROR_CODE_TEST

i will take a photo and attach it here

[2017-10-04 19:57] roqeer commented on #52
I have similar problem. New scale SBF70 worked great with OpenScale but returned only weight without other measurements. hone with Android 7.1
Then I set up with original app to add user profiles with other device on Android 6.0 (original app is rather bad and doesn't work on 7.1). This allows measuring additional things.
After that OpenScale stopped working with SBF70. It shows that it connects t

[2017-10-05 09:19] yacc143 commented on #77
I've got a Medisana BS444 (it says so on the back side, and it looks exactly like the photo in the wiki), but it has a completely different HW ADDR:

name: 0805A012430ADD addr: D4:DE:29:05:FB:19

Guess I need to brush up how to compile apk files after patching the detection functionality to detect it?

![2017-10-05-111604](https://user-images.githubusercontent.com/1036524/31219773-a85ccc14-a9be-11

[2017-10-05 11:33] yacc143 commented on #77
Any idea how this is supposed to work?

I've used a patched apk so my Medisana BS 444 was recognized as such in settings/bluetooth/device.

But I tried to hit the Bluetooth button on the top right before/during/after using the scale, and I managed a couple times to get the connection dots on both sides of the bluetooth button. No data.

And the + Button at the bottom seems to be a manual data entr

[2017-10-05 19:51] NerosTie commented on #60
Hey! Any news about the support of the Mi Scale 2? Thanks

[2017-10-06 10:42] baztian commented on #77
@oliexdev I patched the java file and built it using travis as I didn't want to setup a android build environment locally. I tweaked the travis file to upload as [github release](/baztian/openScale/releases). When I try to install the file Android asks me to do so but then it says "App wurde nicht installiet" (App wasn't installed). I've allowed for insecure origins.
Any ideas?

[2017-10-06 10:50] baztian commented on #77
@oliexdev nevermind. I had to uninstall the app first. Now it starts normally.

[2017-10-06 10:52] baztian commented on #77
It says "connecting to 0203B 02E6B64754C2". But after some seconds it says "disconnected". No measurements were recorded.
I guess I have to really work through the wiki.

[2017-10-06 13:34] oliexdev commented on #77
@yacc143 does your scale works with the original app?
While you are using a patched apk file you should receive some data... Maybe you can check the used UUIDs from your scale with the UUIDs used by openScale?

@baztian maybe they just change a little thing?

[2017-10-06 13:39] oliexdev commented on #60
Yeah yesterday I got an email that the package was sent to me but it comes from China so it takes some time.

[2017-10-06 13:45] oliexdev commented on #52
I don't own this scale so I can't really help but if I interpret the source code correct the user name in openScale have to be same as your added profile in the original app. Other idea is to reset your scale? Delete all profiles and let openScale add one. But make before a backup of your data. Just some ideas.
Please give feedback if one works.

[2017-10-06 14:03] oliexdev commented on #74
thanks @chemstar yeah if you can implement the stop command and test it maybe?

[2017-10-06 14:11] NerosTie commented on #60
Nice! Because my Mi Scale 1 just died after 2 years so maybe I'll take the new version...

[2017-10-06 15:07] yacc143 commented on #77
@oliexdev Just assuming, this should work, right?

root@miraculix:~# sudo service bluetooth restart
root@miraculix:~# hcitool leinfo D4:DE:29:05:FB:19
Requesting information ...
Could not create connection: Connection timed out
root@miraculix:~# hcitool leinfo D4:DE:29:05:FB:19
Requesting information ...
Could not create connection: Input/output error

First time the leinfo takes a long time (coup

[2017-10-07 06:11] oliexdev commented on #77
@yacc143 It looks like you bought a faulty hardware. I never used hcitool I mostly use the BLE scanner App by Bluepixel Technology LLP.

[2017-10-07 09:17] chemstar commented on #74
- add  "android.permission.ACCESS_COARSE_LOCATION" to AndroidManifest.xml
(due to: https://stackoverflow.com/questions/33045581/location-needs-to-be-enabled-for-bluetooth-low-energy-scanning-on-android-6-0)
- i've tested the poweroff cmd, but i see no sense of the function because the device will turn off itself  after short time of inactivity.

[code]
- some additional informations from the manua

[2017-10-09 17:09] pepelisbon opened #79 "Option to export csv in GoldenCheetah format"
Thanks for your great app.
Please add an option to export csv in way that can be imported by GoldenCheetah:

date,weightkg,fatkg,boneskg,musclekg,leankg,fatpercent,comment
2017-10-07T12:00:00Z,81.15,12.10,5.4,0,32.5,12.57,"Here the comment text contain commas itself, so it needs quotes"
[Goldencheetah weight1.csv.txt](https://github.com/oliexdev/openScale/files/1369312/Goldencheetah.weight1.csv.tx

[2017-10-10 16:30] pepelisbon commented on #79
I am a end user off both OpenScale and GoldenCheetah, both great.
I would love to see both working better together.
 And my coding skills=0
And i think adding this option, OpenScale will be valorized.
Thanks for your great app
pepe

[2017-10-11 19:02] DavidXochipilli commented on #67
The icon is under the CC0 1.0 Universal license.

[2017-10-11 19:07] erijo opened #81 "Improve measurements entry"
On my scale, after measurements have been taken, the values for body fat, muscles etc. loop by twice after which they disappears. To make measurements entry in the app smoother it would be nice if you could configure the order in which the measurements appear during entry to be the same as on the scale. Then after entering the weight and pressing ok (or next) it would display the next entry in the

[2017-10-16 20:43] KavajNaruj opened #82 "Feature request - MQTT support"
Hi, first i want to thank you for this great app, definitely better than original [Health Coach](https://play.google.com/store/apps/details?id=de.sanitas_online.healthcoach&hl=en)

I'd like to ask if is possible to add support to publish data after measurement to [MQTT broker](https://github.com/mqtt/mqtt.github.io)? I am not fan of regularly exporting. In addition to backups it can add other uses

[2017-10-17 15:35] oliexdev commented on #82
I am not a big fan to send health data to any public clouds for privacy reasons (one reason why I started openScale, see [here](https://github.com/oliexdev/openScale/wiki/Custom-Bluetooth-Scale#how-its-started-)) but of course you are free to do it.
If you want you can export the data and write a script to send it via MQTT protocol. Another solution  is to write for e.g. lets call it "openScale Co

[2017-10-17 15:39] oliexdev commented on #81
Hi erijo,

I understand your problem and yeah your idea sounds good but to configure the order is not simple to implement yet. But I will keep that in mind. Thanks.
The + and - buttons is much easier to implement. If I have a bit more time I will implement it.

[2017-10-17 15:42] oliexdev commented on #77
I will close this issue now if anyone has more information or a solution please create a new issue or create a pull request.

[2017-10-17 15:42] #77 closed

[2017-10-18 13:47] KavajNaruj commented on #82
No clouds! I am running MQTT broker on LAN and I'd like to have a backup on NAS locally .

The MQTT is much better than SQL. If you subscribe for "topic" like lets say "openScale/user/weigth" you get values in real time, instead of repetable asking SQL database for changes.

So that kind of application that you mention (GARMIN,Google Fit and so on) will be esier to write, but that is not my conser

[2017-10-22 09:24] oliexdev commented on #81
added + and - buttons with commit https://github.com/oliexdev/openScale/commit/22d812a2ccd97bfbd407997959fbb4ed20532804

[2017-10-22 09:24] #81 closed

[2017-10-22 11:41] oliexdev commented on #82
ok send a PR with your implementation. Either I will create a connector app as describe above or I will integrate it directly into openScale.

[2017-10-22 11:41] #82 closed

[2017-10-23 09:42] XtractorFan commented on #49
Hi Oli,
I've just revisited your openscale and downloaded your 1.5.5 release.
I'm a type 2 diabetic and I'm using a low carb (keto) diet to try and control my condition - but I'm losing too much weight.....
Both myself and the wife use the Xiaomi smart scale but your app can't seem to sort our weight into 2 users - how do I do that?
Myself (colin) currently weigh 142lbs and wendy weighs 123lbs - a

[2017-10-23 09:57] xyzolo opened #84 "What about mi scale 2?"
Good afternoon, I use scales, please specify whether they are being developed for them or not.

[2017-10-25 18:32] ashimokawa opened #85 "Xiaomi Mi Scale ("MIBCS")"
I just got my Mi Scale for use with openScale ;)
Unfortunately it seems to be unsupported, the device ~~looks just the same as the "old" Mi Scale but~~ identifies itself as MIBCS. Model Number is XMTZC02HM

I can try to have a closer look at it later and maybe help with the protocol if it is different.

Might be a duplicate of #84

[2017-10-26 17:53] ashimokawa commented on #85
Sorry, duplicate of #84, I was not aware what I was buying.

[2017-10-26 17:53] #85 closed

[2017-10-26 20:17] ohault opened #86 "Support of Wii Balance Board ?"
https://github.com/paulburton/fitscales

[2017-10-30 07:31] oliexdev commented on #49
@XtractorFan
Please create two users with your initial weight. After that enable under preferences the "smart user assignment". On the next synchronisation the weight should be assign the user which has the latest nearest weight.

[2017-10-30 13:02] oliexdev commented on #84
see PR #85 by @ashimokawa
After a long time I also received my mi scale v2, but I still have to look it up. Therefore, there is no guarantee that it will ever be supported by openScale.

[2017-10-30 13:02] #84 closed

[2017-10-30 13:03] oliexdev commented on #86
feel free to support implement it. I don't have a Wii Balance Board so I can't test it.
I will close this issue here please create a new PR if you have some implementation.

[2017-10-30 13:03] #86 closed

[2017-10-31 04:21] Vanuan commented on #71
I have Yunmai SE shown as "YUNMAI-ISSE-US"
MAC: 60:64:05:xx:xx:xx (Vendor: Texas Instruments)

The protocol looks very similar. How can I force open scale to use Yunmai mini driver?

[2017-10-31 06:15] Vanuan commented on #71
[code]

[2017-10-31 07:33] oliexdev commented on #71
If you want to try your scale with the Yunmai Mini protocol change the method `checkDeviceName(...)` in https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothYunmaiMini.java
to the following:
[code]

This will accepts your device name as a Yunmai Mini device.

[2017-10-31 10:57] Vanuan commented on #71
It looks like it is identical.
The only difference is that these 2 parameters are always `00 00 00 00`:

[code]

[2017-10-31 12:19] oliexdev commented on #71
if I see it right on http://www.iyunmai.com/us/m/light-se/ the Yunmai SE scale can only measure your weight.
@Vanuan did you received your weight with the yunmai mini protocol? If yes I can implement it in openScale.

[2017-10-31 12:25] XtractorFan commented on #49
Hi Oli,
Tried that several time - clearing data and cache each time to no avail,
all data comes in (when it works) on the currently displayed user - my
wife's data doesn't get updated.
Also the bluetooth comms are very erratic, showing 'lost connection'
frequently - I read your note, so I know you had to 'reverse engineer'
the comms with the Mi scale - but it's so hit-and-miss....
I have tried it

[2017-10-31 12:41] oliexdev commented on #49
hmm... I think I found a bug in openScale but I am not sure. Can you test it again but please set your initial weight in **kg** not in lbs because I forgot to convert the initial weight into the internal basis weight which is kg.

Do you sync to the scale always with different smartphones or tablets? Does your connection is also lost if you only sync with one device?

[2017-10-31 16:00] XtractorFan commented on #49
Yes, a bug....
My scale is set to lbs, but your app only seems to work in kg.
This is what happens when I add the user's using lbs and the 'target' at
Colin 143lb and Wendy 123lb:
  it doesn’t sort the data into 2 Colin & Wendy bins....

But if I set it to kg AND set the target to 143kg 123kg, the data comes
in and gets sorted into the 2 user bins:
  but of course the results are in kg, not lbs -

[2017-10-31 17:43] Vanuan commented on #71
Yes.

[2017-10-31 18:39] oliexdev commented on #49
yeah as I guessed it was my fault I didn't convert the initial weight to the user scale unit. It should be fixed now. Please install and test the beta version of openScale, see https://github.com/oliexdev/openScale/releases. Enter your initial weight in your selected unit with the beta version.

As far as I know the mi scale doesn't delete any data on the scale. So after 2 years you probably have

[2017-10-31 18:41] oliexdev commented on #71
I implemented a version of Yunmai SE. Please install and try the beta version of the openScale under https://github.com/oliexdev/openScale/releases

[2017-10-31 22:00] Vanuan commented on #71
Sure. Does this look good?
![img_20171031_235813](https://user-images.githubusercontent.com/361985/32250999-b385120c-be97-11e7-8576-6aeccc638964.jpg)

[2017-10-31 22:16] Vanuan commented on #71
It works. I see "[weight] to [user] added".
Can this app send some command so that units are changed from `lb` to `kg`?

[2017-11-01 06:52] oliexdev commented on #71
sure openScale can send commands but I need to know what I have to send to change the unit :wink:
You have to analyse the Bluetooth protocol with wireshark see openScale wiki for more information how to do that.

Thanks for your image. Is it possible to take another one while the scale is turned off?

[2017-11-01 12:03] XtractorFan commented on #49
Hi Oli, thanks for that - a big improvement, but still a few issues....
Wendy's data still has a few out of range values, looks like it has
wrongly sorted them from mine to her bin.
Wendy doesn't weigh herself every day, but I do.
My data has July, August and September data missing, but it is dumped
into her readings.

Also the charting doesn't work for 2017 - see above.
The comms now seem better

[2017-11-01 17:34] oliexdev commented on #49
hmm... I don't know why some of your data are mixed up? Did your two weights overlap for a period of time?
No the toast text doesn't slow down the app. It is only that you receive faster data then the toast text "display time".
I don't understand what you mean with re-sort? The sorting in the app depends on the weight date. You can't change it. But you can export your data and your wife data in tw

[2017-11-01 19:38] XtractorFan commented on #49
Hi Oli, hope they didn't overlap - that would mean myself or Wendy
putting on/losing 20lbs
I guess it's probably a 'glitch' in the data stored in the scale, I'm
sure it's not your app - as it happens on both tablets.
Something has improved the data download function, as it works on the
Samsung now - great!
Yes, that's what I meant by re-sort, export the 2 data sets, swap the
suspect months then im

[2017-11-01 20:02] oliexdev commented on #49
First of all I am sorry that you have so much trouble with openScale but you seem to be a "power user" :wink:
So I am appreciate for your help to improve openScale. :+1:

I am not sure if its really a glitch because the user assignment is clear programmed:  "Assign to the user with the nearest last weight value...." :thinking:

Yeah with clean openScale environment I mean delete the whole user dat

[2017-11-02 01:48] Vanuan commented on #71
![img_20171031_235754](https://user-images.githubusercontent.com/361985/32305871-9c5f6c46-bf80-11e7-9554-808792f2f4d4.jpg)

[2017-11-02 08:46] XtractorFan commented on #49
No reason to be sorry Oli, just glad I can help improve your very useful
program.
I look forward to your next update.
Regards,
Colin

------ Original Message ------
From: "OliE" <notifications@github.com>
To: "oliexdev/openScale" <openScale@noreply.github.com>
Cc: "XtractorFan" <colin@lbhfarm.co.uk>; "Mention"
<mention@noreply.github.com>
Sent: 01/11/2017 20:02:41
Subject: Re: [oliexdev/openScale]

[2017-11-02 21:30] tianxiaogu opened #89 "java.lang.NumberFormatException"
The parseInt at [UserSettingsActivity:#261](https://github.com/oliexdev/openScale/blob/8f7600f5fffa12cca1d0ba4d8177c0fced24f7f0/android_app/app/src/main/java/com/health/openscale/gui/activities/UserSettingsActivity.java#) should handle very large interger.

[code]

[2017-11-05 19:00] woj-tek opened #91 "[FR] Dark theme"
It would be cool if the application had a dark/black theme.

[2017-11-07 22:18] retro-78 commented on #91
+1

[2017-11-08 07:12] dynobo opened #92 "Bodyfat etc. on Digoo DG-S038H"
Hi,
I experience some trouble with the Measurement of Bodyfat and the other Health Date: Sometimes (~every 5-10th measurement?) they are calculated an transfered to OpenScale correctly, but most of the time, they are missing. Bodyweight however works perfectly and get's shown every time.
Any hints? :)

[2017-11-08 08:19] dynobo opened #93 "Initial setup with Digoo DG-S038H"
Hi, just wondering:
Initially I wasn't able to connect with the Scale: Bluetooth connection couldn't be established.
I downloaded the vendors App to test the Hardware, which was working fine. After that, also OpenScale was able to connect perfectly.

Later, I removed the vendors app and the connection with OpenScale keeps working.

Is this the intended/usual behavior? That the venders App is neede

[2017-11-08 17:20] oliexdev commented on #89
How did you end up with such a great number for the user height?

Anyway thanks I fixed it with commit https://github.com/oliexdev/openScale/commit/481eb17d367f5d1c5012c5caed88708d145c9cf9

[2017-11-08 17:20] #89 closed

[2017-11-08 17:22] oliexdev commented on #91
good idea but need to figure out how to implement that. I don't really like the xml stuff in android... :/
so any help are welcome.

[2017-11-08 17:24] tianxiaogu commented on #89
Hi @oliexdev, thank you for taking time to fix this issue. I was evaluating my automated GUI testing tool on a set of well-maintained open source apps, and this app is one of them.

[2017-11-08 17:25] oliexdev commented on #92
Hi dynobo,

I can't really help you because I don't own this scale @Murgeye in the PR #73 reverse engineered and implemented this scale.

Best regards
oli

[2017-11-08 17:28] oliexdev commented on #93
Yeah must of the scales needs to be initialized for example to set the time to enable the body measurement functions and so on. I guess with your scale the initial process was not reverse engineered and implemented into openScale. So yeah you can help to do it. You need to record the initial process via Bluetooth with the vendor app. How you do it please read the openScale wiki. If you have any qu

[2017-11-08 17:32] oliexdev commented on #89
ok I understand :wink:
well then you will definitely find more bugs in openScale because I didn't really catch all user mistakes...

[2017-11-10 07:13] dynobo opened #96 "Good scale to use with OpenScale?"
Hi,

What are your experience with Scales connected to OpenScale? Which Scale is supported good or best?

Background: I tried the Digoo Scale, but had some issues with it in combination with OpenScale: Initial pairing had to be done with the vendors app and no other values than weight were transferred. I'll send it back and look for an alternative...

Thanks!

[2017-11-10 07:15] dynobo commented on #92
Thanks, I had also other issues and the Scales quality doesn't convince me either. I'll send it back, so this is not relevant for me anymore.

[2017-11-10 07:15] #92 closed

[2017-11-10 07:17] dynobo commented on #93
Thanks for your comment, but as I also have other issues with the scale, i'm going to send it back and can't help here. I'm leave it to you, to close the issue or wait for someone else to work on it.

[2017-11-10 08:27] Murgeye commented on #92
Just for reference: All data except the weight is transferred after a short delay. If you don't stand on it long enough they won't show up. Just wait for the weight display on the scale to stop blinking (no idea why it takes so long to calculate, the original app shows the same behavior for me).

[2017-11-10 08:30] Murgeye commented on #93
I guess I'll spend some time to find out who to reset the initialization process for my scale when I find the time. Sorry, I didn't realize that part was missing because it just works for me :smile:

[2017-11-10 13:37] oliexdev commented on #96
As I don't own all scales by myself I can't really say which works the best with openScale.

But here are few thoughts which you may consider in your decision:

- The best control of the scale is to hack a scale like the [Custom Bluetooth scale](https://github.com/oliexdev/openScale/wiki/Custom-Bluetooth-Scale) which was the starting point of openScale. You have full control of everything and it w

[2017-11-10 15:14] dynobo commented on #92
That wasn't the case for me: I stand on the scale, the light was blinking, bluetooth connected, and I stepped off after the scales display (and the scale itself?) switched off. However, I also was under the impression that the timing (between switching on, connecting to bluetooth and measurement) somehow had an influence here. Just couldnt figure out a pattern...

[2017-11-11 08:28] dynobo commented on #96
Thanks, that helps me a lot :-)

And yes, I think it would be a good idea, to create a place in the Wiki, where experiences with the different scales and OpenScale can be shared. 👍

[2017-11-11 10:02] timoc commented on #52
I have the same issue - the FAQ says "Please step onto the scale barefoot and ensure that a user has been added and assigned. If user assignment has taken place, your initials will be shown on the scale display. If this is not the case, perform user assignment in the app in the menu area Settings > My devices > SBF 70.  "
Does openScale create users?

[2017-11-11 12:40] oliexdev commented on #52
@timoc I didn't implemented it but as I can see from the source code yes an user is created but only if no user exist on the scale and if the maximum users are not reached.

So my suggestion is to delete all users using the original app and then use openScale (make a backup of your data first!)

Please give feedback if this is working.

[2017-11-11 16:50] zamicol commented on #71
After reading this conversation, I'm buying a Yunmai SE.

[2017-11-18 14:11] wasbeer opened #97 "Medisana BS444 not showing up in BLE scanner"
Hi,

my Medisana BS444 scale does not show up in the built-in BLE scanner. Is this normal?

It also doesn't show up in the third party BLE scanner app. I did not register the scale yet with Vitadock.

Is it still necessary to add the MAC to the class, or does the BLE scanner cover this part?

[2017-11-19 04:47] fabads opened #98 "Add Muscle mass"
Hello,

My scale displays a muscle mass instead of Muscle %.
Would it be possible to include this feature or a toggle in the settings to allow selection of % or mass ?

Thx for this great app!

Fabrice

[2017-11-19 05:03] fabads opened #99 "French translations adjustments"
Hello,

Below some suggestions to improve the french translations:
- For harmonization purpose, I suggest you to change "Taux de graisse corporelle" by "Pourcentage de graisse corporelle"
- you can translate "Bone mass" by "Masse osseuse"
- You can translate "Basal metabolic rate" by "Taux métabolique basal (BMR)" (keep BMR into brackets as it's also commonly used in France).

My scale is also giv

[2017-11-19 07:48] oliexdev commented on #97
No you don't have to add a MAC address the built-in BLE scanner in openScale search for your device name.
When your scale is on your device should be found by a BLE scanner normally.
Does it work with the original app? Maybe you bought a faulty scale.

[2017-11-19 07:49] oliexdev commented on #98
see #59

[2017-11-19 07:49] #98 closed

[2017-11-19 07:57] oliexdev commented on #99
thanks I added yours French translations but still some French translations are missing.
Yeah visceral fat is another measurement see #4

[2017-11-19 07:59] oliexdev commented on #93
I will close this issue for now.
@Murgeye would be great if you find some time to look into it.

[2017-11-19 07:59] #93 closed

[2017-11-19 08:00] oliexdev commented on #96
added an overview page of supported scales at https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale

[2017-11-19 08:00] #96 closed

[2017-11-19 08:16] fabads commented on #98
Not sure to understand the answer. As the other user my scale gives a mass
instead of percents.

Le 19 nov. 2017 8:49 AM, "OliE" <notifications@github.com> a écrit :

[2017-11-19 08:16] fabads commented on #99
OK I will check and translate it for you

Le 19 nov. 2017 8:57 AM, "OliE" <notifications@github.com> a écrit :

[2017-11-19 12:49] oliexdev commented on #98
like in #59 described currently I am not quite sure how to best implement it.

[2017-11-21 09:15] chote opened #102 "Does excelvan supported weight and body fat data ?"
The  remark/known issues  column  of 'The Supported scales in openScale' for excelvan is blank  ,Does it means weight and body fat are supported?

[2017-11-22 15:45] Lakshmi-Narasimhan opened #103 "Could you help me with connecting to Renpho scale with openscale."
Am a newbie and am unable to understand reverse engineering renpho scale as this scale is not even pairing with my bluetooth, the scale is connected and  values are shown only on the renpho app.

[2017-11-25 07:10] oliexdev commented on #102
yes they are supported. :smile:

[2017-11-25 07:10] #102 closed

[2017-11-25 07:12] oliexdev commented on #103
Did you try to reverse engineer your scale as described in the [wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Blueeoth-4.x-scale)?

[2017-11-25 07:15] oliexdev commented on #97
I will close this issue. Comment here if you have any further questions.

[2017-11-25 07:15] #97 closed

[2017-11-29 13:05] giuaig opened #108 "[Help] Default csv format"
Hello,
i'd like to import old data from a Sanitas SBF70 scale and their Healthcoach app.

I have found this columns in the old app database:
`ScaleMeasurementID,UserId,MeasurementDate,MeasurementTime,WeightKg,WeightPound,BodyFatPct,BodyFatPctUpper,BodyFatPctLower,WaterPct,MusclePct,MusclePctUpper,MusclePctLower,BoneMassKg,BoneMassPound,BMI,BMRKCal,AMRKCal,ActivityGrade,Comment,IncludeInGraph,IsAdd

[2017-11-29 16:26] maszek commented on #103
That's a complex process. It's not clear where certain values should be filled in.
The Bitsnoop log file is not readable:

![btsnoop logfile screenshot_20171129-171507](https://user-images.githubusercontent.com/990963/33385840-e2d677f0-d529-11e7-8a64-165786cb03ea.jpg)

The Open Scale app is searching, but only for a particular type of scale (MI-scale), it seems:

![open scale screenshot_20171129-1

[2017-11-29 18:09] erijo commented on #108
See the importData method in https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/OpenScale.java

[2017-12-01 14:55] oliexdev commented on #108
as @erijo already said it is in the above java file at `importData(..)` defined.

your csv format hast to be look like:
`DateTime;Weight;Fat;Water;Muscle;LBW;Bone;Waist;Hip;Comment;`

The date time format should look like `dd.MM.yyyy HH:mm`

But the simplest method is to export some sample data an look at the generated csv file.

[2017-12-01 14:55] #108 closed

[2017-12-01 15:30] oliexdev commented on #103
@maszek you have to open the Bootsnoop log file with [wireshark](https://www.wireshark.org/)
openScale is searching for default the Mi scale but if you device is not supported then openScale can't connect to your scale.

Maybe they exist another BLE scanner that are open source.

Yeah Blueeoth was of course a typing error thanks for your hint.

[2017-12-02 09:57] linuxlurak opened #111 "Need Help: reverse engineering Beurer BF 700 bt protocol"
Hello! I have a Beurer BF 700 and the bulky "HealthManager App" from Beurer for Android. I decoded the Android App in a few steps and got the source code. But I don't know what to look for.

I found the fcc docs from beurer here: https://fccid.io/VGR-BF700.

Publishing the app's source code would be an infringement; it is closed source. Please contact me privately for more info about the source co

[2017-12-03 15:11] oliexdev commented on #111
The FCC documents are not relevant. Decompiled source code is hard to understand.  Please read the [wiki page](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale) for how to reverse engineer the Bluetooth protocol. Btw I can't contact you because you don't have any email address published on your github page.

[2017-12-05 18:49] oliexdev commented on #99
I will close this issue here. If somebody has more French translations please create a PR or comment it here. Thanks in advance.

[2017-12-05 18:49] #99 closed

[2017-12-06 11:03] maszek commented on #103
Okay, I was hoping it would be easier when I read the 'crate of beer' instruction, which is about the level I am able to comprehend.
Good luck developing your app, it looks promising, I'll check in again later.

[2017-12-06 16:18] oliexdev commented on #103
ok no problem I will close this issue. Please create a new issue or comment here if you have further questions related to this topic.

[2017-12-06 16:18] #103 closed

[2017-12-15 07:20] Dododappere commented on #111
The Beurer BF700/800 scales use basically the same protocol as the Sanitas SBF70. Sanitas is actually a sub-brand of Beurer...

Where Sanitas commands start with 0xe7, Beurer commands start with 0xf7. The byte that follows after that is usually the same for both the Sanitas and Beurer scales, apart from some exceptions.

[2017-12-15 08:44] linuxlurak commented on #111
I assumed this too! How did you get proof of it? How do you know the start command? It compared detail photos of the devices, but had no access to the internal electronic or even a firmware dump...

I'll check it with the start command, thanks for letting us know!

[2017-12-15 08:58] linuxlurak commented on #111
Some days before I forked openscale and created a Beurer BF700 clone based on the sanitas here: https://github.com/linuxlurak/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothBeurerBF700.java

I'll compile the app and post the results here if it works with your starting byte.

[2017-12-15 09:22] linuxlurak commented on #111
connecting to the beurer bf700 works according to the app:
![image](https://user-images.githubusercontent.com/3813355/34035231-ace60c46-e181-11e7-9316-f44c2143dc14.png)

No data gets synchronized at the moment. I assume the app requests the data on every connection with the scale?

Perhaps wrong UUID etc. I have to check on that.

[2017-12-15 14:19] Dododappere commented on #111
From looking at your code there are a couple of more changes needed:
- Change 0xe6 to 0xf6
- Change 0xe9 to 0xf9

For the rest I suggest you step through it with a debugger to see what works and what doesn't...

[2017-12-15 18:21] linuxlurak commented on #111
@Dododappere so many thanks to you! It works!

[2017-12-15 19:54] Dododappere commented on #111
You're welcome!

The Beurer BF800 will also work with this code...how about enabling that one as well?

[2017-12-15 21:06] linuxlurak commented on #111
Done!

[2017-12-16 07:35] oliexdev commented on #111
thanks @linuxlurak and @Dododappere

Could you tell us what is working and what not, so I can write the correct entry in our supported scale table (https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale)

Additionally could you post an image of your scale for our gallery (same angle like the other ones)

Thanks in advance

[2017-12-16 08:50] linuxlurak commented on #111
Pictures:
<img src="https://user-images.githubusercontent.com/3813355/34068935-ee304a08-e245-11e7-905c-9df2c5897535.jpg" width="200">
<img src="https://user-images.githubusercontent.com/3813355/34068936-ee505370-e245-11e7-8ab8-327d896a3564.jpg" width="200">

AMR is not displayed in the app only BMR. At the moment I know nothing about user creation, multi users, etc.

[2017-12-17 11:10] #111 closed

[2017-12-17 15:22] oliexdev commented on #111
Could you tell me how your Beurer device name is written in the android application? Can you test the version 1.6.1? One user reported that his Beurer scale is not supported.

[2017-12-17 16:34] linuxlurak commented on #111
![image](https://user-images.githubusercontent.com/3813355/34081647-84406e64-e350-11e7-967c-8ea0bce357f6.png)

[2017-12-17 16:57] linuxlurak commented on #111
Indeed c 1.6.1 does not recognize my BF700. See my commment on your commit https://github.com/oliexdev/openScale/commit/f465e4e8d9eecc5d2c5cfdaecd89f237db1ecd49

[2017-12-17 17:18] oliexdev commented on #111
I fixed it with commit https://github.com/oliexdev/openScale/commit/f465e4e8d9eecc5d2c5cfdaecd89f237db1ecd49
I already updated all released files on GitHub and GooglePlay. Please test the new file.
Under version on the about page in openScale should now be displayed "v1.6.1 (21)"

[2017-12-17 17:46] linuxlurak commented on #111
Build 21 works with BF700

[2017-12-20 12:58] Dododappere commented on #111
Hi guys, today I got my hands on a Runtastic Libra which looked suspiciously similar to the BF800. So I did some tests and it behaves EXACTLY the same as the BF800!

It advertises itself as "RT-Libra-B". Can you add it as well?

[2017-12-20 15:59] erijo commented on #111
I can't find 1.6.1 on Google play (nor on f-droid).

[2017-12-20 18:47] oliexdev commented on #111
@linuxlurak  thanks unfortunately an user still reported a problem as follow:

But as he report it via a two star review I can't really help because his problem description is not really helpful and the review system on GooglePlay is not really designed for a discussion.

@Dododappere thanks so did you already test the Runtastic libra scale with openScale?

@erijo On GooglePlay I only rolled out t

[2017-12-21 09:07] linuxlurak commented on #111
@oliexdev hmm the device connects and it shows the weight and it's changing values when I step on the scale.

I created a new user. this user was added to the scale and the data gets synchronized.

My first user was not able to synchronize anymore. That's true; I had the same problem as the cited user. Is the sync process in anyway scale dependent? So the change from BF700 to BF700/800 could have

[2017-12-22 15:55] linuxlurak commented on #111
My scale tells me that it's full. OpenScale seems not to clear the already synchronized data. At the moment I can't take further test. I have to install the beuerer app first and delete all the data.

[2017-12-22 19:25] Dododappere commented on #111
@linuxlurak there is a method deleteScaleData() in the code for the BF700 which should delete all the stored measurements for a user. Is that not called? Perhaps add some extra logging to see if that is called or not. However, if you have other users that are also still using the scale, the memory will obviously be full at some point....openScale does not delete measurements from other users.

The

[2017-12-22 20:40] Dododappere commented on #111
@oliexdev I am trying your app (from Google Play store) with my Beurer BF800 and it doesn't work. It sees the scale but it says 'Beurer BF800-B [device not supported]'. I think it is because of the '-B' in the advertisement name....

[2017-12-22 20:46] igstewart opened #115 "Cannot delete Beurer BF700 measurements"
Readings from Beurer BF700 scales with 1.6.1 is recording the record id value as NULL.

This is resulting in readings from the scale having no trash can to delete them.

Exporting a backup, manually editing the record id and importing resolves the issue.

[2017-12-23 08:14] linuxlurak commented on #111
@Dododappere can you instruct me, where i can find the log? a log of android OS? In the source are some writings to a log file but I don't know where this log file is located...

[2017-12-23 11:00] oliexdev commented on #111
@Dododappere
the method is only called if the current item reached the maximum item, see
[code]

Thanks, good to know if the Beurer use also another Bluetooth device name as -B in the name. I changed the device name checking with commit https://github.com/oliexdev/openScale/commit/7283bd17335bd8e7a77aca02a4cbd18884140bbd

Should work now with the latest source code. Thank your for considering inst

[2017-12-23 11:06] oliexdev commented on #115
what do you mean with the record id? Is the record id from the scale? What do you mean it has no trash can?
Sorry currently I can't follow you but I also don't own this scale. Maybe the problem is along with the issue #111 which is currently in discussion?

[2017-12-23 11:22] igstewart commented on #115
When you backup data from the app it saves a database and there is an id field which increments with each new reading, this has a NULL value for readings from the scale.
![null](https://user-images.githubusercontent.com/25162870/34319176-61c80e96-e7d3-11e7-8bda-0141cbe1b1b5.png)

When manually inputting weight a trashcan is shown to delete individual records.
![screenshot_20171223-110909](https://

[2017-12-23 11:59] linuxlurak commented on #115
I reinstalled openscale (from playstore this time) and reset my scale. Ill report back when the scale gets full again and won't delete the old results. Now jumping on and off the scale ;)

[2017-12-23 12:09] igstewart commented on #115
There doesn't seem to be any issue in readings being deleted from the scale itself for me.

It's purely removing them from the app itself I'm having issues with.

[2017-12-23 16:03] linuxlurak commented on #115
So i filled up my BF700 with measurements till it displayed "FULL". Now no data gets synced at all. My scale stays full. Perhaps this case is not handled?

[2017-12-23 16:05] igstewart commented on #115
This is a different issue from mine...

[2017-12-23 16:07] linuxlurak commented on #115
Sorry. You specifically meant the delete button / trash can, I see now, right? I'll open a new issue.

[2017-12-23 16:24] linuxlurak commented on #111
So i filled up my BF700 with measurements till it displayed "FULL". Now no data gets synced at all. My scale stays full. Perhaps this case is not handled?

I now compiled the newest github version of openscale. I'll try to add so more log output and report back.

[2017-12-23 16:45] linuxlurak commented on #111
I added
`Log.v(TAG, "logtest");`
to some points of the code but I can't find anything in logcat... I am lost.

[2017-12-23 16:57] erijo commented on #111
Perhaps that log level is filtered out. Try Log.d or Log.e instead.

[2017-12-23 17:29] linuxlurak commented on #111
log level error seems to work. How do I switch on loglevel debug? all the log output of openscale is on level debug. That's why I have zero output...

[2017-12-23 17:31] oliexdev commented on #115
@igstewart Thanks Now I understand what you mean. Unfortunately I can't reproduce this behaviour. The id is defined as a primary key in the sql database, so its automatically set by the database. Also the manual adding via the add dialog and the automatic adding of the Bluetooth data is done with the same method `addScaleData(..)` in openScale.java file.

Could it be that you are using an OnePlus

[2017-12-23 17:32] igstewart commented on #115
I'm using a Xiaomi Mi 5 running Lineage 14.1

[2017-12-23 17:33] erijo commented on #111
See https://developer.android.com/studio/command-line/logcat.html#filteringOutput

[2017-12-23 17:37] oliexdev commented on #111
@linuxlurak see http://adbshell.com/commands/adb-logcat

[2017-12-23 17:43] oliexdev commented on #115
hmm sorry I don't know I can't find the problem. Maybe its help to reinstall openScale? (Make before a backup of your data)

[2017-12-23 17:49] linuxlurak commented on #111
@oliexdev & @erijo thank you for trying to help me! ;D

![image](https://user-images.githubusercontent.com/3813355/34321529-71cdb9d8-e811-11e7-90d6-2d4890f30827.png)

As I understand it (both of your links) this prints the log according to the log level. But I have nothing that gets printed to the log file at all... So it's not a problem of sorting / filtering the log file but of having anything f

[2017-12-23 17:53] linuxlurak commented on #111
At the shell (adb logcat) the app prints nothing. Isn't it the same log in android studio anyways?

[2017-12-23 17:55] igstewart commented on #115
There seems to be some sort of issue with exporting/importing backups.

I wiped the app data and set everything up fresh and readings from the scale are able to be deleted.

If I then export a backup of these readings and import it back again the  records lose the ability to be deleted again.

So a fresh, known working backup stops working when it is imported, never mind the one I made to import m

[2017-12-23 18:05] erijo commented on #111
Are you running the debug build? Otherwise debug logs may be removed.

I use the "Run" tab in Android studio to see debug logs. Perhaps you can try that?

[2017-12-23 18:08] oliexdev commented on #115
did you change something (e.g. add new rows) in the exported database?
Normally it can't break the database by exporting and importing the database again because it is an exact copy of the database.

If you want to import your old data from the beurer app it is better to use the import function on the table page. Create a csv file in the same format for openScale. See how it should look like by ex

[2017-12-23 18:14] linuxlurak commented on #111
I normally press the debug button little gear icon. Even with menu Run> Debug 'app' Log.d won't show up. But Log.e works. I don't know what setting to set where. I'll replace all Log.d with log.e for the moment. Thanks for your effrots @erijo !

[2017-12-23 18:18] linuxlurak commented on #111
Ok. Now there is some output:

[2017-12-23 18:37] igstewart commented on #115
OK, I got it working by just doing a csv import, thanks!

But there is definitely something wonky with the backup import/export function in the settings menu.

As I say, exporting and immediately re-importing data purely created in app leads to breakage.

[2017-12-23 18:39] oliexdev commented on #115
that is strange but currently I can't reproduce this behaviour.

[2017-12-23 18:39] #115 closed

[2017-12-23 20:17] Dododappere commented on #115
@oliexdev I managed to compile openScale and running it. I can confirm the Beurer BF800 works with your last fix!

One question though, I had to try a couple of time before it would actually connect to the device. I saw in the log some lines with 'No device found'.....I am running Android 8.1 on a Nexus 5X. Does this sound familiar? It seems reconnecting to a known device is a bit unreliable...

[2017-12-23 20:25] Dododappere commented on #111
@oliexdev Confirmed, the Runtastic Libra indeed works! Same as BF800.

[2017-12-25 15:49] lenucksi commented on #52
Sorry to reply to an open existing, closed issue, however my issue pretty much follows up on this one. Feel free to decouple it to it's own, new issue.
I've got the same scale and have the following behaviour:
 - Scale reset using the button on the bottom side
 - Smartphone using 7.1
 - Last revision of OpenScale out of the F-Droid Store
 - The vendor app recognizes the scale, however fails to pro

[2017-12-25 19:30] blaggacao opened #119 "Reverse engineering steps."
For fun, I thought it might be insightful todu reverse engineering on my Tezzio scale which works with the android app Fat Scale, but this app is crap...
However, I've no idea where to start... Can you give me hints, tools?

[2017-12-25 21:10] atmaniak commented on #119
You can start here, i'm currently trying to implement my scale to (Geonaute Scale 700).
https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale

[2017-12-27 08:13] oliexdev commented on #119
as already @atmaniak wrote please read the wiki for hints how to reverse engineer a Bluetooth scale.

If you two have any question or a success please create a PR or open a new issue.

[2017-12-27 08:13] #119 closed

[2017-12-27 08:15] oliexdev commented on #111
@Dododappere thanks!

[2017-12-27 08:22] oliexdev commented on #115
@Dododappere
It could be happened if the last Bluetooth connection was not successful terminated or if you reconnected to quickly. Currently I don't have a solution to this problem. :(

[2017-12-30 00:06] govvin opened #120 "Keeps crashing in Android, after update to 8.1.0"
I'm using version 1.6 from the FDroid repo, but after my recent update to Android 8.1, it has become unusable and I couldn't even launch the app. It just keeps crashing.

[2017-12-30 09:21] oliexdev commented on #120
Hi @govvin

I tested openScale with Android Oreo in a simulator and here it works fine.
Do you use an official stable version of Android Oreo or a beta version?
Did you send a crash report?
Did you try to reinstall openScale? (make before a backup of your data)

Best regards
oli

[2017-12-30 09:41] govvin commented on #120
Yes, I'm using the latest, official version of Oreo for the Pixel.

There's no option for sending a crash report. Just a notification: https://mstdn.io/system/media_attachments/files/001/062/016/original/c9d2356de8ec67c8.png

I can try to reinstall, but couldn't find the data folder. Could you tell me where?

[2017-12-30 11:32] oliexdev commented on #120
That's wired normally they if an option to send a crash report if the app crashed. Maybe they change something in Oreo?

The data folder is on Android under `/data/com.health.openscale/databases` but you need root access to view it.

[2018-01-01 08:07] govvin commented on #120
I am now convinced it had nothing to do with the Oreo update, and must likely to be the recent change in the database - and that I've missed using OpenScale for some time.

So, what I did was to recover my backup (CSV, and DB) from another device and tried to import the DB first. That failed, with the app crashing - a similar behavior I recently just experienced.

So I tried the CSV next, and it s

[2018-01-01 12:54] oliexdev commented on #120
I guess you had an older version of openScale. It is true that currently I don't have backwards compatible of csv and sql backup files. But you did the right thing to recover it.
Currently I try to change the SQL backend to Android Room library which is more powerful and much easier to use.

[2018-01-01 12:54] #120 closed

[2018-01-02 14:18] m-z-b opened #122 "Overview display x-axis incorrect on year change"
On 2 Jan 2018  the x-axis labels showed the values 359 days, 861 days, 862 days, 863 days, -1 days rather than the small negative numbers expected.

[2018-01-02 14:59] oliexdev commented on #122
I guess your problem is already fixed with PR #116 by @erijo.
You can try the latest [development build](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) by Travis if you want.

[2018-01-02 14:59] #122 closed

[2018-01-02 22:57] erijo opened #125 "Not possible to import backup created with 1.6.1"
A backup created with 1.6.1 can not be imported when running latest master due to the room change.

[2018-01-03 00:07] erijo commented on #125
It doesn't seem like it possible to import a backup created with the latest master either.

[2018-01-03 08:36] jbvo opened #126 "Date labels on overview page are overflowing on new year"
As we have just gone into 2018, I noticed that the date labels on the graph on the overview page are overflowing somehow.
I weighed on January 2 2018 and before that on December 26 2017. The rightmost label says `0 days`, the one left of that says `358 days`.

[2018-01-03 08:38] jbvo commented on #126
![screenshot_20180103-092256](https://user-images.githubusercontent.com/24601408/34513698-ca027390-f069-11e7-97dd-d8118743d456.png)

[2018-01-03 08:40] erijo commented on #126
This is fixed on master but not yet released. See #116.

[2018-01-03 09:00] jbvo commented on #126
Indeed, excuse me for the duplicate.

[2018-01-03 09:00] #126 closed

[2018-01-03 15:33] oliexdev commented on #125
I know but the developer version is not the final version. Changing the database framework is not a small step. There is still some work to do ;)
Currently I am experimenting with the openCSV library for exporting / importing to/from a CSV file but I am getting stuck with the library.
I want to improve the quality of the source code that it will be easier to maintain and to have less work in the f

[2018-01-03 17:06] erijo commented on #125
Ok, I see. Will hold my horses reporting bugs then :)

Given #122 and #126, do you think it would be a good idea to create a 1.6.2 release based on 788abef? If you think so and want some help I could help prepare a branch for it. Just let me know.

[2018-01-03 22:36] erijo opened #128 "Show last measurement when opening chart view"
If you have done some measurements in December 2017, but none now in 2018, the chart view should show the last month with measurements instead of showing an empty chart for 2018 when opened.

[2018-01-04 18:15] oliexdev commented on #128
Honestly I see no problem here. If you didn't weight in 2017 you should simple weight one time yourself in 2018 to see something ;) But if you have a simple solution for that issue I will implement that behaviour.

[2018-01-04 19:01] oliexdev commented on #125
That was not my intention ;) You are welcome to report more bugs and issues.

For the next release some issues should be fixed first:
I want to get some positive feedbacks weather the SBF 75 scale is working or not, see #118.
Then the implemented Room data migration strategy needs more testing so that no data will be lost on a upgrade.
And last but not least I want to implement a better CSV import

[2018-01-05 08:53] woj-tek opened #129 "Measurements unit"
Hi,
thanks for the great project! I've been using openScale with my non-IoT scale for more than a year and it was great.

Recently I've got xiaomi mi scale 2 and.. for some reason it gives the muscle measurements in kilograms instead of % (and also is about 20 % points off of my previous scale...), so if I wan't to put that into openScale I would have to calculate that manually.

**tl;dr**
please

[2018-01-05 08:56] woj-tek opened #130 "Disable measurements in the overview"
Currently all measurements types are enabled which impose the scale (so bone mass in [kg] would be around dozens and then weight in 60-90 [kg]) which results in 5 almost straight lines.
In chart view we can enable/disable particular measurements types which gives better information.

[2018-01-05 12:17] oliexdev commented on #129
I understand that its similar to PR #59 and issue #4.
As in both links described currently It is not so easy to add some new measurement in a clean way.
But step by step its getting easier. I changed the internal database library and so on but there is still some work to do.

[2018-01-05 12:17] #129 closed

[2018-01-05 12:18] oliexdev commented on #130
You can completely disable a measurement in the settings->mesurements.

[2018-01-05 12:18] #130 closed

[2018-01-05 12:26] woj-tek commented on #130
Hmm, but I do want to track those measurements and disabling them there removes them completely from tracking. This is only about disabling showing particular measurements in overview graph (they can still be listed in text form below).

[2018-01-05 12:30] oliexdev commented on #130
Ok I understand but how will you do it? Add more buttons like in the graph view? Add more options in the settings and to overload it?

[2018-01-05 12:33] woj-tek commented on #129
more to #59 - I've missed that one (and I've saw #4 but IMHO this is slightly different). I've commented there.

[2018-01-05 12:38] woj-tek commented on #130
Hmm, option in preference could clutter the preferences, but in respect to #59 there could be sub-items in the preferences for each measurement type:
[code]

Alternatively, as the tap on measurement in overview list is already assigned to the assesment view (small scale with the information about the norm) there could be a long tap to show/hide in the graph, but that would require more discoverabi

[2018-01-05 12:46] oliexdev commented on #130
Yeah they are some ideas like in #59 but it needs to be also practicable to programme it ;)
That's currently the point I could hack something but I would brake my idea. The idea is If we had one spot in the source code for the measurements, the other views or fragments should be dynamically changed.

[2018-01-05 18:10] comcamot opened #132 ""Normal" weight vs "Normal" bmi"
I understand that in EvaluationSheet.java one defines the values of "normal" parameters. For BMI one uses age and sex instead of the simplified version which considers normal everything between 18.5 and 24.99.
For weight, however, one just assumes that normal BMI is between 20 and 25 (for men) and from it and the heigth it derives the normal weight.  For ages>40 or ages<20 this leads to inconsiste

[2018-01-05 19:46] oliexdev commented on #125
I implemented a new CSV import / export method with the SimpleCSV library and updated the export/import methods.
But the underlying data structure had been changed a lot so there is no backwards compatible with any old CSV or backup data of previous openScale versions.

[2018-01-05 19:46] #125 closed

[2018-01-05 20:18] oliexdev commented on #132
Sorry I don't get you point. Currently the evaluation is based on your sex and age. The corresponding ranges are used from scale company or see [here](http://www.bernhard-gaul.de/BMI-Rechner/bmi-rechner.php). So its not basically wrong. Ok maybe this formula is out dated.
What you are referring is a new calculation of the BMI so called "Smart Body Mass Index".
Well this formula could be better I d

[2018-01-05 22:20] comcamot commented on #132
No, I do not think it is worth to use a different BMI formula or body fat estimators (I saw that many of them are already implemented). My concern was about what is considered "normal". For BMI one  now uses the tables you [mention](http://www.bernhard-gaul.de/BMI-Rechner/bmi-rechner.php), it is OK (or use any other table, as for instance, the standard table independent on age and sex at [WHO](htt

[2018-01-06 11:03] oliexdev commented on #132
Ok I think I understand what you mean. The problem is if the BMI is out of range, the weight evaluation will still evaluate. So I could set the evaluation for the weight to none if the BMI was out of range? Or do you have a better evaluation formula for the weight which also include the sex and age?

[2018-01-06 14:10] AxiK101 opened #133 "Translation participation?"
I wanna translate this app to greek language. Is there any way like crowdin for example? Thanks

[2018-01-06 14:37] oliexdev commented on #133
I don't have crowdin you have to translate the string.xml into your language, see the [wiki](https://github.com/oliexdev/openScale/wiki/Frequently-Asked-Questions-(FAQ)#why-is-my-language-xyz-is-missing-or-incomplete)

[2018-01-06 17:36] AxiK101 commented on #133
Can you help me a bit? What do i translate? The black text? What software do i need? A wordpad?

[2018-01-06 17:38] AxiK101 commented on #133
![](https://i.imgur.com/NXpVB0J.png)

[2018-01-06 17:44] oliexdev commented on #133
Yes translate the black text with wordpad or another text editor.

[2018-01-06 19:07] erijo commented on #133
@oliexdev: perhaps you can ask for hosting on https://weblate.org/en/hosting/ ? It would make it easier for translators to contribute.

[2018-01-07 11:27] mmangard opened #134 "App crash with RT-Libra-B"
Hello,
I just tried openScale  with the latest development build (v1.7-beta-7d735146 ) and a "RT-Libra-B".
After a successful connection the app displays some values which differ from the display and crashes afterwards. The issues is 100% reproduce able. I use Android version 6.0.1. How can I help? If you want I could do some tests with a development build which includes some debug-traces.

[2018-01-07 11:32] oliexdev commented on #134
Yeah would be great if you could print the stacktrace so we can see in which source code line the crash happens.

[2018-01-07 11:52] AxiK101 commented on #133
Thanks, i will do that

[2018-01-07 12:07] mmangard commented on #134
How can I provide you the stacktrace? Do I need an  Android Development Environment for that (which I do not have)?

[2018-01-07 16:09] oliexdev commented on #134
Do you have any programming experiences? You can install android studio and compile the source code.

Or see https://www.utest.com/articles/how-to-get-android-crash-logs-by-using-adb-commands
Or see here https://f-droid.org/de/docs/Getting_logcat_messages_after_crash/

[2018-01-08 12:20] woj-tek commented on #130
But the above idea wouldn't break the idea. Haven't perused the code so I'm not sure what is the base (kg or %) but assuming you are using kg for weight and % for other metrics then it should be possible to still provide two fields (or configuration what metric type is entered) and either dynamically calculate the value while storing it or dynamically calculate it while retrieving. (I'm aware that

[2018-01-08 21:08] wolkenschieber opened #135 "App version v1.6.1 is missing on F-Droid"
Current version *v1.6.1* hasn't been published to F-Droid. The latest version there is *v1.6*.

Can you please upload latest version? Thanks!

[2018-01-08 21:25] erijo commented on #135
1.6.1 was attempted to build, but it failed. I reported it https://gitlab.com/fdroid/fdroiddata/issues/1061 but haven't gotten any real reply.

[2018-01-11 00:30] cantruchd commented on #71
Maybe we can use the body fat % to calculate the other factor?

[2018-01-11 22:40] Maerzn opened #138 "Connection to SBF75"
Since I was not able to connect to my 'SBF75'-Scale, I wanted to ask, whether there is a trick to connect the scale to the app.
In the device-list, the scale is listed as 'SBF75 [Device not supported]' (in german).
With the proprietary app, the scale is found and works flawlessly.

I'm using android 7.1 on a Z5C

Thanks for the help!

[2018-01-12 14:16] oliexdev commented on #138
Hi Maerzn which version of openScale did you use? Did you try out the latest development or beta version of openScale?

[2018-01-12 14:16] #128 closed

[2018-01-12 14:22] oliexdev commented on #135
The next version of openScale will be incremental released soon. Therfore the new version will be published on F-Droid. Before you update to version 1.7 I would recommend to export your data to a CSV file because the backend of the database had been changed.

[2018-01-12 14:22] #135 closed

[2018-01-12 14:27] oliexdev commented on #132
I am closing this issue here for now. If you have an idea please reply to this issue again.

[2018-01-12 14:27] #132 closed

[2018-01-12 14:51] Maerzn commented on #138
I used the PlayStore-Version (1.6.1/21).
Due to the question I tried the latest build (auto. build 1.7: 9f76724d)
It is able to connect to the scale, and get my weight along with all other measurements, too.
Seems I was too hasty... when will this be supported in the main release?
Trying to initialize the scale failed (I tried both scale-, app-, and both reset), though. It only worked in the propr

[2018-01-12 14:59] oliexdev commented on #138
I am currently working on releasing the new openScale version. :wink:
So the next version will be released soon but it will a incremental release which means that not all users will see this new release instantly on GooglePlay.

[2018-01-14 09:22] pkscwc opened #140 "Connection to YunChen Smart Scale"
Dear Olie,

I have recently purchased this Yunchen Brand smart scale.
Can you add it as one of supported scales in your program.

I have tried using some hcitool and GATTtool commands to get relevant handles and UUIDs for this scale.

It is based on Texas Instrument chip.

Output of GATTTool commands like Primary  &  char-desc-hnd are given below:

Result of GATTtool log : command "primary"

attrh

[2018-01-14 10:21] oliexdev commented on #140
Hi @pkscwc

I can't find this scale on the internet. :thinking:
Do you have a link to the vendors website?

Did you read the [wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale) about how to reverse engineer a Bluetooth scale?
Maybe [this](https://github.com/oliexdev/openScale/wiki/Xiaomi-Bluetooth-Mi-Scale) helps a bit too how you do it on a real device

[2018-01-14 10:47] mmangard commented on #134
See my log/stackstrace [measurelog.txt](https://github.com/oliexdev/openScale/files/1629246/measurelog.txt)

[2018-01-14 10:47] pkscwc commented on #140
I have some hci snoop logs.

On 14 Jan 2018 3:51 p.m., "OliE" <notifications@github.com> wrote:

[2018-01-14 11:06] ivvv opened #141 "Exporting and importing info"
Many thanks for the good `openScale` app. I have started using and I really like it.

I want to import measurements from a file but I could not find any documentation on what the CSV columns should be. I exported my current measurements from `openScale` and it is easy to guess some of the columns, but not all of them.

The easiest way to improve this would be to add the column names when exporting

[2018-01-14 11:58] oliexdev commented on #140
then try to analyse it with wireshark as described in the wiki.

[2018-01-14 11:59] oliexdev commented on #141
It has been already implemented in the development or beta version of openScale. :wink:

[2018-01-14 11:59] #141 closed

[2018-01-14 12:04] oliexdev commented on #134
Did you create an user in openScale? And what is the name of the user?

[2018-01-14 12:20] pkscwc commented on #140
OK. What data exactly may help us.

On 14 Jan 2018 5:28 p.m., "OliE" <notifications@github.com> wrote:

[2018-01-14 12:22] pkscwc commented on #140
I have uploaded the blue pixel ble scan log having UUID s in it.

On 14 Jan 2018 3:51 p.m., "OliE" <notifications@github.com> wrote:

[2018-01-14 15:07] mmangard commented on #134
I created a user with the name "mm".  In order to double check my settings i opened the settings and the app crashed again. After a restart of the app I could do measurements.

In order to force the problem again I reinstalled the app.  After the initial start the app shows the user-account dialog. After pressing the add button the app crashed with the following stacktrace.
[settingslog.txt](https

[2018-01-14 15:15] Skyrid3r opened #143 "SBF75 - Not properly switching users?"
I'm currently on the dev version as that's the only version currently that works with the SBF75, and it works like a charm for a single user. But with multiple users it's having some difficulties. Regardless on what 'profile' I set the app to, according to the SBF75 it keeps showing the first added user, rather than my own.

So For example, I have 2 users called Demo 1 and Demo 2.

Sometimes its s

[2018-01-14 15:59] oliexdev commented on #134
ok for first problem I think I know the problem can please try to use a name with at least 3 characters.

That is strange. Can you exactly tell me what you entered in the user-account dialog? Currently I can't reproduce this error.

[2018-01-14 16:04] oliexdev commented on #143
Did you enabled the smart user assignment in the Bluetooth settings?
Did you use your scale with the vendors app before? Are the user name in the vendors app and in openScale the same?

For the device itself I don't really now the behaviour because I don't own one.

[2018-01-14 16:13] martinler commented on #4
Hello, any idea about integration with Google Fit? Beurer stock app does not provide this feature, so i'm looking for some replacement. Thanks!

[2018-01-14 16:18] oliexdev commented on #4
@martinler
If you had read the [FAQ](https://github.com/oliexdev/openScale/wiki/Frequently-Asked-Questions-(FAQ)#why-are-the-measurements-are-not-synchronise-to-a-cloud-eg-google-fit--garmin-connect--dropbox-and-so-on), you would have known that this not supported.
Btw. to corrupt this issue with your different question is not very nice.

[2018-01-14 16:27] Dododappere commented on #138
@Maerzn , what do you mean exactly with initialization? I don't see any initialization function in the HealthForYou app....

[2018-01-14 16:35] Dododappere commented on #140
@pkscwc if your scale uses the FFF1 characteristic I would try to make a copy of the Digoo scale handler code and configure OpenScale to accept your scale. With a bit of luck it will work....if it doesn't you need to do reverse engineering of the hci snoop logs to see what is going on.

[2018-01-14 16:50] pkscwc commented on #140
Ok. Thanks. I will put in required efforts from my side also.

On 14 Jan 2018 10:05 p.m., "Dododappere" <notifications@github.com> wrote:

[2018-01-14 18:04] mmangard commented on #134
I can reproduce the crash with a 2 letter username by doing the following steps:

1) delete all existing user
2) exit the app
3) start the app  and create the following user
![screenshot_20180114-184505](https://user-images.githubusercontent.com/8190754/34918978-c188cd62-f95c-11e7-8f65-dce80253cc4c.png)

if I choose a username with 3 letters I can create the account without a crash.

[2018-01-14 18:18] oliexdev commented on #134
In the latest development version you have to enter an username with at least 3 characters.

But does it crash again with your scale when you have a longer username?

[2018-01-14 18:59] mmangard commented on #134
no it does not crash with a username with at least 3 characters and I can perform a measurement.
The measurement only results in the weight (water, and other values are missing).
Is this a known issue?

[2018-01-14 19:03] oliexdev commented on #134
yes see [here](https://github.com/oliexdev/openScale/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-get-on-my-sbf70-scale-the-body-metrics-water-muscle-fat-percentage)

[2018-01-14 19:03] #134 closed

[2018-01-14 19:08] oliexdev commented on #134
btw which tool did you use to get the stacktraces? And did you need root permission for that?

[2018-01-14 20:25] Maerzn commented on #138
On first startup (with reset scale), the app asks some data for the users profile, which is later stored in the scale. It is used by the scale to calculate BMI and also display the initials when a weight is recognized as a user.
This allows the scale to save measurements assigned to different users.
The function only shows up with a completly reset scale and (in my case) no app data on the phone.

[2018-01-14 21:29] ivvv opened #145 "Import export questions"
I have installed v1.7 (beta) to give it a try. I am on Android N (7.0).

I  successfully imported a CSV file with no column names, with the columns ordered following the Play Store version 1.6 export:
[code]
And the import seems ok, I see all the data correctly in the app. As I did not provide waist, hip and lbw, their ordering is irrelevant in this case, these were all zeros.

Then I exported the

[2018-01-14 21:38] ivvv opened #146 "Suggestion for improved chart"
Using v1.7 (beta) on Android 7.0.

The chart measurements are displayed with their values. This makes it difficult to see the general trend when there are many data points. The chart is too crowded, see the screenshot.

![screenshot_2018-01-14-22-35-25](https://user-images.githubusercontent.com/7148876/34920951-7feb3434-f97b-11e7-9c79-a7d618469d5d.png)

I would suggest to remove the value labels f

[2018-01-14 21:41] erijo commented on #145
As long as the file to import contains the header line (i.e. the line with the column names) the columns can be in any order and with only the valid columns given (i.e. you would not have to include the waist, hip and lbw column).

If the file does not contain the header line, then the order of the columns matter. For full reference, see [getOldStyleHeaders() method](https://github.com/oliexdev/op

[2018-01-15 08:31] RishiMehta123 commented on #143
Hi, sorry for jumping on this thread but my issue sounds similar. I've started using my new Mi Scale 2 with the OpenScale app. I have set up 2 users.  Even when I have selected a particular user (e.g. my wife), if I use it straight after (first changing the user selection), both the readings get assigned under the first user! I can edit various other fields of an existing reading, but there doesn'

[2018-01-15 11:16] piotr-yuxuan opened #147 "Bug report: graph time index is broken when current year changes (newbie-friendly?)"
Hiya!

First, thanks a lot for your libre / free app :-) Since January 1st I've noticed there is a bug is the overview graph. We're in 2018, data points from the current year are correctly displayed like "3 days ago", but data points from December 2017 are said to be "343 days ago" or something similar.

I guess it's a pretty easy bug to fix. If you're OK with that, and if you leave me some time f

[2018-01-15 12:39] erijo commented on #147
I'm sure @oliexdev would gladly accept contributions, but this particular problem is already fixed in the upcoming release. See #116.

[2018-01-15 12:42] erijo commented on #146
This can be set in the settings under chart -> Label on data point.

[2018-01-15 13:52] piotr-yuxuan commented on #147
Indeed, so you can close this issue. Moreover, it would be great if you would label some _ramp up_ tasks so newcomers could still help you guys :-)

[2018-01-15 14:14] Dododappere commented on #138
Ah ok, I understand. Well, the code is there to do it but it might not be working properly...I'll have a look this evening and test with my SilverCrest scale.

[2018-01-15 15:33] oliexdev commented on #147
sure your are always welcome to contribute. You could for example implement a setting where you can switch between the current theme and a dark theme, see issue #91. You will find a lot of information on the internet about that topic.

You can also support to translate the app into your native language or a in a language which you can speak, see [here](https://github.com/oliexdev/openScale/wiki/Fr

[2018-01-15 15:33] #147 closed

[2018-01-15 15:34] oliexdev commented on #146
you can even add a regression line into the graph :wink:

[2018-01-15 15:34] #146 closed

[2018-01-15 15:36] oliexdev commented on #145
As already @erijo wrote you don't have to know the ordering. You are free to order the column as long you have the correct column header with the new openScale version.

[2018-01-15 15:36] #145 closed

[2018-01-15 15:41] oliexdev commented on #143
@RishiMehta123 Can you please answer my questions above as well?

The problem might be that you use enabled smart user assignment then your measurements will automatically sort between the users. It depends on the initial weight (in the user dialog) or at the latest measurement. The user which have the closet measurement are assigned. If you turn that option off all measurements are assigned to th

[2018-01-15 15:45] oliexdev commented on #133
@erijo I filled out the web form for the free weblate hosting service but it will take time up to one month.

@AxiK101 How is your translation going?

[2018-01-15 15:53] Skyrid3r commented on #143
smart user assignment was off, left it off as well as I figured it would use the weight to get an estimated user. Hence I wrote this report :).

As for the official app, not sure. I removed it and I reset the device so I can fully use openScale. The scale itself appears to be using a 3 letter name, rather than the name used in the app.

[2018-01-15 16:08] oliexdev commented on #143
if you had disabled the smart user assignment, all measurements should add to the current selected user and this also don't work?

[2018-01-15 16:15] Skyrid3r commented on #143
That depends.. it has a mind on its own. Sometimes its saving correctly, and the other time its saving under the wrong username.

Even if I choose "Demo 2" as selected username on the app, the device shows "Demo 1", but only after I step on it to make its calculations. For some reason no name is showing when I turn the device on, though it shows Bluetooth is connected.

[2018-01-15 16:21] oliexdev commented on #143
did you delete all user on the scale with the vendors app before you use openScale?

[2018-01-15 18:55] mmangard commented on #134
first I tried "aLogcat" but somehow I could not get any logs so I installed Android Studio and compiled the sources.

[2018-01-15 20:11] Dododappere commented on #138
Hi @Maerzn I just tested with my Silvercrest scale and it is working fine as far as I can see. So what I did was:
1. Factory reset the scale by pressing the button at the back of the scale until it says 'del'
2. Do a fresh install of the latest openScale app
3. Enter my personal details like name, height etc. Make sure your firstname has at least 3 characters.
4. Pair the scale
5. Connect to the s

[2018-01-15 21:17] oliexdev commented on #138
@Dododappere a toast message should be already shown when you have to step on the scale. Saying that a user profile is created is easy. I could change that.

[2018-01-15 22:19] Dododappere commented on #138
You are right! It is there....but even I didn't notice it....perhaps some
more 'in your face' would do it?

On Mon, Jan 15, 2018 at 10:17 PM, OliE <notifications@github.com> wrote:

[2018-01-15 23:24] Maerzn commented on #138
With the latest revision (c1f247c) , i get following error after creating my 'account':
Build version: 1.7 (beta)-dev_c1f247cb
Current date: 2018-01-16 00:18:14
Device: Sony E5823

Stack trace:
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
 at java.util.ArrayList.get(ArrayList.java:411)
 at com.health.openscale.gui.activities.UserSettingsActivity$onClickListenerOk.onClick(UserSettingsActi

[2018-01-16 07:48] pietroblu opened #150 "Feature request Xiaomi Mi scale v. 2"
Is there a chance to have full compatibility measures for this very known scale?
Thanks for your work.

[2018-01-16 12:02] Skyrid3r commented on #143
I didn't. I removed the app and hard reset the device.

[2018-01-16 15:23] oliexdev commented on #150
Hi @pietroblu no currently it is very hard to reverse engineer the full scale see the remarks on the [wiki](https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale). They used an intransparent formula hidden in the app.

But sadly you gave openScale a 2-star review for that circumstance even it is clear described on the wiki. :disappointed: I hope you change you mind.

[2018-01-16 15:56] Megachip opened #151 "Beurer BF710"
Any chance to get support for the BF710?

[2018-01-16 16:04] oliexdev commented on #151
No as long you reverse engineer your scale on your own. See the FAQ for more information.

[2018-01-16 16:04] #151 closed

[2018-01-16 16:07] erijo commented on #147
Another good way to start is to find something that you think could be improved and fix that. That way you can more easily keep the motivation up.

[2018-01-16 16:14] oliexdev commented on #138
@Maerzn I think I found a bug which results in this unexpected behaviour. The user add method was an async process which I have now removed. Please try again with the latest development version.

[2018-01-16 17:58] pietroblu commented on #150
You're right Oliexdev, I've been unfair, I'll delete my review ;)

[2018-01-16 17:58] #150 closed

[2018-01-16 20:06] Maerzn commented on #138
works perfectly now!

[2018-01-17 11:35] pkscwc commented on #140
Hi Olie,

I have done some work today on wireshark and ble snoop.

Perhaps, got the values required.

Hope, it helps.

On Sun, Jan 14, 2018 at 10:05 PM, Dododappere <notifications@github.com>
wrote:

[2018-01-17 11:41] pkscwc commented on #140
Hi Olie,

I have attached the ble log file also.

On Wed, Jan 17, 2018 at 5:05 PM, Pankaj Kr Sharma <pkscwc@gmail.com> wrote:

[2018-01-17 16:40] Dododappere commented on #143
@Skyrid3r the scale uses the weight of the last measurement to recognize the user and therefore it will only display the initials (on the scale) after the measurement. Connecting via BT to the scale does not influence this at all and it will not automatically 'select a user on the scale'. So what you are seeing is 'normal' behavior.

However, using the scale with multiple accounts should work corr

[2018-01-17 18:19] oliexdev commented on #143
@Dododappere if you only get measurement from the user which you have previously set or if in the measurement the user id is encoded then sure set the user id. Please create a PR.
The smart user will work if we don't know the users (user id = -1) and the measurements are coming mixed up from the scale then openScale decides by the incoming weight to which user it will be assigned. Like for example

[2018-01-17 18:25] oliexdev commented on #140
@pkscwc you didn't attached anything.  Also you have to analyse the protocol to find weight and other data in the Bluetooth data packages.

[2018-01-18 08:19] pkscwc commented on #140
Please check. I can see attachments sent in the email with desired
details...

On 17 Jan 2018 11:55 p.m., "OliE" <notifications@github.com> wrote:

[2018-01-18 08:48] erijo commented on #140
I didn't get the attachment either. Please see https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/ for how to attach files.

[2018-01-18 13:53] pkscwc commented on #140
OK thanks.

On 18 Jan 2018 2:18 p.m., "Erik Johansson" <notifications@github.com> wrote:

[2018-01-18 15:20] PhilH55 opened #153 "Sanitas SBF 70 related questions"
Hi, a few questions please:

I've just started to use openScale to get my measurement data from my Sanitas SB70 (I had been using Sanitas HealthCoach app quite successfully (surprising I know!) for a number of months, but recently it stopped communicating; might be related to the Fitbit app recently installed?).

So I've got openScale talking to the scales ok, but it operates slightly differently

[2018-01-19 15:20] oliexdev commented on #153
Hi @PhilH55

Unfortunately, I don't own this scale. So I can only guess.
I mark the history data function in the [wiki](https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale) to n/a, because I thought that this scale have no history data function.
But if you said that it works with the original app, it might be that is function is not reverse engineered yet. So if you are right,

[2018-01-19 15:23] #138 closed

[2018-01-19 15:23] #143 closed

[2018-01-19 15:25] oliexdev commented on #133
I guess @AxiK101 has vanished, so I will close this issue. Please comment here if you come back or create a PR.

[2018-01-19 15:25] #133 closed

[2018-01-19 15:27] Skyrid3r commented on #143
Wait, closed? How come :p. I haven't attempted to reproduce the issue by using the official app yet and so another reset + using 3 character username.

[2018-01-19 15:31] oliexdev commented on #143
use the latest dev version of openScale and test it and give feedback here.
@Dododappere had send already a PR, that's why I closed it. You need to test faster :wink:

[2018-01-19 19:58] drandreaskrueger opened #154 "hardware choice is hard"
I can choose freely, great.  But capitalism also sucks - there are so many crappy products out there.

just want

* a good scale, which is
* sufficiently accurate, and which
* has a good app.

When checking all scales apps, I was *really* happy to find your App "openScale". Great that you go through the effort of freeing that type of hardware, much much appreciated.  Also I assume many of the othe

[2018-01-19 20:01] drandreaskrueger commented on #154
P.S.: Yes, I know, github issues were originally not intended for such a question. But it is of paramount importance - a bad scale together with your good app ... will probably lead to an overall bad experience, no?  Shall we make this topic into a wiki page?

[2018-01-19 20:12] Dododappere commented on #143
Uh, did I? That was for setting the measurement unit....

I'll try to find some time this weekend to do a PR for setting the userID...

On Fri, Jan 19, 2018 at 4:31 PM, OliE <notifications@github.com> wrote:

[2018-01-20 04:14] MarvinT commented on #71
@oliexdev

If we get a bunch of data points i.e. different peoples weights and resistances... or even weights and resistances for different times throughout the day we can figure out the equations. Probably doable with 6, fairly easy with 10, and very easy with 20 data points

I'm trying to decide which scale to buy now and probably going to use your app as the determining factor.

[2018-01-20 08:04] oliexdev commented on #154
Hi @drandreaskrueger

thank your for the compliment. :smile:

Yeah it is not really easy to find a good scale which is perfect. I wrote some thoughts in issue #96. Maybe it will help you a bit in your decision.

Well, your popular scales are only popular in UK :wink:

Yeah is a good idea to write some statement into a wiki page. If you want you can write a draft version.

Best regards
oli

[2018-01-20 10:46] pkscwc commented on #140
I have submitted it as a new issue with relevant files. Thanks.

On Thu, Jan 18, 2018 at 7:23 PM, Pankaj Kr Sharma <pkscwc@gmail.com> wrote:

[2018-01-20 11:39] ivvv opened #156 "Suggestions for small improvements"
After a week of using the app, a couple of suggestions:
 - exporting the table: currently the export file is  `/openScale_data_user.csv`. But I want to export the table to a different folder, e.g. one that I sync to the cloud. So, every time I have to manually add the folder name or to use a file manager to move the file from '/'. It would be more user friendly if the last user input (e.g. folder

[2018-01-20 13:21] oliexdev commented on #156
thanks for your enhancement ideas. I have implemented it with commit https://github.com/oliexdev/openScale/commit/09b306926890880a96a31704b3827b64c099c79f

Unfortunately, you are a little bit to late that this will be integrated into the openScale version 1.7 release because I have released the new openScale version recently.

Therefore, these minor changes will be officially integrated in the nex

[2018-01-20 13:21] #156 closed

[2018-01-20 13:54] oliexdev commented on #71
@MarvinT

Yeah the idea is not new. You can try it but be aware that the formula will probably change if you are  male or female and it will be probably also depends on your body height, age and the impedance value.

So you have to consider a few variables.

Maybe the issue #154 helps you for your decision.

[2018-01-20 15:54] pkscwc commented on #140
[YunchenLog.docx](https://github.com/oliexdev/openScale/files/1648948/YunchenLog.docx)
[YunChen_only_filter.log](https://github.com/oliexdev/openScale/files/1648949/YunChen_only_filter.log)

[2018-01-20 19:34] MarvinT commented on #96
Are the impedence values logged in the app for the xiaomi scale?

[2018-01-21 08:29] oliexdev commented on #140
@pkscwc
thanks for the files but I need more information.

1. Please provide a link to the vendors app
2. Please provide a link to the product page of your YunChen scale.
3. I need a photo of your scale for the gallery (same angle like the others)
4. I need the complete Bluetooth log file. Your `YunChen_only_filter.log` file filtered to much out. The commands from the vendors App are missing.

[2018-01-21 10:20] pkscwc commented on #140
In a minute.

On Sun, Jan 21, 2018 at 1:59 PM, OliE <notifications@github.com> wrote:

[2018-01-21 10:22] pkscwc commented on #140
https://www.amazon.in/gp/product/B071J756ZB/ref=oh_aui_detailpage_o06_s00?ie=UTF8&psc=1

[2018-01-21 10:26] pkscwc commented on #140
Vendors other products
https://www.amazon.in/Health-Personal-Care-Hesley-Inc/s?ie=UTF8&field-brandtextbin=Hesley%20Inc&page=1&rh=n%3A1350384031

[2018-01-21 10:26] pkscwc commented on #140
Vendor's app known as KeepFit
https://play.google.com/store/apps/details?id=com.beikang&hl=en

[2018-01-21 10:30] pkscwc commented on #140
The complete log. I just realized that I have filtered the commands from localhost to remote. This is the complete log containing all the bluetooth devices nearby to my mobile. Lot of garbage.

[BtSnoop_17Jan2018.log](https://github.com/oliexdev/openScale/files/1649674/BtSnoop_17Jan2018.log)

[2018-01-21 10:31] pkscwc commented on #140
hope it helps.

[2018-01-21 10:38] pkscwc commented on #140
In this file, I have tried to include both. scale to mobile and mobile to scale.
[scale_to_mobile_all.log](https://github.com/oliexdev/openScale/files/1649681/scale_to_mobile_all.log)

[2018-01-21 11:07] pkscwc commented on #140
Another, filtered but having both way traffic log

[scale_to_PERX_all.log](https://github.com/oliexdev/openScale/files/1649699/scale_to_PERX_all.log)

[2018-01-21 12:34] oliexdev commented on #140
@pkscwc
I implemented a first try for Hesley scale. Please try the latest dev version of openScale.

Some thinks that are not clear yet:

1. The scale is sending around 149 (:open_mouth: !) times the same command bytes `a5:01:2c:ab:50:5a:29`  to the scale. After every command the scale send sometimes mostly nothing or the weight with the body metrics.
2. Currently I don't know what the magic bytes

[2018-01-21 14:18] pkscwc commented on #140
Dear Olie,

I have noticed the  magic bytes a5:01:2c:ab:50:5a:29 and tried my level best to connect with them date and time formats. So far, there is nothing to link with them date and time. The exact date and time of each packet is logged and can be seen in Wireshark.

![screenshot from 2018-01-21 19-47-19](https://user-images.githubusercontent.com/1967671/35195077-fad118c2-fee3-11e7-9a07-5ba2183

[2018-01-21 14:32] pkscwc commented on #140
another one from today.
![image](https://user-images.githubusercontent.com/1967671/35195197-ff5884b4-fee5-11e7-97d1-4fbf7e63b4ed.png)

[2018-01-21 14:37] pkscwc commented on #140
This cannot be a data or time string as it is same for both days i.e. 17th and 21st January. Date & time should be somewhere else.

[2018-01-21 14:45] oliexdev commented on #140
@pkscwc It was just an idea but please give clear feedback what is working and what not otherwise we don't get any further in the reverse engineering process.

[2018-01-21 15:05] lenucksi commented on #154
@drandreaskrueger The BF511 actually is one of the better scales.
The fat measurements using the handles deviate quite a bit from the "legs only" version. Also, that type of scale is the only one that was not ridiculed entirely by a medical doctor, although he did recommend the caliper measurement for more precision. The scale itself is well made and reliable.

However, that scale is unluckily tot

[2018-01-21 15:19] lenucksi commented on #153
I also own that scale, so here are a few answers.

The standard use case as intended by the vendor app appears to have been the follwing. Sadly the quality of the vendor app leaves quite a bit of room for improvement.
- Register yourself to the scale using the app, creating a user.
- Measure yourself whenever. The scale will store show and the store your measurements.
- Repeat for a number of time

[2018-01-21 15:30] oliexdev commented on #153
@lenucksi
thank you for the explanation. Do you know the behaviour of openScale? Does it load the stored measurements if you are not on the scale?

[2018-01-21 15:34] pkscwc commented on #140
An image of the scale:

![img_20180121_192113](https://user-images.githubusercontent.com/1967671/35195785-81603ea4-feee-11e7-950d-6d63e0d4c3b5.jpg)

[2018-01-21 15:50] pkscwc commented on #140
Dear Olie,

I am sorry. But, I don't know how to install developer version of openscale on my mobile. Is there any apk to download? I cannot find anything helpful.

with regards,

[2018-01-21 16:00] pkscwc commented on #140
Ok.
Got it, I have to install Android-Studio.
Please give me some time.

[2018-01-21 16:10] oliexdev commented on #140
Or use this APK file https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-01-21 17:32] drandreaskrueger commented on #154
Thanks a lot!

I won't have the time to hack a bluetooth scale myself, even though the [description reads really interesting](https://github.com/oliexdev/openScale/wiki/Custom-Bluetooth-Scale).  (I would actually buy a readily hacked & modified high quality scale if someone builds it for me, but I guess that could quickly become pretty expensive?)

Hmmm ... what to do now?  [This reads](https://gi

[2018-01-21 17:41] drandreaskrueger commented on #154
As long as the wiki points here, I would have found it. So what about this temporary solution:

---

https://github.com/oliexdev/openScale/wiki/What-to-buy

# What to buy

See these issues to get some ideas what could be a good scale:

* questions: [#96](https://github.com/oliexdev/openScale/issues/96), [#154](https://github.com/oliexdev/openScale/issues/154)
* answers: [#96 Nov 10th 2017](https:/

[2018-01-21 18:11] pkscwc commented on #140
Install openScale-dev-build.apk . Yes found this. Thanks.

[2018-01-21 18:13] pkscwc commented on #140
In Bluetooth logs, it is recognised as Yunchen only.

[2018-01-21 18:34] pkscwc commented on #140
App installed without any error.
It found my scale as Yunchen.
After that, "trying to connect to Yunchen".
And then " no bluetooth devices found".

I noticed that app bluetooth search timeout is rather short. Scale remains active for twice more time.

[2018-01-21 18:35] pkscwc commented on #140
So, no readings for now.

[2018-01-21 20:59] Megachip commented on #151
![20180121_2147327721](https://user-images.githubusercontent.com/487352/35198905-2c96a040-fef6-11e7-83a6-5e2c117152a0.jpg)
Hope this will help to start...

[2018-01-22 03:38] pkscwc commented on #140
![img_20180121_192113](https://user-images.githubusercontent.com/1967671/35204360-9b1b8f46-ff53-11e7-8a81-3bf59eda8448.jpg)
![img_20180121_192242](https://user-images.githubusercontent.com/1967671/35204361-9b4bca30-ff53-11e7-96bd-8cf1aba978fb.jpg)
![img_20180121_192313](https://user-images.githubusercontent.com/1967671/35204362-9b76f7fa-ff53-11e7-814e-43eabb290a53.jpg)
![img_20180121_192429](https

[2018-01-22 08:13] pkscwc commented on #140
I used the apk file. It connects but no data comes back from scale to app.

Can we change the magic number and try.

On Sun, Jan 21, 2018 at 9:40 PM, OliE <notifications@github.com> wrote:

[2018-01-22 09:01] lenucksi commented on #153
@oliexdev From what I can remember - as the vendor app doesn't do anything anymore here - it was no problem to retrieve measurements from the scale without stepping on it. You just had to be in BTLE range.

[2018-01-22 09:23] pkscwc commented on #140
nRF Connect, 2018-01-22
YunChen (78:9C:E7:0C:1F:F3)
I	14:49:22.839	[Server] Server started
V	14:49:22.858	Device Information (0x180A)
- PnP ID [R] (0x2A50)
Unknown Service (00010203-0405-0607-0809-0a0b0c0d1912)
- Unknown Characteristic [N R WNR] (00010203-0405-0607-0809-0a0b0c0d2b12)
   Characteristic User Description (0x2901)
   Client Characteristic Configuration (0x2902)
Unknown Service (0000ff

[2018-01-22 09:23] pkscwc commented on #140
Log by nRF logger

[2018-01-22 09:54] PhilH55 commented on #153
Thanks for the responses to date guys. @lenucksi, you are correct, the vendor app (when it worked!) retrieved all past measurements from the scale when you opened the app and were within range; you didn't need to activate the scales by stepping on them.

@oliexdev So far with openScale it hasn't loaded any historical data for me, it just loads the current measurement when I stand on the scale?

[2018-01-22 10:42] pkscwc commented on #151
Dear Megachip,
the image is not clear.

Can you send it again.

On Mon, Jan 22, 2018 at 2:29 AM, Megachip <notifications@github.com> wrote:

[2018-01-22 12:15] chross opened #158 "App crash, parallel use of Amazfit Notify and openScale"
Build version: 1.7
Current date: 2018-01-22 13:12:10
Device: Xiaomi Redmi 4X

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'com.health.openscale.core.utils.Converters$WeightUnit com.health.openscale.core.datatypes.ScaleUser.getScaleUnit()' on a null object reference
	at com.health.openscale.core.OpenScale.addScaleData(OpenScale.java:228)
	at com.health.openscale.co

[2018-01-22 14:40] dinki opened #159 "Add support for 1byone scale"
I'm writing in hopes that you can add 1byone BT scale (https://www.amazon.com/1byone-Bluetooth-Wireless-Bathroom-Visceral/dp/B01FHELB56/)  to your list of supported devices.  I received this as a gift from my wife but it is tied to a proprietary app that leaves much to be desired.

While I am much more of a hacker than a programmer, I am pretty sure that this is possible as someone has written som

[2018-01-22 15:25] oliexdev commented on #140
please fork the project and edit the `BluetoothHesley.java` file in Android Studio. In that file you can see the magic bytes which you can change.
I can't help you much anymore because you have to do some kind of try and error analyses with your scale.

[2018-01-22 15:36] oliexdev commented on #158
Do you add an user in openScale?
Is this crash repeatable?
Does it also crash when your Amazfit Notfiy is not running?

[2018-01-22 16:27] oliexdev commented on #159
I need more information. What is the Bluetooth device name? You have to do step 1 and 2 in the [wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale)! Thanks to @ec1oud step 3 has been already analysed.

[2018-01-22 20:11] erijo commented on #128
This is fixed in #157.

[2018-01-22 21:15] Megachip commented on #151
@pkscwc *fixed* Sorry, seems to catch the compressed one before. Not yet checked if they use the same characteristics as the BF700/800... hope a little bit. If not, I should try some package dumps next time ;)

[2018-01-22 23:41] dinki commented on #159
Here's three files for part one:
82.4 pounds / 37.37601 kg
https://www.dropbox.com/s/exc8lndzddqw8o2/824btsnoop_hci.log?dl=0

92.6 pounds / 42.00265 kg
https://www.dropbox.com/s/5rx6u91psujh7vd/926btsnoop_hci.log?dl=0

87.8 pounds / 39.82541 kg
https://www.dropbox.com/s/xv21yiuclcz179i/878btsnoop_hci.log?dl=0

Here's an Imgur gallery with the information for part two:
https://imgur.com/a/sV8tC

I

[2018-01-23 11:24] drandreaskrueger commented on #154
@oliexdev - how can I send you a PM? Are you on Twitter? email?

[2018-01-23 15:32] Dododappere commented on #153
Hi @PhilH55 , I did some testing at home but as far as I can see the retrieval of stored measurements is working fine. What I did was:

- Kill the app
- Take 3 measurements a couple of minutes apart
- Open the app
- Connect to the scale but don't stand on it
- All 3 measurements appear as expected

Could you try the same? Should work.

P.S. Make sure HealthCoach isn't running at the same time....o

[2018-01-23 16:15] PhilH55 commented on #153
Hi @Dododappere

Thanks for following up on this and testing it out, really appreciate it. It's good to know that the app should capture all measurements. I'll do as you suggest and try it out when I get home and see how we get on. I'll keep you posted.

Thanks again.

[2018-01-23 16:28] lenucksi commented on #153
Hi @Dododappere which OpenScale version did you make this observation with? I could try to reproduce them using my unit if I would know a bit more.

[2018-01-23 17:55] Dododappere commented on #153
I am using the latest code, compiling it myself...

I did some more investigation and I found some conditions when the test I did could fail:

1. If you are actively doing a measurement while openScale connects, the initialisation process where openScale looks for the right user is interrupted by the active measurements coming in. So openScale doesn't know which user you are...
2. If the first poi

[2018-01-23 18:12] Dododappere commented on #153
@lenucksi , let me know your findings! I don't think the version of openScale matters in this case...nothing changed recently, it has been like this for a while

[2018-01-23 20:24] MartinNowack commented on #154
@drandreaskrueger I can highly recommend the SBF70 because I added most of the advanced stuff to this app  ;) #66 (Adding users automatically, reading history, updating time/date of the scale, ... ) There must be some bug (timing issues) in the original app which lets it run well with older android versions but starting with 5.* it gets really bad.
I added many comments to the different parts of t

[2018-01-23 20:41] MartinNowack commented on #153
@Dododappere the race condition could be indeed an issue.
Normally, if you connect with the scale (clicking the button):
* it should read the history data and sort them for the currently selected user and delete the old one. The problem is that there is currently not really a notification if new data is read/added
* if you step on the scale (and no user on the scale is found) it should add you aut

[2018-01-23 20:47] MartinNowack commented on #153
@PhilH55 Can you change the title? It's the SBF 70 just to make sure this thread can be found. Thanks!

[2018-01-24 02:27] drandreaskrueger commented on #154
oh oops. I am on 7.1.2.  Does that mean I will have problems?

Scale is going to arrive this weekend. Hooray, really looking forward to this.

[2018-01-24 04:49] pkscwc commented on #140
Hi Olie,

App now gets connected with scale. But it is not showing any measurement
yet. Can we increase the bluetooth time-out of the app. It time-outs before
the scale.

Any suggestion.

On Mon, Jan 22, 2018 at 8:55 PM, OliE <notifications@github.com> wrote:

[2018-01-24 08:01] MartinNowack commented on #154
@drandreaskrueger Whoops that was misleading - i meant the original software seems to have problems with newer android versions.

[2018-01-24 08:34] PhilH55 commented on #153
Thanks for looking in to this guys. I didn't have a lot of time to play last night, but I removed the HealthCoach app from the phone, stood on the scales a few times over a ½ hr period then connected openScale. It found and connected to the scales no problem, but downloaded no measurements. It's probably me doing something not quite right.

When I transferred from HealthCoach to openScale, I didn'

[2018-01-24 09:22] D-o-m-i-n-i-c commented on #153
Hi all,
I'm new to Github so apologies if i'm posting this in the wrong place or if this question has been answered elsewhere..
I have a Silvercrest SBF-75 scale and as seems to be the norm the stock "HealthForYou" app has completely stopped communicating with the scale, it worked well for about two weeks but now will not connect to the scale.
I installed OpenScale and it connected instantly (Kudo

[2018-01-24 09:26] MartinNowack commented on #153
@PhilH55 It should work like that: You step on the scale. Depending on your weight (plus/minus some minor changes), the scale is guessing it's you. And it has following things saved of you:
* The first three letters of you username (as uppercase)
* your birthday
* your sex
* your height
* your activity level

Currently openScale is just checking for your name and birthday and find you by that.
If

[2018-01-24 09:30] MartinNowack commented on #153
@D-o-m-i-n-i-c fat/water/bone density is calculated by the scale. But I'm currently not sure if it is transmitted correctly.

To create a new user:
* Create a new user in the app
* step on the scale
And a base measurement should be done automatically.

Keep in mind, if the scale finds your existing profile - none will be added.

[2018-01-24 09:41] D-o-m-i-n-i-c commented on #153
@MartinNowack  Thanks for the advice, I had already created a profile with OpenScale but I think the existing accounts from the manufacturer app may have been causing the conflict/issue. I will reset my scale to clear any existing accounts from the manufacturer app this evening and try to sync the OpenScale account then. i will report my findings back.
Thanks again.

[2018-01-24 17:55] dinki commented on #159
Great news.  Can I do anything to help with anything?  I know having things as images makes it impossible to copy/paste.  Do you guys need me to transcribe any of this?

[2018-01-25 08:46] D-o-m-i-n-i-c commented on #153
Hi all,
Just to update, unfortunately I still had no luck getting my scales to measure more than just weight.

I followed the instructions above, using the OpenScale app but the app doesn't seem to set-up the user profile on the scale so even though the bluetooth symbol is displayed to show there's is a connection the scale doesn't detect an user account and just displays "- - - -" on the bottom l

[2018-01-25 09:58] drandreaskrueger commented on #154
Ah, good, I am relieved ;-)

A big thanks for your contribution then.

[2018-01-25 20:03] Nadivar commented on #153
Hi, I see this app in dark color, How I can change to light color?
Thanks

[2018-01-26 16:34] oliexdev commented on #159
@dinki
I implemented a first try. Please try out the latest development version.
Is openScale connected to the scale?
Do you receive anything? (a toast message should be shown)

[2018-01-26 16:51] dinki commented on #159
Thanks for spending time on this!

To be clear, it's the APK at https://github.com/oliexdev/openScale/releases/tag/travis-dev-build  right?  Will download and try this evening.

[2018-01-26 16:56] oliexdev commented on #154
@MartinNowack I updated the wiki.

@drandreaskrueger I wrote you back but your email address `2018@....` was invalid so I wrote to `mail@....`

[2018-01-26 16:56] #154 closed

[2018-01-26 17:03] oliexdev commented on #153
@D-o-m-i-n-i-c
I am sorry for your disappointment maybe you get a faulty scale or you still doing something wrong. Read the [FAQ](https://github.com/oliexdev/openScale/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-get-on-my-sbf70-scale-the-body-metrics-water-muscle-fat-percentage) on this.

@Dododappere
The queue mechanism is really easy you have to queue all message that you want to send to the

[2018-01-26 17:06] oliexdev commented on #140
@pkscwc
It has nothing to do with the Bluetooth time-out. Please create some image with the  [BLE Scanner](https://play.google.com/store/apps/details?id=com.macdom.ble.blescanner). Then I can check again of the right services and characteristic. But as I said you have to experiment with your scale.

[2018-01-26 17:07] oliexdev commented on #159
@dinki that is correct

[2018-01-26 19:24] drandreaskrueger commented on #154
Thanks a lot.

Yes, got your mail, well done - and repaired the 2018@

Have a great weekend.

Andreas

[2018-01-26 20:06] Nadivar opened #162 "Is posible change the theme to ligth color?"
Hi, I saw that the app showed in ligth color, but in my case is dark.... It´s very difficult reads anything
 could anybody tell me the way to change it?
this image is my actual theme....
![whatsapp image 2018-01-26 at 20 57 55](https://user-images.githubusercontent.com/35816818/35458336-337c46f0-02dc-11e8-8d9f-62a1660f4dcb.jpeg)
this one is like I want...
![image](https://user-images.githubusercon

[2018-01-27 01:17] dinki commented on #159
Just tried and I could not get it to connect. I went to settings Bluetooth and tried selecting device. It went to a white screen and nothing happened. No error message just a white screen. Any ideas?

[2018-01-27 06:40] oliexdev commented on #162
You are probably using another App which change global wide the App theme of your installed Apps. It has nothing to do with openScale. In openScale you can't change the theme it use a default one.

[2018-01-27 06:40] #162 closed

[2018-01-27 06:44] oliexdev commented on #159
Then your scale is still connected to the vendors app or not active.
But you have a white screen? At least a message should shown with "Searching for Bluetooth scales"

[2018-01-27 09:02] natrius opened #164 "Change data entry"
Hello,

thanks for the app. I'm using **Version:** 1.7 (23) via the f-droid store.
**Android:** 7.1.2
Just some workflow changes to make manual entries easier.

- Choose in what order the data has to be entried.
- Add option to automatically open the next entrie field.

**Explanation:**
My scale does show the data pretty fast and has now bluetooth. So i have to look for the data, press the "Add" b

[2018-01-27 10:43] #164 closed

[2018-01-27 12:25] erijo commented on #164
I had the same idea in #81 and I plan on implementing it eventually.

[2018-01-27 14:51] Nadivar commented on #162
Upsss, I don´t know, because it´s the only app shows in dark.
Best regards.
Thanks for answering.

[2018-01-27 14:51] lenucksi commented on #153
I've just attempted another measurement with version 1.7 of Openscale and a SBF70 scale.
I was successfully able to measure weight and fat as well as create a user on the scale and associate the app with it.

Here's what I did:
- Reset the scale.
- Create a user in the app. I've added a few more letters to the username. Before I was using 2, now 4 that were truncated to three on the scale. Using >

[2018-01-27 16:34] dinki commented on #159
I tried again and did notice the searching message for a split second before it went to the white screen.  The 1byone app requires you to open the app before it will attempt to sync so I doubt that it was causing any connection issues.  To be sure, however, I force closed it before trying with openScale.

I'm running v1.7-dev_5dd254f7 (1516984585) with bluetooth options search for scale on startup

[2018-01-27 17:57] Megachip commented on #151
Seems using the same protocol like other Beurer scales. So it should work with openScale...

[2018-01-28 09:25] oliexdev commented on #159
That's weird, because what openScale does when you click on the settings->bluetooth->device is that it only searches for every nearby Bluetooth device and list them in the App with their name and address.
But openScale can only see devices which are not connected to anything else.

Do you see the device in the Android Bluetooth settings?

[2018-01-28 09:31] oliexdev commented on #153
In the latest version it is already restricted to have a minimum user name with three characters.

Sure, I already added the reset hint into the wiki but I won't embed the wiki into the app.
But if you have a better explanation, you are welcome to update the wiki text.

[2018-01-28 14:28] oliexdev commented on #91
done with commit https://github.com/oliexdev/openScale/commit/2dc40e4bc45adcfd867b4f9e14ac60e4da2c662a

[2018-01-28 14:28] #91 closed

[2018-01-28 14:29] oliexdev commented on #162
@Nadivar I implemented now a theme selector for the app. Try out the latest development version of openScale.

[2018-01-28 14:51] erijo commented on #91
Nice work @oliexdev, looks really nice!

One thing I noticed is that the text color and indicator color in the gauge should probably not be black.

[2018-01-28 15:13] oliexdev commented on #91
I missed that one. It is fixed now. :smile: