[2018-01-28 15:33] erijo commented on #91
:+1:

[2018-01-28 17:08] pkscwc commented on #140
Dear Olie,

I would like to express my sincere thanks for all the encouragements and actually writing the BluetoothHesley.java file for users of Hesley scale.

Yes, it worked.

I studied the logs in wireshark as suggested by you and tweaked the java file. The scale starts broadcasting the data as soon as it is activated.  So, the use of magic bytes are still a mystery.

Relevant files are attached

[2018-01-28 17:09] pkscwc commented on #140
Remaining data like fat etc is not present, because scale did not broadcast it.

[2018-01-28 17:41] oliexdev commented on #140
I implemented your changes into the master repository. Use the latest development version of openScale.

I guess to get the remaining data we have to figure out what the magic bytes are. Until then I will close this issue. If you find a solution create a new issue or PR or reply to this issue.

[2018-01-28 17:41] #140 closed

[2018-01-29 00:29] dinki commented on #159
I do not see it there.  I tried to scan from Android Bluetooth settings and it showed up as 'Health Scale'.  I tried connecting/pairing but it failed.

I ensured that the bluetooth symbol on the scale was flashing when trying to connect/scan using openScale.  I'm not sure what else I could do.  Any thoughts?  Thanks

[2018-01-29 08:07] chross commented on #158
Sorry for replying late.
The point was I did not add any user. After adding a user everything was fine. Shouldn't happen, though. Maybe prevent BT connection when there are no users.

[2018-01-29 19:42] erijo commented on #91
One more thing: should the text color really be gray for the light theme? It doesn't look as good as it did before when the text was black (IMHO).

[2018-01-30 00:37] Skyrid3r opened #169 "[Suggestion] Import/Export from Google Account"
Is there anyway that there can be a feature where the data can be imported and exported (optional) from a google account? This would be helpful to easily share the data between multiple devices running the same google account. Also for backup reasons which may be useful.

[2018-01-30 12:22] att90 opened #170 "weekly statistics"
Hi,
Thank you for the great app first of all. I would like to have a question if is possible to add 7day average in current week and 7day average on past week, so you compare the weigh gain on average for a week. As you know the weigh is fluctuating and if you are going to gym and clean bulking you have to check it in average on weekly basis. Thanks

[2018-01-30 15:21] erijo commented on #169
The backup reason might be a reason to increase API level to >= 23 as that gives apps the auto backup feature. That one the other hand has the downside of requiring location for Bluetooth to work.

Another idea I've been having is to use the overflow menu on the table view to hold export and import to CSV options. This could then also have options to "share" the CSV file to other applications such

[2018-01-30 15:27] lenucksi commented on #153
I'd suggest to add a "Help" button in the main menu slider from the left just below the settings button. Have that open the wiki then.

[2018-01-30 17:26] pkscwc commented on #140
Dear Olie,

It looks like that I made a mistake. It is not getting connected. I only read my manually entered data. I have updated some information in the java file. Particularly the data test part, data [1] = 0x01 should be 0xc1. I have altogether removed it. But, still it is not working. Although, in the log file, it clearly shows that scale is returning full data (including fat etc ) after rece

[2018-01-30 17:27] pkscwc commented on #140
Further, the toast commands are not creating any message window. What to do?

[2018-01-31 11:21] pfiol opened #171 "Python port for Mi Scale 2"
Hi,

I would like to use your code as a reference to develop a Mi Scale 2 python client.
There's already a similar client for the Mi Scale v1 here (https://github.com/chaeplin/Xiaomi_scale_scan/blob/master/Xiaomi_scale_scan.py), but it doesn't work with Mi Scale v2.

I was wondering, if you have any documentation about how to read the weight and other information out of the Mi Scale 2. My knowledg

[2018-01-31 15:28] oliexdev commented on #140
I have seen your post but I don't know either.

[2018-01-31 15:38] oliexdev commented on #169
@Skyrid3r openScale won't have any integrated Gmail support in openScale, read the FAQ.

But @erijo second idea could be an option or you could also export the backup files into a Google-Drive or Dropbox folder which is automatically sync.

An automatic local backup of the database (e.g. once a month) would be also a good idea for openScale.

[2018-01-31 15:40] oliexdev commented on #170
Yeah it is possible. If I have more time I will see if I can and how implement it.

[2018-01-31 15:51] oliexdev commented on #171
The source code is really self explaining.
Also it nearly the same as the Mi scale v1. There I wrote some information https://github.com/oliexdev/openScale/wiki/Xiaomi-Bluetooth-Mi-Scale

Currently we can only read the weight and the impedance value out of the mi scale v2. Other information like body water, muscle percentage and so on are intransparent calculated on the vendors app.

[2018-01-31 15:51] #171 closed

[2018-01-31 16:05] oliexdev commented on #159
Sorry I have no other idea. As I wrote openScale doesn't do anything else beside scanning for active Bluetooth devices and list them if you click in the openScale settings->bluetooth->device. If they can't even been seen there then the scale is hidden or paired somehow?! I don't know if it even possible to disable the scale visibility in Bluetooth 4.x.

As long if you can't fix this problem I will

[2018-01-31 16:08] oliexdev commented on #153
@lenucksi good idea with the help button to link to the FAQ page that would be an option.

[2018-01-31 16:08] #153 closed

[2018-01-31 16:11] dinki commented on #159
Understood.  The scan doesn't show any bluetooth devices.  Not just the scale.  Should I be able to see any and all bluetooth and bluetooth le devices I have there or does it somehow limit to only scales?

My phone is a Samsung S4.  I do realize that it is old but it does what I need.  Could this be the problem?

[2018-01-31 16:53] oliexdev commented on #159
openScale should list all Bluetooth 4.x devices.

I don't know if you smartphone is the problem. If you can try out another tablet or smartphone, you could test it. But I doubt that because it did work with the vendors app didn't it?

I changed the implemented Bluetooth search algorithm in openScale which use now the new Android API so please test it with the latest development version.

[2018-01-31 17:03] dinki commented on #159
Thanks for doing this.  I'm at work but just downloaded the dev version.  I went to Device Type and now it is showing nearby BT devices so this looks promising.  Will update when I get home this evening and can try with the scale.

[2018-01-31 20:43] oliexdev commented on #159
Please download again the latest development version I changed again something.

[2018-01-31 21:06] oliexdev commented on #140
@pkscwc I changed the implemented Bluetooth search algorithm in openScale which use now the new Android API so please test it with the latest development version.

[2018-01-31 23:36] itsmegb commented on #159
I have this same scale, but it doesn't display as 'Health Scale' it gets detected as 'ExcelvanCF369BE', but when i check on BluetoothLE Scanner, its device name shows as 'Electronic Scale'.

I wonder if this is to do with device hardware/firmware versions, my scale is has the following:
* Firmware: v1.0
* Hardware: B0002
* Software: wechat&&SPS_v1.0

@dinki What are the values for your scale? show

[2018-02-01 13:20] dinki commented on #159
@oliexdev I have some definite progress to report.  I was able to scan for devices and find my scale.  I went to the main menu and clicked the bluetooth icon and it attempted and successfully connected to the scale.  I weighed myself with the scale connected to the app but it did not download the data.  I did not get any kind of message at all.

@itsmegb I'm not near my scale but I'll see if I can

[2018-02-01 16:49] oliexdev commented on #159
@dinki I tried to analysed @ec1oud source code and implemented his magic bytes and also set on UUID notification on. Please try again the latest development version. Can you install Android Studio and compile the source code? Do you have any programming experience. Would make the much easier.

@itsmegb That is strange that your scale has a different Bluetooth name. Are you sure you have a 1byone s

[2018-02-01 17:35] erijo opened #173 "Crash when searching for Bluetooth device with latest dev"
Build version: 1.7-dev_531d38be
Current date: 2018-02-01 18:33:58
Device: LGE Nexus 5X

Stack trace:
java.lang.RuntimeException: Error receiving broadcast Intent { act=android.bluetooth.device.action.FOUND flg=0x10 (has extras) } in com.health.openscale.gui.preferences.BluetoothPreferences$1@3b850a4
	at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$-android_app_LoadedApk$ReceiverDispatcher$

[2018-02-01 18:08] oliexdev commented on #173
should be fixed now. Please test it.

[2018-02-01 18:11] oliexdev commented on #169
I implemented a share button for the CSV export. But I removed the abort button for that because it looks strange with three buttons or does anybody have a better idea where to place the share button?

[2018-02-01 18:25] erijo commented on #173
b21430d9 seems to have fixed the problem.

[2018-02-01 18:25] #173 closed

[2018-02-01 18:27] erijo commented on #169
I think it would fit nicely in an options menu (i.e. the three dots menu in the top right corner). Personally I think export and import should go there as well to leave more room for measurements in the table view.

[2018-02-04 13:02] oliexdev opened #175 "memory leak occures on a screen orientation change"
A memory leak occurs when the screen orientation is changed. Some fragments or variables are not cleaned up on destroying the activity. Right now, I didn't find out who was causing the trouble.

It would be great If anybody can look into it.

[2018-02-04 22:05] dinki commented on #159
@oliexdev Unfortunately that did not work either.  Are there any logs that might shed light on what is actually happening?  In regards to being a programmer, I am not.  I'm much more of a hacker than anything.

[2018-02-05 18:33] oliexdev commented on #159
@dinki if you don't see any toast message then you don't receive any data from the scale. To figure out what is going on is difficult if you don't have the scale. You have to analyse the scale behaviour via a try and error process. Sorry, I can't do that here. Try out @ec1oud qt program and see if that is working. Maybe it has something to do with the magic bytes!? Maybe the key to success is to u

[2018-02-06 12:52] PhilH55 commented on #153
Just wanted to say thanks to everyone who contributed to my question here. Sorry for slow response, but I've now had the chance to look at this again and managed to get it all working properly. I successfully imported all the previous data from the Sanitas vendor app and after completely resetting the scales, got the app to successfully sync multiple readings from the scales, so success all round!

[2018-02-08 07:54] muhammedgunes opened #179 "SBS Kitchen Scale"
Hi i try to connect [this scale](http://www.sbsmobile.it/en-gb/products/fitness-health/wearable/2239-digital-kitchen-scale.html). Can you help me?

App connect this scale with BluetoothExcelvanCF369BLE but still i can't get bluetooth data.

[2018-02-08 16:50] oliexdev commented on #179
Your scale is not a body scale so openScale probably won't support it but you can also see [here](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale) to get an impression how general the reverse engineer process of a Bluetooth 4.x. scale works.

[2018-02-08 16:50] #179 closed

[2018-02-08 19:35] SebastianApel opened #180 "SBF70 Initialization not working properly"
Hi @jflesch,
first of all: thanks for the great work of reverse engineering the SBF 70!

Management Summary:
I have trouble with getting body fat readings. I read the FAQ, tried resetting the scale - it did not work. My hypothesis is that the initialization is not working properly. I am using v1.7 (23) installed via F-Droid.

Workaround: When I used the Sanitas HealthCoach app to initialize the sc

[2018-02-08 19:50] jflesch commented on #180
Initialization is not supported. I haven't had time to reverse-engineer it yet.
I don't know why it's checked on https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale . Neither initialization or history are supported (unless someone else made it ? oO)

[2018-02-08 20:13] SebastianApel commented on #180
Ok, interesting, because now it works. The workaround that did it for me was:
1. Kill the OpenScale App in the Android Settings,
2. Reset the Scale,
3. Activate the Scale by stepping on it,
3. Step off the scale,
4. Start Openscale,
5. Wait until the Initials are shown on the scale,
6. Step on the scale for the first measurement

I am posting this in hope it helps someone else. Again thanks for th

[2018-02-08 20:14] jflesch commented on #180
I think I don't understand everything here. What do we call "initialization" ? Is it registering a user in the scale ? Or is it just connecting to the scale ?

[2018-02-08 21:03] erijo commented on #175
Could it be the fragmentList in OpenScale that holds on to fragments after they have been destroyed?

[2018-02-09 10:22] lenucksi commented on #180
@jflesch see #153 for details. The scale works fine for me.

[2018-02-09 12:50] jflesch commented on #153
I did the reverse-engineering and the implementation for the SBF-70. I think I need to clarify what is supported and what is not. It's actually simple, I didn't have much time to make it, so unless someone extended it, support is minimal:

- Unsupported: It doesn't know how to register a new user in the scale (you still need the HealthCoach app for that).
- Unsupported: It doesn't know how the sca

[2018-02-09 13:27] MartinNowack commented on #180
@jflesch I added the additional support and fixed a few things. Please have a look at #66 it's already merged since a couple of months.

[2018-02-09 13:33] MartinNowack commented on #180
@jflesch "Initialization" is a base line measurement which allows to scale to detect the correct user even without the app. This is what happened in the original app HealthCoach app when you create a user.

@SebastianApel the log indicated that it could not assign/detect the user assigned to you.

But I'm glad it works now for you

[2018-02-09 14:37] jflesch commented on #180
@MartinNowack oh nice, thanks :)

[2018-02-09 14:39] jflesch commented on #153
Update: Sorry I wasn't aware that @MartinNowack completed the support of the SBF-70. Kudos to him :-)

[2018-02-09 15:13] MartinNowack commented on #153
No, no, kudos to  you @jflesch!! My changes mainly built on your work and effort. Without it - I wouldn't have started but sent the scale back immediately ;)

[2018-02-09 15:46] oliexdev commented on #180
I am confused so is the wiki entry for SBF 70 right or not? Should I change something?

[2018-02-09 15:48] MartinNowack commented on #180
@oliexdev Everything is fine. Entries are correct.

[2018-02-09 15:50] oliexdev commented on #180
@MartinNowack thanks for the clarification.

@SebastianApel Does it work now?

[2018-02-09 15:56] oliexdev commented on #175
I doubt that because the fragment list is inside a singleton class.
Maybe the FragmentManager are not cleared up correctly?

[2018-02-09 16:27] erijo commented on #175
As the list holds a reference to the fragment the GC can't free the memory even if the fragment is released by the manager. So even if not technically a memory leak, it will still consume memory each time a fragment is created.

[2018-02-09 17:39] oliexdev commented on #175
but even if I clear the fragmentList on MainActivity destroy the memory usage is increasing on rotation.

[2018-02-10 12:15] erijo opened #183 "Permission request problem"
I tried the latest dev version: first I removed the storage permission, then I pressed export and picked deny => no toast message

Then I clicked export again and the toast message was shown a short while before the permission dialog appeared.

If I then press allow I don't get any toast message about the export being done. I have to press export again to get that.

[2018-02-10 13:50] oliexdev commented on #183
You are right somehow the method `onRequestPermissionsResult` in the fragment are not being called. I tried [this](https://stackoverflow.com/questions/35989288/onrequestpermissionsresult-not-being-called-in-fragment-if-defined-in-both-fragm) but it didn't work.

[2018-02-10 22:06] gogolo2 opened #184 "SPF70 no fat, muscle, water data"
Hi, so far everything works fine with SPF70 and openscale but there is no fat, muscle and water ratio available. Should this work?

[2018-02-11 07:03] oliexdev commented on #184
https://github.com/oliexdev/openScale#need-help

[2018-02-11 07:03] #184 closed

[2018-02-11 13:22] oliexdev commented on #183
resolved with commit https://github.com/oliexdev/openScale/commit/8ec7eac2887baf19623b442477f2d0722bed1729 but unfortunately due a hack otherwise an API level > 23 is required.

[2018-02-11 13:22] #183 closed

[2018-02-12 08:51] JohnLines opened #185 "Add support for iHealth HS3 Wireless Scale"
I recently purchased this scale, which is a fairly basic scale. it claims to measure Weight and BMI, but the BMI is calculated on their app, using height and age plus the weight.

I have taken some btsnoop_hci.log captures, but can not find my weight in kg in hex in the captures, or weight in lb or st, which are the other options on the scales.

I have also looked for the strings AT and OK (and 0x

[2018-02-12 10:46] pkscwc commented on #140
Hi,

Can you give me some idea for debugging the app. It is not picking up the
reading sent by scale. Scale is surely sending the readings as seen in BLE
log.

Bye

On Thu, Feb 1, 2018 at 2:36 AM, OliE <notifications@github.com> wrote:

[2018-02-12 11:14] oliexdev commented on #185
With a quick peek into your logs your scale use the [L2CAP](https://en.wikipedia.org/wiki/List_of_Bluetooth_protocols#Logical_link_control_and_adaptation_protocol_(L2CAP)) protocol which is really special use for a scale.

[2018-02-12 11:25] oliexdev commented on #140
@pkscwc  for debugging see https://developer.android.com/studio/debug/index.html

I will remove this try in the master repository until we get working version.

For reference the latest implementation in the mater repository was [BluetoothHesley.java](https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothHesley.java).

[2018-02-12 13:26] Pablohn26 opened #186 "Option to change the language"
First of all, thanks for this amazing app. I also had the need to track my measurements with open source since Xiaomi is not a big fan of open their code.

I have been translating the app and I missed an option to change the language. This is useful for translating tasks and also for people that have their phone in a language but want to use this app in another language. It seems the language is a

[2018-02-12 14:46] oliexdev commented on #186
@Pablohn26 thanks for your translation and your 5 star review. :+1:

You are right, the language is auto detect depending on your system language, like most of the apps doing it. I don't see no need for a manual in app language selection. If you translate the app I guess most people will translate the app in their native language so the system language is also the target language.

If you have an

[2018-02-12 14:46] #186 closed

[2018-02-13 07:57] JohnLines commented on #185
I had hoped that a simple (weight only)  and early version scale would be easier to decode than a more modern and complex one with more parameters - looks as if I will need to be looking deeper into the RFCOMM packets

[2018-02-13 17:52] pkscwc opened #187 "Finally working with Hesley scale"
Dear Olie,

Debugging took some time.

Strange error!! The toast does not work with Marshmallow!!!

The working java file is attached alongwith screenshots. A number of them.

We can add it to our list of scales. It is a good one.
![screenshot_20180213-000903](https://user-images.githubusercontent.com/1967671/36165139-8e94c7ec-1114-11e8-9a66-243f41210412.png)
![screenshot_20180213-001216](https://

[2018-02-13 18:34] pkscwc commented on #140
Please check in the new issue. I have uploaded the screenshots and working
java file.

On 12 Feb 2018 4:55 p.m., "OliE" <notifications@github.com> wrote:

[2018-02-14 17:37] oliexdev commented on #187
great I change the code with commit https://github.com/oliexdev/openScale/commit/0050ec46ff9e24ca500afa79f487afc2ef6a0aaa

[2018-02-14 17:37] #187 closed

[2018-02-14 17:43] oliexdev opened #189 "Photo of Runtastic scale"
Can somebody post a photo of the Runtastic scale for our [wiki](https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale)? Due to copyright reasons I can't take a photo by the internet. If you take a photo please take one with the same angle like the other ones. Thanks.

[2018-02-14 18:07] pkscwc commented on #187
Do we have APK also updated with Healey scale.

On 14 Feb 2018 11:34 p.m., pkscwc@gmail.com wrote:

[2018-02-14 18:07] pkscwc commented on #187
Thanks a lot.

On 14 Feb 2018 11:07 p.m., "OliE" <notifications@github.com> wrote:

great I change the code with commit 0050ec4
<https://github.com/oliexdev/openScale/commit/0050ec46ff9e24ca500afa79f487afc2ef6a0aaa>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/oliexdev/openScale/issues/187#issuecomment-365685507>,
or

[2018-02-14 18:31] erijo opened #190 "Last table row partly hidden"
Half of the last row (on a page) in the table view is hidden by the bottom menu.

[2018-02-14 18:55] erijo opened #191 "Bottom row icons placement"
I like the icons in the bottom row but it feels like they are placed a bit too high up. I.e. I would expect the icons to be centered in the black area (except of course for the selected fragment).

[2018-02-14 18:57] erijo commented on #169
As of #188 it's possible to both import from Google drive and export (by using the share option).

So I would say that this can be closed.

[2018-02-14 19:00] erijo commented on #164
@natrius: if you haven't found it already, translations can now be done here: https://hosted.weblate.org/projects/openscale/

[2018-02-14 19:00] JohnLines commented on #185
Have found time packets, but not weight data yet - updated [https://johnlines.github.io/openScale/](https://johnlines.github.io/openScale/) with updated information. The data seems to be in SPP packets

[2018-02-14 19:09] erijo commented on #187
See https://github.com/oliexdev/openScale/releases/tag/travis-dev-build for an APK built from latest master.

[2018-02-14 19:32] erijo opened #192 "Add new measurement when no user added"
When no user is added, an attempt to add a new measurement (i.e. clicking the + button) should display the message that an user needs to be added first instead of this message flashing by quickly when trying to save the new measurement.

[2018-02-14 22:21] erijo commented on #133
@AxiK101: you can now use https://hosted.weblate.org/projects/openscale/ to do the translation.

[2018-02-16 07:08] natrius commented on #164
@erijo
Thanks, maybe you want to add this information into the readme to the "Contribute" section.

[2018-02-16 15:09] #192 closed

[2018-02-16 15:11] erijo commented on #164
Good idea, perhaps @oliexdev can add something?

[2018-02-16 15:22] oliexdev commented on #191
thx fixed with commit https://github.com/oliexdev/openScale/commit/62cc866a6d17018a17044465efc3ab29ad6073a4

[2018-02-16 15:22] #191 closed

[2018-02-16 15:22] oliexdev commented on #190
thx fixed with commit https://github.com/oliexdev/openScale/commit/62cc866a6d17018a17044465efc3ab29ad6073a4

[2018-02-16 15:22] #190 closed

[2018-02-16 21:19] erijo opened #194 "Bottom row icons jump on first use"
Start the app and select overview. Then exit the app and make sure it's not running. Then start the app and click an icon in the bottom view. The first time, all three icons move up a bit. This does not happen on subsequent attempts.

[2018-02-17 07:37] oliexdev commented on #194
I guess it has something to do with the `disableShiftMode(...)` hack. But this is more a minor flaw rather than a bug.

[2018-02-17 07:41] oliexdev commented on #185
I looked into your log files. Unfortunately, I also didn't find any data bytes about the weight. The bytes for 77.1 kg and the 77.2 kg should differ only in 1 decimal but comparing these log files I also didn't find any close values to each other.

[2018-02-17 09:33] oliexdev commented on #159
@dinki maybe you don't see any toast because you have the same problem as #187 .
Try to debug the app in Android Studio.

I will remove this try in the master repository until we get working version.

For reference the latest implementation in the mater repository was [BluetoothOneByone.java](https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/

[2018-02-17 12:49] JohnLines commented on #185
Looks as if I have some research into Bluetooth on Android to do !

[2018-02-19 11:50] lenucksi opened #196 "Carry over additional measurements not present in all records"
# Use Case:
As a user I would like to be able to realize the following use case:
- Daily use of one of the supported BTLE scales using them to measure whatever they provide. (Schedule A)
- Weekly or less than daily measurement of other manual metrics such as e.g. waist size (Schedule B)
- I would like to have the current measurement of schedule B to be carried over / applied to measurements of Sch

[2018-02-20 16:03] #194 closed

[2018-02-20 16:19] oliexdev commented on #196
ok good idea but I need to figure out how to I distinguish between the values that comes from the scale and that are carried over from the last measurement because it is always different depends on the Bluetooth scale.

[2018-02-20 17:30] erijo commented on #196
Instead of using an empty ScaleMeasurement as the base in the Bluetooth class, perhaps simply use the latest measurement. Then it would be similar to the data entry.

[2018-02-21 09:22] pkscwc commented on #187
Dear Olie,
Can we have only one reading for every step on scale. I am attaching a csv
file for clarifying the issue. I am getting 100s of reading for each time I
step on the scale.

On 15 Feb 2018 12:39 a.m., "Erik Johansson" <notifications@github.com>
wrote:

See https://github.com/oliexdev/openScale/releases/tag/travis-dev-build for
an APK built from latest master.

—
You are receiving this beca

[2018-02-21 16:44] oliexdev commented on #187
Sure modify the BluetoothHesley.java file so that only the last send data is valid.

[2018-02-21 16:46] oliexdev commented on #196
Do you mean to use the latest measurements in the ScaleMeasurement constructor?
But this class doesn't know the latest measurement and also shouldn't know it. But maybe we find another place to set the latest measurements.

[2018-02-22 07:59] pkscwc commented on #187
:-)
Is it through BluetoothHesley.java file?
I cannot read it in this file. Isn't there any separate java file for data?

On Wed, Feb 21, 2018 at 10:14 PM, OliE <notifications@github.com> wrote:

[2018-02-22 17:10] erijo commented on #196
No, not that. But the Bluetooth classes create a new ScaleMeasurement that they fill with data from the scale. My idea was that they instead could use a clone of the last measurement. One way to do it would be if the one calling the Bluetooth classes would provide the ScaleMeasurement instance that they should use as a base.

[2018-02-22 17:13] erijo commented on #169
@Skyrid3r: can you test the latest development version (https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it does what you want. If yes, please close this issue, if no please let us know what's missing.

[2018-02-22 17:18] erijo commented on #158
@chross: can you reproduce this issue with the latest dev build (https://github.com/oliexdev/openScale/releases/tag/travis-dev-build)? It can be installed alongside the official version.

[2018-02-22 18:03] Skyrid3r commented on #169
Mind sharing where this export function is located? Latest development build is from Jan, 2. I can't find it anywhere. Not even in the 3 dot/stripe menu.

[2018-02-22 19:26] erijo commented on #169
I should also mention that for export to e.g. google drive you have to select "Share" in the menu.

[2018-02-22 19:54] oliexdev commented on #196
hmm... I am not still not sure what you mean sorry. Do you mean to have a getter method in BluetoothCommunication.java to get the latest measurement?
Maybe you can create a example PR what you have in mind?

[2018-02-22 20:16] Skyrid3r commented on #169
I don't have any share option in the menu though. Using 1.7 dev. Is it because I'm using a different language?

[2018-02-22 20:19] erijo commented on #169
In the Table view there is an icon with two arrows, one pointing up and the other down. If you click this, do you mean that you only see Import and Export, but not Share?

[2018-02-23 08:17] Skyrid3r commented on #169
I found it, but I have to admit this is one weird location to put a share button. If I couldn't find it easily, I doubt others will. The arrow buttons merge me think of a ascending and descending filter.

Can't the share function be in the backup menu?

[2018-02-23 13:05] erijo commented on #169
I actually agree with you that it's not the best place for the menu. Personally I think they should be in the toolbar, just to the left of the + button (in a three dots menu commonly seen in Android apps). It could then be visible on all views.

What do you think @oliexdev?

[2018-02-23 15:03] oliexdev commented on #169
hmmm ok then change it but this icon was the import/export [material icon](https://material.io/icons/#ic_import_export) from Android.

[2018-02-23 16:45] oliexdev commented on #170
implemented it with commit https://github.com/oliexdev/openScale/commit/dd6c9b20981d00d85b3bac621d52b38350c62b6f

[2018-02-23 16:45] #170 closed

[2018-02-23 16:46] #180 closed, assigned to nobody

[2018-02-24 06:53] #169 closed

[2018-02-24 08:55] erijo opened #202 "Crash while clicking around in graph"
Got the following crash while clicking around in the graph with regression line active (degree 10). Don't have time just now to figure out exactly what I did, but perhaps it can be fixed anyway.

Build version: 1.7-dev_0cba7961
Current date: 2018-02-24 09:53:51
Device: LGE Nexus 5X

Stack trace:
java.lang.ArrayIndexOutOfBoundsException: length=11; index=11
	at com.health.openscale.core.utils.Polyn

[2018-02-24 11:04] ivvv opened #203 "Only weight measured on SBF70"
I have read the FAQ on this problem but it does not solve it. Here is what I did, using the latest development build (but also tried the same with the google store one). The following steps were done **on both** phones that connect to SBF70 (mine and my wife's):

1. Remove any existing user from `openScale`
2. Completely remove the legacy SBF70 app (health coach)
3. Reset the scale with the button

[2018-02-24 11:09] erijo commented on #202
The crash happens with both week and month view unchecked and the going from 2018 to 2017 with the following data:

"bone","comment","dateTime","fat","hip","lbw","muscle","waist","water","weight"
0.0,"","13.12.2018 13:20",19.3,0.0,0.0,42.5,0.0,59.4,85.2
0.0,"","13.12.2018 13:19",19.3,0.0,0.0,42.5,0.0,59.4,85.2
0.0,"","13.12.2018 13:18",19.3,0.0,0.0,42.5,0.0,59.4,85.2
0.0,"","13.12.2018 13:17",19.3

[2018-02-24 14:37] pkscwc commented on #187
Dear Olie,

Any hint!
I would work on that further.

Thanks.

On Thu, Feb 22, 2018 at 1:29 PM, Pankaj Kr Sharma <pkscwc@gmail.com> wrote:

[2018-02-24 15:33] oliexdev commented on #202
thx should be fixed with commit https://github.com/oliexdev/openScale/commit/6854b9704e93c862657f99528077de203f21525c
After refactoring this class the regression line was not probably calculated because the time was not set and I fixed also some other side effects.

[2018-02-24 15:33] #202 closed

[2018-02-24 15:37] oliexdev commented on #203
look into the issue #153 or search for other issues.

[2018-02-24 15:41] oliexdev commented on #187
try to avoid that the method `parseBytes(...)` is always called in the BluetoothHesley.java file call it just once time if you receive a new weight.

[2018-02-24 21:07] erijo commented on #196
I thought some more about this and I don't think my initial suggestion is all that good. If we copy over e.g. fat from the previous measurement we will hide a problem if e.g. the scale for some reason stop providing the fat measurement (or if the user switches to a different scale).

Instead we should just copy over waist and hip since these are unlikely to come from the bluetooth scale.

[2018-02-25 10:53] Skyrid3r opened #206 "Crash when looking for Bluetooth device"
Build version: 1.7-dev_a8859200
Current date: 2018-02-25 11:51:31
Device: Samsung SM-T580

Stack trace:
java.lang.IllegalArgumentException: Receiver not registered: com.health.openscale.core.bluetooth.BluetoothCommunication$1@7c66b8d
	at android.app.LoadedApk.forgetReceiverDispatcher(LoadedApk.java:1054)
	at android.app.ContextImpl.unregisterReceiver(ContextImpl.java:1376)
	at android.content.Cont

[2018-02-25 15:29] oliexdev commented on #206
I can't reproduce this error but I implemented a more robust function with commit https://github.com/oliexdev/openScale/commit/e1d74bf94f9bae9b778a797eb25d2763a26371a7
Please try it out.

[2018-02-26 04:46] pkscwc commented on #187
OK.
Will try and let you know.

On Sat, Feb 24, 2018 at 9:11 PM, OliE <notifications@github.com> wrote:

[2018-02-26 08:55] chross commented on #158
The dev build says something along the lines of "No user present. Please add a user unter settings." When trying to connect to BT or add values manually. Working fine.

[2018-02-26 09:02] erijo commented on #158
Excellent, thanks for verifying.

[2018-02-26 16:06] #175 closed

[2018-02-27 16:57] lenucksi commented on #196
Validated the feature that was provided with PR #205 using a SBF-75. From what I can see, it works as expected, thanks.
I guess this issue can be closed then? @erijo  @oliexdev

[2018-02-27 17:13] oliexdev commented on #196
thanks for your testing. Yes if it working this issue can be closed :)

[2018-02-27 17:13] #196 closed

[2018-02-27 18:01] #203 closed

[2018-03-04 15:38] JohnLines commented on #185
Getting there - I am returning valid data to addScaleData, but currently getting 3 results per weighing. I will look into suppressing. Also, although the scales know the date I am returning the date from the phone.

[2018-03-05 04:09] Teyro opened #212 "Bug: Endless Connection to device"
Hi there,

First of all i want to thank you for your great work! Got this app from f-droid and i am very happy with it! Keep going!

But i had one small Bug since the lastest version of openscale (on a older version it didnt happen far as a know). I am useing openscale with the medisana bs 444 works great but every time a got new data via bluetooth it loops .... Got a toast massage "There a data w

[2018-03-05 13:49] dinki commented on #159
I'm finally getting around to looking at this.  Apologies.  Do you have a guide for debugging/building with Android Studio?  I'm pretty technical but I have never done this before so a general guide would help.  Also, what do I need to install?  Is Android Studio a standalone package or do I need to add certain modules etc?

Thanks again for the help.  Just a little push and I'll be happy to try a

[2018-03-05 17:10] oliexdev commented on #159
you could set breakpoints or you could just simple add some `Log.d(...)` statements.

See https://developer.android.com/studio/debug/index.html

[2018-03-05 17:16] dinki commented on #159
Thanks.. so these would go near the bottom where the variables are assigned?  Like around scaleBtData.setWeight(weight);  ?

[2018-03-05 17:20] oliexdev commented on #159
wherever you want. For example if you want to inspect what is in the weight variable just set there a breakpoint or write directly above the following code snippet:
[code]

[2018-03-05 17:27] oliexdev commented on #212
Did you receive these messages if you stand on the scale?
Try to weight yourself and then after you are done connect to the scale with openScale

[2018-03-06 14:52] hirnsushi commented on #212
I can confirm this behaviour for my bs 444 as well.
Has been happening since 1.7.
If you wait long enough (1min or so) the toasts will stop, no need to fc it.
Already tried it with a clean db, that worked for the first sync, but as soon as the old measurements are synced, the toasts reappear. Then I got used to it… 😃

[2018-03-06 15:07] dinki commented on #159
Thank you for your help and your patience.  So once I make these changes do I need to build the APK and put it on the phone and try a reading?  I'm guessing these values will be sent to a log file somewhere.  How do I find and read this log file?

[2018-03-06 15:10] erijo commented on #212
Could it be that openScale always fetches all measurements from the scale?

[2018-03-06 16:07] oliexdev commented on #212
As @erijo already assumed the scales fetches all measurements from the scale. I also didn't change anything in the bs 444 source code but I added that a toast message is displayed. With commit https://github.com/oliexdev/openScale/commit/ebafa65becbd5949ee3992f98b7f253db911d140 I set the silent mode on for new Bluetooth messages (so no toast messages are displayed) but still as like in the previou

[2018-03-06 16:07] #212 closed

[2018-03-06 16:10] oliexdev commented on #159
see https://developer.android.com/training/basics/firstapp/running-app.html how to run the app.
No the values are not send to a log file it will display in the `logcat tab` (see the bottom tabs) in the Android Studio.

[2018-03-06 16:30] dinki commented on #159
Oh that's really cool.  Thanks.. I'll give it a shot soon.

[2018-03-07 08:10] oceanpad opened #214 "can get weight scale's fat rate data ?"
https://github.com/oliexdev/openScale/blob/65824e8ed2f8196aefc924ef8c2f187ddebe46cd/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothMiScale2.java#L208

[2018-03-07 10:18] erijo commented on #214
See https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale

[2018-03-07 13:41] hirnsushi opened #215 "Measurement sorting isn't optimised for the dark theme"
Just a small papercut…
![screenshot_20180307-115244](https://user-images.githubusercontent.com/5706729/37095135-5da6526a-2215-11e8-87e8-aa9a005698b7.png)

[2018-03-07 14:01] erijo commented on #215
This should be fixed in d4a968d. You can try the dev version of you want to verify it: https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-03-07 14:13] hirnsushi opened #216 "Bodyfat / -water in kg uses the wrong scale"
Not sure if this can be easily solved, the different values would need to be calculated for every new measurement.
![img_20180307_150530](https://user-images.githubusercontent.com/5706729/37096595-6609dea0-2219-11e8-952b-af0efea73be7.jpg)

[2018-03-07 14:19] hirnsushi commented on #215
Aaah, should have looked at the past commits, sorry.
Tested and works, closing this.

[2018-03-07 14:19] #215 closed

[2018-03-07 15:05] erijo commented on #216
I don't think I understand the issue. Could you please elaborate?

[2018-03-07 15:30] hirnsushi commented on #216
If you look at body fat for example the arrow suggest I'm on the lower end of the green zone.
That would be correct if my weight was exactly 100kg, it isn't.
For comparison the same measurement in percent:
![img_20180307_162827](https://user-images.githubusercontent.com/5706729/37101005-c2be6e1c-2224-11e8-9fa4-6ff49986ec16.jpg)

[2018-03-07 15:49] erijo commented on #216
Ah, now I see.

I can look into this if you want @oliexdev.

[2018-03-07 18:06] #214 closed

[2018-03-07 18:07] oliexdev commented on #216
@erijo sure go ahead.

[2018-03-07 18:08] oliexdev commented on #206
I guess it is fixed...

[2018-03-07 18:08] #206 closed

[2018-03-08 11:06] alekksander opened #218 "Crash report on app start"
Build version: 1.7.1
Current date: 2018-03-08 12:07:33
Device: BullittGroupLimited S40

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.health.openscale/com.health.openscale.gui.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int com.health.openscale.core.datatypes.ScaleUser.getId()' on a null object reference
	at android.app.Act

[2018-03-08 13:41] riadhrom opened #219 "Beurer BF 600 not supported."
Hi everyone,

Could you help me about the connection of Beurer BF 600.

![screenshot_20180308-143806](https://user-images.githubusercontent.com/37182628/37153926-96c025e8-22de-11e8-8a03-991b5b296ad9.png)

Thank you.

[2018-03-08 17:03] erijo commented on #185
For reference: PR #221 implements this.

[2018-03-08 17:07] erijo commented on #218
I did an attempt at fixing this. But to know if this is the real fix, could you please provide some context on what you did prior to the crash? Do you have user(s) registered? Did the previous version work?

[2018-03-09 06:42] cosminribo opened #223 "Separate axes for measurements with different units and ranges"
I've been using Open Scale for the past year and it's been a great application. However, recently, the graph showing weight got mixed with other measurements, which are all shown on the same y axis. This is very confusing. While I understand that you want to show as many trends as possible, the use of a single axis for measurements that have widely different ranges and units seem unfortunate.

Wou

[2018-03-09 12:54] alekksander commented on #218
it happens when i'm trying to start application. i have one user registered (or two, i can't remember if i put another version 1.7 (not downwards compatible)). 1.7 worked if i recall correctly, but again – i', not 100% sure, sorry.

[2018-03-09 15:15] erijo commented on #223
Do you know that you can disable measurements you don't use in the settings and that you can hide measurements in the graph by clicking on the icons on the graph page?

[2018-03-09 15:26] dinki commented on #159
@oliexdev I plugged in my phone last night and did not get what was listed in the guide.  I am not running Android v8.  Far from it.  My phone is an old Samsung S4.  It serves me just fine for my day-to-day needs, but perhaps can't be used with the instructions given?

Is there another way to test?  Is there a way to perhaps build and APK that can write to a physical file on the phone and view tha

[2018-03-09 15:28] erijo commented on #218
Would you be able to use adb to connect to your phone? We could then both verify that the fix I did is the right one and make the app work for you again.

Otherwise you'll have to wait until the next version, or if you have an backup, uninstall and reinstall the app (but note that all settings and measurements will be lost).

[2018-03-09 20:18] alekksander commented on #218
i'll wait for the next version, and then go with adb for linux if the error still occurs. Thank You for Your interest

[2018-03-10 10:25] #216 closed

[2018-03-10 10:25] #218 closed

[2018-03-10 11:53] hirnsushi opened #224 "Feature Request: Option to disable comments"
It would be great if there was an option to disable comments, like there is for the other measurements.

[2018-03-10 12:03] hirnsushi opened #225 "Feature Request: Make the graph on the overview page adjustable"
With muliple types of measurements enabled, the graph on the overview page basically defaults to a straight line.
Maybe it could get it's own settings for showing / hiding of measurements or inherit the options chosen in the diagram tab.

[2018-03-11 07:01] #185 closed

[2018-03-11 14:41] woj-tek opened #226 "BMI can't be disabled"
As the title says - BMI calculation and display can't be disabled (and thus hidden in the overview graph; somewhat related to  #130).

[2018-03-11 14:41] woj-tek commented on #130
Could we re-open the issue to 'have it on the table'?

For the moment (because I don't have a weight that gives more measurements except for the plain weight) I've disabled all measurements) and that kinda solved my issue (*), but in the future it would be nice to have that sort of customizability.

And there are also #224 and #225 which are quite similar to this one.

(*) - there is still `body m

[2018-03-11 21:00] erijo commented on #216
@hirnsushi: please try the latest [dev build](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it looks better now.

[2018-03-11 21:03] erijo commented on #224
I will try to refactor the settings slightly and include this and #226 in that work.

[2018-03-13 09:16] hirnsushi commented on #216
Works great, thank you 👍

[2018-03-13 23:29] momo42 commented on #226
I use this app almost every day and I really like how it evolved over time but I just monitor my weight. So I disabled all the other graphs. In the recent version disabling the BMI is not possible. In the graph section this is not a big deal because you can disable it here "on the fly" but the overview graph degenerates to two straight lines in my case ... the bmi on the bottom and the weight on t

[2018-03-13 23:37] momo42 opened #227 "Dark theme: black font on dark grey background"
I absolutely like the new dark theme but one (sub) menu needs improvement. "Messwert Reihenfolge" (german) has a black font on dark grey backround. Works, but it is not the best combination I guess. :)

[2018-03-14 07:06] Dododappere commented on #189
![runtastic-libra](https://user-images.githubusercontent.com/34566117/37387870-83a57b64-275e-11e8-9ff0-c0b5bbbde72e.jpg)
Here you are...

[2018-03-14 10:44] lenucksi opened #228 "New SBF-75 instability on measurements"
## Issue
- SBF-75 does show user name in scale (--- instead) anymore.
- Also, history is not stored anymore. The scale needs to be actively connected to the app while measuring or the measurement will be lost.
- If two users with similar weight ranges are present, measurements might be wrongly associated to a user.
- Registering a profile with a name with the same prefix on two devices appears to

[2018-03-14 13:44] erijo commented on #227
Thanks for your report. This has been fixed in  d4a968d.

[2018-03-14 13:44] #227 closed

[2018-03-14 19:53] Dododappere commented on #228
@lenucksi when you see '---' appear on the scale, it means that the scale doesn't know which user to assign it to. Probably because the two users you are using are too similar in weight.

As a consequence, the measurement is internally stored as 'unknown measurement'. OpenScale currently doesn't handle the 'unknown measurement'....

So I wouldn't call it a bug in openScale....

[2018-03-15 09:56] lenucksi commented on #228
Well, it obviously leads to unexpected behavior and thus irritation of users. This, just like other things a UX issue and thus a bug.

## Questions
- As far as it appears, this can also be triggered by two devices with a similar user being linked to the scale.
- Is it known which weight difference is needed by the scale's measurement association function to identify a user?
- Also, do we know any

[2018-03-15 17:44] Dododappere commented on #228
I can understand the fact it leads to UX issues.  But to me a bug is a mistake in the software and in this case it is not so much a mistake in openScale but simply a consequence of how the scale works. It would also happen with the official app

But to be constructive:
- It is technically possible to influence the range for detecting a user. I think by default it is +/- 2 Kg of the last weight. Ho

[2018-03-18 10:47] oliexdev commented on #189
thanks @Dododappere

[2018-03-18 10:47] #189 closed

[2018-03-18 11:05] oliexdev commented on #225
done with commit https://github.com/oliexdev/openScale/commit/06549f5b3f1a4f510c298ad3584150c1d1f483ea
But currently you have to recreate the overview page (e.g. rotate the smartphone) to see an effect.

[2018-03-18 11:05] #225 closed

[2018-03-18 11:07] oliexdev commented on #223
as @erijo already said just disable the lines that you don't need.

[2018-03-18 11:07] #223 closed

[2018-03-18 11:07] oliexdev commented on #223
as @erijo already said just disable the lines that you don't need.

[2018-03-18 12:10] erijo commented on #226
I'm working on restructuring the preferences a bit. This will be included in that work.

[2018-03-18 12:12] erijo commented on #224
I've made some progress with this and gotten the preferences to look the way I wanted. Now I just need to clean it up and tie it all together.

[2018-03-20 16:58] sebmate opened #230 "Sanitas SBF 70 stops working (absolutely no measurements)"
Hi all,

first of all, thanks to all developers of openScale! It's great to see that you are "freeing" these devices!

I have some major connection issues with this scale. I had it working twice (and I'm familiar with the setup procedure), but after some time the scale stops to send any values to the smartphone (not even weight). Both devices are connected, and the bluetooth symbol in the LCD turn

[2018-03-21 19:04] Dododappere commented on #230
Difficult to say what the issue is exactly. But most likely the issue is that both devices are trying to connect to the scale and 'fight' for the connection. The scale can only have 1 active connection at a time. If one device 'takes' the connection, another device will not be able to connect to it...

So if you are standing on the scale AND you see the Bluetooth icon on, a device is connected. Fi

[2018-03-21 20:32] rangzen opened #231 "The last n days, with a fixed max and min?"
Hello,
First thanks for openScale!
I can't find a way to see the last 30 or 90 days with a fixed maximum and a fixed minimum weight. I always have to zoom, to translate the diagram, etc. And when an objective is filled I can't zoom around, it's like a fixed minimum (yeah, I'm above :) )
Is it possible actually?

[2018-03-21 21:03] sebmate commented on #230
Hi Dododappere,

thanks for your tips. I observed this "fighting" for the connection, but this does not seem to be the problem. I can manage to create a stable connection between the phone and the scale (the scale then shows the Bluetooth symbol and openScale the symbol with the two dots on the left and right). But both do not appear to exchange data.

I'm not even sure if both devices create a pe

[2018-03-23 14:43] Olangu opened #232 "1.7.1 can't work without location / Add configure for disable location"
Since 1.7.1 Open Scale requires location data. Denying location makes it stop working.
However, in earlier version this was not needed, so why is it now added at all?

If any of the scales needs this to function properly it should be a configurable option to enable it.

Please do not gather data not needed!

I will stay on 1.7 for now!

[2018-03-23 14:51] Olangu commented on #232
Ok, so I found the reason here:
https://github.com/oliexdev/openScale/issues/74#issuecomment-334922013

But the link provided also states the following now:
https://stackoverflow.com/a/39892691

Is this possible. It really sucks that you can't use OpenScale without giving it location data.

[2018-03-23 16:53] erijo commented on #232
Do you use Bluetooth? Which Android version?

[2018-03-23 17:17] Olangu commented on #232
Yes, bluetooth.
Sanitas SBF70 scale.
Android 7.0 (EMUI 5.0.1)

[2018-03-23 21:29] erijo commented on #232
Going back to targetSdk 22 is unfortunately not a good option. At the end of the year, Google will start requiring that updated apps use targetSdk >= 26. So we are stuck with needing the COARSE location permission to be able to search for devices.

One option might be to add support for specifying the scale's MAC address manually, or remember it during an initial discovery. The permission would th

[2018-03-24 07:37] #224 closed

[2018-03-24 07:37] #226 closed

[2018-03-24 07:58] oliexdev commented on #232
@Olangu please read the FAQ!
@erijo You need the permission anyway. I thought the information text before enabling the Bluetooth permission was enough but I guess nobody reads that or maybe it is better to link to the FAQ for further information.

[2018-03-24 07:58] #232 closed

[2018-03-24 08:02] oliexdev commented on #231
Sorry I don't really know what you mean. Can you do some screenshots?

[2018-03-24 13:34] hirnsushi commented on #225
Took me a moment to find the new settings, but looks and works great 👍
Thank you! 😃

[2018-03-24 15:03] erijo commented on #226
Please test the latest dev build and let me know what you think about the new preferences and if you have any suggestion.

https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-03-24 16:59] woj-tek commented on #226
It looks great now (very very! and I love the new weight input box!)

There is a slight issue with the settings - sometimes tapping on the category (left part, with the name) doesn't open the new screen - at first I thought it was linked to the toggle (right part) but it's possible to navigate to the next screen with toggle off. Works always with circumference.

Also (possibly related with above)

[2018-03-24 18:49] erijo commented on #226
Hmm. You're not supposed to be able to navigate to the next screen when the switch is off. Can you provide step-by-step instructions on how to reproduce this?

[2018-03-24 18:57] erijo commented on #226
Think I might have found the bug. Please test with latest dev version once 57daf44 has been built.

[2018-03-24 23:27] Auctoritas-Dirk opened #234 "Crash"
Build version: 1.7.1
Current date: 2018-03-25 00:16:09
Device: Motorola Moto G4 Plus

Stack trace:
java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=100, result=-1, data=Intent { dat=content://com.estrongs.files/storage/emulated/0/Download/openscale/openScale Dirk113.csv }} to activity {com.health.openscale/com.health.openscale.gui.MainActivity}: java.lang.NullPoin

[2018-03-25 00:10] #234 closed

[2018-03-25 00:15] erijo commented on #234
Thanks for your bug report. I think I have fixed this crash now. Could you please verify that it is fixed by testing the [dev build](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build)?

[2018-03-25 17:59] Auctoritas-Dirk commented on #234
Ich bin noch am Testen:
Eine exportierte Datei kann jetzt fehlerfrei wieder importiert werden.
Etwas schwieriger ist es bei einer anderen früher  mal exportierten Datei:
Hier tauchen Fehler mit der Permission auf, ich werde dies aber noch
genauer testen.

Besten Dank für die schnelle Reaktion

Erik Johansson <notifications@github.com> schrieb am So., 25. März 2018,
01:15:

[2018-03-25 18:19] erijo commented on #234
If you are ok with sharing the file here or with me via mail I can have a look and see if I can reproduce the wrote.

[2018-03-25 20:55] erijo commented on #4
I was going to post this as a reply to @oliexdev in #233, but I guess the conversation fits better here.

@oliexdev wrote:

I'm thinking that the data entry activity isn't a big problem. The measurements are few enough for one to be able to scroll them easily. Introducing separate tabs might make it slightly more cumbersome to use.

I think the two big issues are the table and graph view. They nee

[2018-03-26 15:33] Lewiscowles1986 opened #235 "Complete Pain to pair with scales"
Here's the ritual I had to perform to connect with scales (may be manufacturer problem).

1. Open settings, turn on Bluetooth, turn on discoverability, rename device
2. Restart phone
3. Open app, goto settings, bluetooth.
4. Power on device, and whilst standing on scales, click device to search for what looks like a mac address.
5. Step off of scales, go back to home screen in app, and click pair

[2018-03-26 15:58] woj-tek commented on #226
OK, it seems to work ok now. Thank you for the quick fix

[2018-03-26 21:54] Auctoritas-Dirk commented on #234
Besten Dank noch mal für die Hilfe,
Ich habe den Fehler beim Import gefunden:
Ich hatte versucht eine Datei zu importieren die ich vorher am PC
bearbeitet hatte und dabei hatte sich wohl ein Fehler eingeschlichen. Der
Import der unbearbeiteten Datei verlief ohne Fehler.

Mit freundlichen Grüßen Dirk stolte

Erik Johansson <notifications@github.com> schrieb am So., 25. März 2018,
20:19:

[2018-03-26 21:56] erijo commented on #234
Ok, glad to hear you sorted it out.

[2018-03-27 19:05] giuaig commented on #108
Sorry if i re-open this thread, i have created a script to migrate from HealthCoach app to openScale, maybe it could be useful to other people, here is the link:
https://github.com/giuaig/sanitas2openscale/blob/master/sanitas2openscale.py

Thank you devs for your hard job and the time that you spend in openScale project ;)

[2018-03-31 10:23] linuxlurak opened #236 "add support for postprocessing of data after measuring happened"
Thanks for your great piece of software! My Beurer B700 works nicely.

I automated my home with home assistant (https://home-assistant.io) . It would be really nice to have some kind of post processing of the measured data with support of sending the data via curl or something to my server. This would be a very generic solution so there are a lot of different cases to use this functionality.

Perh

[2018-03-31 11:57] erijo commented on #236
It's an interesting idea, but I see a problem with having to add the internet permission for this. One selling point of openScale is that it doesn't send the data to the cloud and not having permission to access the internet is a strong guarantee of that.

One solution to your problem could be to use the export feature in openScale to export your data in CSV format to eg Google drive (openScale ca

[2018-03-31 17:56] cosminribo commented on #223
Thank you for your solution, it works well for the graph page. However, it is currently impossible to hide the BMI on the overview page.

Having different measures, with different units on the same graph remains highly confusing. Not a critical problem though. I like the app anyway :-)

[2018-03-31 21:01] erijo commented on #223
In the next version you can turn off measurements in the overview graph (from the settings menu).

[2018-04-01 08:38] linuxlurak commented on #236
Ok. That's true. Privacy is a very strong point. That was indeed a reason for me to choose openscale. And its nice and clear design.

What about an option in the settings menu to save data locally or to export it with the built in function **automatically**? So some checkbox would be nice ("[ ] automatically export data after measuring") and a text box for defining the target file. Then the user c

[2018-04-02 11:37] Megachip commented on #151
Anyone had success? Get managed to create a test build but cant install it anywhere :/ (Tested Android 7 and 8)

[2018-04-02 15:47] magaiverpr commented on #151
Waiting for this too.

This ticket was closed because there is no way to implement?

[2018-04-02 18:04] zachrdlapetr opened #237 "It doesn't work on Beurer BF710"
I have tried connect application to BF710 but it doesn't work. I can see a transfer informations between application and the scale but next there is an information that it isn't possible to connect. Please, could you fix it? Thank you so much.

[2018-04-02 20:06] erijo commented on #237
Please see this: https://github.com/oliexdev/openScale/wiki/Frequently-Asked-Questions-(FAQ)#my-scale-xyz-is-not-supported-why

Especially this link: https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale

Some work was done in #151, but as we don't own that scale we need your help.

[2018-04-02 21:50] zachrdlapetr commented on #237
Erijo, thank you for the explanation. I have opened this issue because oliexdev wrote a comment on Google Play. He responded to the negative evaluation where a man wrote that his scale BF710 doesn't work with openScale. And oliexdev recommended him to input new issue on github.

[2018-04-03 20:45] erijo commented on #237
I've ordered a BF710 and we'll see if I manage to make it work once I get it.

[2018-04-04 06:28] ilazgo opened #238 "App crash on start"
OpenScale 1.7.1 crash on startup. Installed from F-Droid.

[code]

[2018-04-04 09:16] zachrdlapetr commented on #237
Wow. Thank you so much. I appreciate it. I believe there will be a huge amount grateful people because the orginal app from Beurer is really crap.

[2018-04-04 11:02] natrius opened #239 "[feature request] Autosave when app closes"
Implement an option for an opt-in autosave when the app-closes. I set the backup to a folder that is synced automatically via nextcloud.
Now i have to do it manually, i would love an option like that - no clue how easy it is to implement.

[2018-04-04 13:03] weliem commented on #237
The BF710 is identical to the BF700. Just add it to the list of advertisement names....and it will probably work

[2018-04-04 18:51] erijo commented on #238
Thanks for your report. I think this crash was fixed in 23183ab18.

If you want, I would appreciate if you can test [the dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and report back if it works or not.

[2018-04-04 18:51] #238 closed

[2018-04-04 18:52] erijo commented on #237
Thanks for the tips @weliem. I'll test that once I get the scale.

[2018-04-04 18:54] erijo commented on #239
In #236 we discussed adding an option to automatically export the measurements when a new one is added. Would that work for you as well, i.e. are you ok with CSV format or do you really want the sqlite database?

[2018-04-05 06:19] natrius commented on #239
Thanks for the fast answer. I did not connect the other isse with that :D

Actually i just want a kind of a backup in case somethings happenes to my cellphone.
.csv would be perfectly fine, because its accessible through excel or libreoffice calc. It should be possible to import the file again (=restore)

Further comments in #236

[2018-04-05 06:19] #239 closed

[2018-04-05 15:17] magaiverpr commented on #237
I have this scale. I could test for you. How can I do that?

[2018-04-05 22:42] erijo commented on #237
Just adding an entry to the list is not enough. Other changes are needed as well. But I have gotten it to work and will try to put something together for test.

[2018-04-05 23:30] #237 closed

[2018-04-06 16:05] erijo commented on #237
Please try the dev version and let me know how it works for you: https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-04-06 16:16] zachrdlapetr commented on #237
Yes, It does work!! Great job. Thank you. I appreciate it.

[2018-04-06 18:00] weliem commented on #237
@erijo , nice! So apparently it is then using the same protocol as the Sanitas SBF70. Didn't expect that...

So now you could remove the Sanitas handler code and use the BF700 handler code.....if you would add their advertisement names...Nice cleanup...

[2018-04-07 10:14] timoc commented on #235
Is it possible to permenantly pair a scale with a device?

[2018-04-07 10:29] erijo commented on #239
If you have backup enabled for Android I think it automatically backs up the database. See under system settings -> system -> backup -> app data.

[2018-04-07 20:39] Lewiscowles1986 commented on #235
Certainly, my device all I now do is turn on Bluetooth and open OpenScale before getting on the scales so if people don't change devices often, it seems to be working for me once initially paired. The initial device pairing. Well android devices and even the iPhone 4s I've worked with seem to have terrible connectivity, not just to the smart-scales. It's a real area I wish we could scan a QR code

[2018-04-07 22:27] erijo commented on #237
Will do that, thanks for the hint @weliem.

[2018-04-07 22:30] erijo commented on #235
Please test the latest dev version: https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

You should now be able to close down the Bluetooth connection. The pairing process may also be improved. Please report back your result.

[2018-04-08 09:51] oliexdev commented on #228
if you have ranges that are overlapping in weight then as @Dododappere wrote it is not clear which user should be assign.

So if you enable the smartUserAssignment in openScale. It would use the user with the closest weight but also checks if the weight is in range +-15. If they are out of range openScale will ignore this measurement. You can disable this range check in the settings! Then the out

[2018-04-08 09:58] oliexdev commented on #230
Well if you select the correct device in the openScale Bluetooth settings then openScale will only search for this MAC address, so an interfering can't be the problem.
Am I understand right you are you using two devices to connect to the scale?
Do you have the same user names set for the two devices?

[2018-04-08 10:00] oliexdev commented on #231
Seems not a real problem so I will close this issue.

[2018-04-08 10:00] #231 closed

[2018-04-08 10:42] oliexdev commented on #236
As @erijo said a direct upload function in openScale to a cloud is for privacy and license reasons no option.

But an auto export / auto backup was already on my ToDo list for openScale. The auto backup should be configurable to a daily, weekly, monthly backup. There could be also an option to overwrite the last backup to have only one file so you can use some thirst party Apps for the post proces

[2018-04-08 10:58] oliexdev commented on #4
I am not sure if it's more cumbersome to have a tab menu. It would be more clearly and not overfilled and we have a better disjunction between those two groups. You could for example for the body measurements show a stylized body picture, disable/enable one group and so on or could handle measurements slightly differently.

For the graph I don't see a big problem you could easily configure your gr

[2018-04-08 11:08] oliexdev commented on #237
@erijo could you add a photo of the BF710 scale for our wiki gallery?

[2018-04-08 11:28] Lewiscowles1986 commented on #235
Right, this is about using the openScale bluetooth settings though.

There's no need for you to do anything, I merely stated it would be awesome if something could be done. The issue is for others to be aware of the process I carried out, that's all.

[2018-04-08 11:49] oliexdev commented on #235
To avoid your two first steps we need the manufacture Bluetooth device name, so we can add this in our "supported Bluetooth device name" list.

[2018-04-08 11:49] #235 closed

[2018-04-08 12:29] Lewiscowles1986 commented on #235
Thanks, the device name is `SWAN`, it's MAC is `04:B3:EC:50:9D:6E`

[2018-04-08 13:49] oliexdev commented on #235
@Lewiscowles1986 thanks did you change the device name to SWAN? Otherwise it is the same like the MGB scale.
Can you please post a photo of the scale for our scale gallery on the wiki?
And is [this](https://www.amazon.co.uk/Xenta-Smart-Fitness-Scales/dp/B077H234H2) your scale, right?

[2018-04-08 13:58] sebmate commented on #230
Hi oliexdev,

thanks for your feedback. It's good to know that the connection is bound to the MAC address. Yes, I was using two devices (the Wileyfox smartphone and the x86 Android tablet). Of course I've tried all various settings, including same user names. I've literally spent days trying. But it was only working on the tablet. Even a factory-reset of the phone did not help.

One interesting ob

[2018-04-08 13:58] #230 closed

[2018-04-08 14:36] Lewiscowles1986 commented on #235
Yeah it's my scale,
![dsc05075-scales](https://user-images.githubusercontent.com/2605791/38468758-76df2e14-3b42-11e8-8495-387cbfa93fa6.JPG)

[2018-04-08 15:11] fabianmani opened #240 "App unable to locate exported data"
#### Expected behavior
I expected after exporting my details to the default folder created by the app, I should be able to import the file from the folder back to the app for further usage.

#### Actual behavior
When I tried to import the exported file I get an error message that the file isn't found but when I check my file manager the file is there hence making me unable to import my exported fi

[2018-04-09 02:56] jbeguna04 opened #241 "Logo/Icon Proposal"
Hi good day! I would like to ask for your permission to propose a new designs of logo in your application/project. This issue is not saying that your current logo is unsatisfactory, I would just like to propose new designs. Hoping for your positive response Thank You!

[2018-04-09 05:00] erijo commented on #241
I think this is something that @oliexdev should comment on, but here are my 2 cents.

Replacing the logo with something (radically) different is not something I think should be done without a lot of consideration, specially since I think the current one looks rather good. On the other hand it's hard to do this consideration without knowing what the alternatives are.

Do you have some more details

[2018-04-09 05:03] erijo commented on #240
This is very strange. Could you try removing the backup directory first and retry the steps?

[2018-04-09 08:52] fabianmani commented on #240
I'll try that and let you know the result.

On Apr 9, 2018 06:03, "Erik Johansson" <notifications@github.com> wrote:

[2018-04-09 15:27] oliexdev commented on #240
strange but what makes me wonder that the write/read permission was not asked?
Did you already grant these permission? Can you check if these permission are granted to openScale?

[2018-04-09 15:32] fabianmani commented on #240
I just checked and discovered the permissions were not granted and that's
because it was not asked from the start. I granted the permission and its
now working fine.

On Apr 9, 2018 16:27, "OliE" <notifications@github.com> wrote:

strange but what makes me wonder that the write/read permission was not
asked?
Did you already grant these permission? Can you check if these permission
are granted to o

[2018-04-09 18:48] erijo commented on #240
It seems like a bug if it didn't ask for permission.

Can you try installing the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it asks for permission when you try to backup?

[2018-04-09 19:11] rangzen commented on #231
Sorry, updates was in spam folder...
I want to fix a minimum and/or a maximum for the Y axis, actually the diagram take the max and min value.
And a number of days of history, actually it's the start of the year. In january I don't have any history visible.

For example, with 70kg min, 80kg min and 90 days of history, the diagram will look like that :
![example](https://user-images.githubuserconte

[2018-04-09 19:55] jbeguna04 commented on #241
Thanks ill be proposing it today

[2018-04-09 22:14] dylanlt commented on #71
Total Body Water (TBW) = (0.372 * HeightCM * HeightCM / Resistance)  + (0.142 * massKg) - (0.069 * ageYears) + (3.05 * ifMale)

Fat Free Mass = TBW ÷ 0.73

Can you test with your height and age and see how well it compares to the app value?

Reference: LUKASKI and BOLONCHUK (1988) Formula for total body water. Aviation Space and Environmental Medicine, 59, p. 1163-1169

[2018-04-10 12:55] erijo commented on #238
The dev version is a separate app and doesn't have access to the data in the release version (to not mess that up). But if you backup the data from the release version (in the settings) you can import it in the dev version.

Thanks for verifying the fix!

[2018-04-10 14:52] riadhrom commented on #219
@erijo : Hi erijo. Of course, I'm interested in support for that scale but I'm novice in computer programming so I don't have any idea about how I do it. I read the post and it's a chineese for me :( But I can test your code if you want :)

[2018-04-10 14:58] ilazgo commented on #238
Ok. I don't have a recent backup and I can't do it now (the app crash on startup). So I will wait to a new version with this issue fixed.

[2018-04-10 15:08] erijo commented on #219
Please try the dev version and let me know how it goes: https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-04-10 15:55] lenucksi commented on #228
Thanks @oliexdev, I'll check back with the scale later and update this. I've found another weird effect with regards to user assignment on the scale and coupling, too.

[2018-04-10 16:01] lenucksi commented on #236
How about publishing a flavour of openScale with network-backup functions and one without, just like e.g. QRDroid did it?
I'd very much appreciate some integration into Nextcloud or similar on-premise "cloud" software.

[2018-04-10 16:34] erijo commented on #236
If the backup feature uses the ACTION_CREATE_DOCUMENT intent as the export does, then the backup can be made to any destination that supports the storage access framework.

[2018-04-10 16:39] oliexdev commented on #236
@lenucksi as in wrote in issue #82 an "openScale connector" would be possible. Two version of openScale with and without network function is not maintainable. Behind openScale is not a company and I already see the problem with the high possibilities of different cloud integration. You want the integration to nextcloud, the next user want the integration to GoogleFit and other one to GarminConnect

[2018-04-10 16:46] riadhrom commented on #219
Thank you very much. The connection is established but the data is empty and no records.

![screenshot_20180410-174210](https://user-images.githubusercontent.com/37182628/38570968-722b6578-3cef-11e8-9a6e-bd3ade464dac.png)

[2018-04-10 16:51] erijo commented on #219
Please reset the scale and then connect with the app again. Do you then see a message requesting you to step on the scale?

[2018-04-10 16:54] oliexdev commented on #71
@dylanlt I already tried that formula but it didn't work out.
Try for yourself for the example measurements:

used user data on all measurements:
`Height 5'9“ ft (175cm) Age 25 male`

example measurements 1:
[code]

example measurements 2:
[code]

example measurements 3:
[code]

example measurements 4:
[code]

[2018-04-10 17:30] erijo commented on #219
I think we need the bluetooth trafic log to figure this out. Can you perform part 1 from https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale and post the log here?

[2018-04-10 19:00] rangzen opened #242 "The last n days, with a fixed max and min? Was #231"
Sorry, updates was in spam folder...
I want to fix a minimum and/or a maximum for the Y axis, actually the diagram take the max and min value.
And a number of days of history, actually it's the start of the year. In january I don't have any history visible.

For example, with 70kg min, 80kg min and 90 days of history, the diagram will look like that :
![example](https://user-images.githubuserconte

[2018-04-11 09:55] natrius commented on #236
Not yet a tutorial, but i will write one. Its a simple process in Nextcloud and i will try it with SyncThing and write one for that one too. Write here or can i write directly to the wiki? (Looking it up :D )

And, creating a backup on a self-chosen location with some options (how often, after every entry, etc.) is pretty good to work with imho. So, it would be easy for the user to directly integr

[2018-04-11 19:17] natrius commented on #239
Well, i found the backup dialogue, but its empty and i don't know how to add something there. Still, thanks for the help, will research a bitmore :D

[2018-04-12 04:05] Dododappere commented on #219
The BF600 is different than the other Beurer scales. This one is based on the standard bluetooth profiles for User, Weight and BodyComposition. So you have to implement those to make it work.

See:
[User Data Service](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.service.user_data.xml)
[Weight Scale Service](https://www.bluetooth.com/specifications/gatt/viewer

[2018-04-13 11:41] dylanlt commented on #71
Typical population average resistance index (height squared divided by resistance) is roughly 60 a seen here: https://pdfs.semanticscholar.org/98a3/16bcdb1ce64790ca796278ed7731b204764c.pdf

Their formula has slightly different weightings, too.

Working backwards though, fat 22.9% means that fat = 22.4kg, so FFM = 97.9 - 22.4kg = 75.5kg

Hydration constant is 73% so TBW = 75.5 x 73% = 55.1kg ; 55.1

[2018-04-13 15:01] oliexdev commented on #242
please don't create a new issue if the same issue exist already.

[2018-04-13 15:01] #242 closed

[2018-04-13 15:02] oliexdev commented on #231
and what exactly is the problem with that behaviour?

[2018-04-13 15:04] oliexdev commented on #240
could be possible a problem with the Tecno’s HiOS 2.0 on his smartphone which is a custom made Android OS.

[2018-04-13 15:07] oliexdev commented on #236
@natrius please write it here or create a new issue @erijo or I will post it then in the wiki.

[2018-04-13 16:56] oliexdev commented on #236
I implemented a first version of the auto backup in the branch tree. Please try it out.
A selection which database should be imported is currently missing and is on the ToDo list.

[2018-04-14 18:49] erijo commented on #151
If you haven't seen it already, support is available in the latest [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

[2018-04-14 19:41] erijo commented on #230
Please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) @sebmate and see if it works better for you. I've done some refactoring of the Bluetooth connection code.

[2018-04-14 19:42] erijo commented on #237
I've done the merge now @weliem. Could you please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it still works with SBF70?

[2018-04-15 05:02] erijo commented on #235
Can you test the dev version @Lewiscowles1986 and let us know how it works for you?

[2018-04-15 05:07] erijo commented on #232
@Olangu
In the latest [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) you only need the location permission during the initial scan. Once that is done the permission can be revoked. Is that acceptable to you?

I thought about adding support for manual entry of the Bluetooth address, but at least on my scale it doesn't seem to be printed on the scale so a search h

[2018-04-15 09:23] oliexdev opened #244 "App crash while granting Bluetooth permission"
@erijo in the current dev version the app crash while granting the location permission in the Bluetooth preference view.

[code]

Would be great if you can look into it.

[2018-04-15 09:32] erijo commented on #244
Thought I tested all that, but apparently not. I'll look into it.

What Android version?

[2018-04-15 09:38] oliexdev commented on #244
Android 7.0
Can you reproduce this crash?

[2018-04-15 09:42] erijo commented on #244
Yes.

[2018-04-15 16:11] rangzen commented on #231
The actual behaviour?

[2018-04-15 19:15] #244 closed

[2018-04-17 09:27] simon6162 commented on #159
Sorry from writing on a closed issue.

[weight_scale_trace.zip](https://github.com/oliexdev/openScale/files/1918995/weight_scale_trace.zip)

I've attached a frontline ble sniffer trace of a transaction from the stock app, you might / might not find it useful. For me the device is names "electronic scale" the name is in the scan response. The connect request is at frame 3037, the scales MAC is  0x0

[2018-04-17 14:45] erijo commented on #159
Reopen so it can be looked at.

[2018-04-17 15:56] erijo commented on #159
What happens if you, using the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build), try to connect to the scale @simon6162?

[2018-04-17 20:05] simon6162 commented on #159
It connects just fine for me and pulls back the weight OK - FYI the scales only advertise when you stand on them (which is what most do that i've seen) so you need to do that to find the device.

The body fat is way off though, which is to be expected given  what i worked out in https://github.com/ec1oud/qt-ble-weightscale/issues/1

From looking at BluetoothOneByone.java - where did magicBytes com

[2018-04-17 20:11] erijo commented on #159
I only have a Beurer BF710 and that scale can be found without having to stand on it.

Is it possible to post the sniffer logs in some other format? I don't have Frontline ble sniffer.

[2018-04-17 20:27] simon6162 commented on #159
It doesn't look like it does, you can get it from http://www.fte.com/support/download.aspx?demo=ComProbe+NFC&iid=1z&Product=16.5.10527.12085 assuming you are on windows - no need for the drivers if you don't have the sniffer. The web form It doesn't validate details ;)

Just looking at your code and the visfat should be /1 not /10.
`float visfat = (float)(((weightBytes[11] & 0xFF) & 0xFF)) / 1.0f;

[2018-04-18 05:53] ercoleg opened #245 "Crash with new version"
Please find below the crash report

Build version: 1.7.2
Build date: 1980-01-01 00:00:00
Current date: 2018-04-18 07:51:29
Device: HUAWEI EVA-L09

Stack trace:
java.lang.RuntimeException: Unable to destroy activity {com.health.openscale/com.health.openscale.gui.MainActivity}: java.lang.NullPointerException: Null reference used for synchronization (monitor-enter)
	at android.app.ActivityThread.perf

[2018-04-18 06:37] erijo commented on #245
What did you do when it crashed?

[2018-04-18 18:56] #245 closed

[2018-04-18 19:26] oliexdev commented on #245
Hope it is not a major bug otherwise we have to release another version during the ongoing 1.7.2 release.

[2018-04-18 20:39] erijo commented on #245
@ercoleg: does it crash on every start?

Can you please test the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and report if it works or not?

[2018-04-18 20:50] erijo commented on #159
@simon6162: the magicBytes seems to come from the btsnoop logs posted by @dinki.

But I'm a little confused now as it seems there are two bluetooth drivers in openScale that look similar: OneByone and ExcelvanCF369BLE. Which one is used for your device @simon6162, i.e. what does it say when you scan for the scale in the settings?

If you test with the latest dev version, that it work for you then?

[2018-04-18 21:40] erijo commented on #159
@dinki: can you try the latest [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) as well? I'm interesting in knowing what the name the device has, which can be seen after scanning for devices in the settings. If it isn't found you may have to stand on it.

Also, if it is found, can you get a measurement from it?

[2018-04-19 05:59] adrium opened #246 "Bones mass in %"
My scale displays bone mass in percent, but it can only be entered in kg. Would be great if you can add a switch for this measurement, too.

[2018-04-19 11:43] ercoleg commented on #245
@erijo I'm testing it tonight and I'll let you know.
the crash happens every time you exit the application during BT connection (not completed).
I think you catched the right root cause.

[2018-04-19 11:57] dylanlt commented on #71
There's an ad-support app (yourscales.com) which does the calculation as well. It seems like he is using the Yunmai code library.

[2018-04-19 12:55] erijo commented on #71
What do you mean with "the Yunmai code library" @dylanlt?

[2018-04-19 13:06] erijo commented on #245
Aborting the current roll out and preparing. 1.7.3 release seems like a good idea. But there are a few minor things I'd like to get done first.

[2018-04-19 20:36] #246 closed

[2018-04-19 20:42] erijo commented on #246
Please test the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and verify that it works as expected.

[2018-04-19 20:43] erijo commented on #245
Thanks for verifying the fix @ercoleg!

@oliexdev: should we get a 1.7.3 release ready?

[2018-04-19 21:35] simon6162 commented on #159
Interesting. It shows up as ExcelvanCF369BLE

On Wed, 18 Apr 2018, 21:50 Erik Johansson, <notifications@github.com> wrote:

[2018-04-19 21:37] erijo commented on #159
Does it work? Do you get the expected values? If not, what do you get?

[2018-04-19 21:56] simon6162 commented on #159
The body fat is 10% under what it should be, i haven't checked the other
measurements. I'll try and grab a sniffer trace over the weekend and work
out the issue.

On Thu, 19 Apr 2018, 22:37 Erik Johansson, <notifications@github.com> wrote:

[2018-04-19 22:32] dinki commented on #159
@erijo Mine shows up as health scale.  It says connecting but I do not get any readings.  Tried uninstalling and reinstalling and it simply does not work.

[2018-04-20 21:08] erijo commented on #159
@dinki : please try again with the latest dev version and let me know how it goes.

[2018-04-21 07:50] oliexdev commented on #236
I added a first auto backup version of the database in the db version. For an auto backup function with  CSV we need to define how we auto export CSV with multiple users? One simple idea is to export for each user in a separate CSV file.... but that would be a bit messy ;)
Anyway I think the auto backup could be improved and is still not done but for a first version it is ok.

[2018-04-21 07:50] #236 closed

[2018-04-21 07:51] oliexdev commented on #240
I hope the problem doesn't happen anymore with the implemented file chooser dialog.

[2018-04-21 07:51] #240 closed

[2018-04-21 08:03] oliexdev commented on #228
I will close this issue for the time being. If you found something similar please wrote it in this issue.

[2018-04-21 08:03] #228 closed

[2018-04-21 08:15] oliexdev commented on #241
@jbeguna04 did you change you mind?

[2018-04-21 11:56] mNantern commented on #60
Hey ! And thank you for that nice app' !

Any news about the full support of Mi Scale 2 ? How can we help ?

[2018-04-21 14:31] erijo commented on #60
The best way to help would be if someone could reverse engineer the original app to learn how the calculations are done.

[2018-04-21 14:37] erijo commented on #159
Also, @dinki and @simon6162, could you please post the model number/name as written under your scale (if there is a note there) so we can get some clarity in the naming confusion?

[2018-04-21 15:41] dinki commented on #159
@erijo Good news and bad news.  Good news is that the OS is getting weights now with latest dev version, ya!!  Bad news is it isn't receiving any of the other data (fat %, muscle mass, etc).

I'll try and get the model number for you soon.   Thanks again for working on this.

[2018-04-21 16:01] erijo commented on #159
@dinki I only added weight support as I didn't know what the expected values for the other measurements were in the logs you posted earlier. To get the other values I need logs where you also include the values for all measurements.

Also note the age, sex, activity level etc. that you enter in the original app. Would be good with logs where you change these settings so we can figure out what the

[2018-04-22 16:13] adrium commented on #246
Works as expected, thanks a lot! :blush:

[2018-04-23 14:34] dinki commented on #159
@erijo I'm not sure I follow what you're asking for.  The logs I grabbed originally were independent of the app.

Also, I took a look for the model number but there was no tag on the scale outside of an FTC number:

https://photos.app.goo.gl/pmBbywCVkebhCxsp1

[2018-04-23 15:19] erijo commented on #159
I need similar logs as you posted earlier but with all the other measurements noted as well (i.e. not just the weight as in the first logs).

I assumed you got the logs while using the original app as some data is sent to the scale to start measuring. To figure this part out you need to use the original app and change settings such as your age, sex, unit, etc. and do a measurement. Then attach log

[2018-04-24 11:27] erijo commented on #159
You can now take the latest openScale dev version, go to settings, about and enable debug log. Then connect to the scale with openScale and weight yourself. Write down the numbers seen on the scale and provide them together with the log from openScale in this issue.

Might be easier than getting Bluetooth snoop logs from the original app (even if we'll still need them later to reverse engineer the

[2018-04-24 14:17] dinki commented on #159
@erijo This certainly does seem easier.  My scale only shows the weight on it's display.  Don't you need to know body fat/bone density/etc?  How will I get those?  Do I do the debug in OpenScale then weigh again and grab the numbers from the scale's app?

[2018-04-24 21:50] erijo commented on #159
I have some bad news @dinki. Unfortunately it seems like the scale doesn't provide us with fat, water, etc., but only with weight and an impedance reading. This is then converted by the app to fat, water, etc. and reverse engineer that will be a challenge as it's done by a native (i.e. not java) library in the app.

[2018-04-25 15:04] oliexdev commented on #159
@erijo I am a bit confused do we talk about two different scale devices? I thought @ec1coud have been already done the reverse engineer part for the other measurements like described in his [notes](https://github.com/ec1oud/qt-ble-weightscale/blob/master/doc/notes.txt)?

[2018-04-25 18:50] erijo commented on #159
@oliexdev
It looks like @dinki has a scale with the device name "Health Scale" and @itsmegb, @simon6162 and I guess @ec1oud has one with the device name "Electronic Scale".

The former seems to only send the impedance value which is then converted to body fat etc. by a library from holtek.com (libBodyfat). Which by the way seems to be the same library as is used in the Mi app. The latter on the ot

[2018-04-25 20:31] simon6162 commented on #159
Will do. Btw the label on the bottom of my scales has no fcc number or
model number

On Wed, 25 Apr 2018, 19:50 Erik Johansson, <notifications@github.com> wrote:

[2018-04-26 03:11] en1389 opened #248 "add support for Accuway scale"
I am use an Accuway scale
http://images.hktvmall.com/h5680001/0c4204ced13f013b5d9854684d7b7271e527ccb4/h5680001_sl0916006a_171123082124_01_1200.jpg

It will shows the following data in its app.
![screenshot 26 apr 2018 2_01_59 pm](https://user-images.githubusercontent.com/38743025/39288453-9792fca0-495a-11e8-848c-1c9a4413ad88.png)

The openScale can connect with the scale with v1.7.2
but it lack o

[2018-04-26 07:04] erijo commented on #248
The calculation for bone mass can be seen here: https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothExingtechY1.java

Maybe @oliexdev can shed some light on why the calculation is done as it is?

[2018-04-26 07:36] en1389 commented on #248
From the java script, the bone parameter is calculated like this,

float bone = (float)(((weightBytes[10] & 0xFF) << 8) | (weightBytes[11] & 0xFF)) / weight * 10.0f; // kg

We can see that the bone data is divided by 'weight'
So the result is in % not in kg.

[2018-04-26 12:19] dinki commented on #159
@erijo Here's the info:

https://www.dropbox.com/s/n0r4eorhmy0lwti/openScale_2018-04-25_20-36.txt?dl=0
https://photos.app.goo.gl/3a0w73WaXoboMCtn1

Thanks for looking at this.

[2018-04-26 15:49] oliexdev commented on #248
@en1389 fixed it with commit https://github.com/oliexdev/openScale/commit/3e3ff403e61f1e0f12c7f615064b37a367bfae93
Please try out the last openScale dev version.

It seems I received some false specification of the scale. :/

Anyway the difference between BMR is not a big deal.

[2018-04-26 15:49] #248 closed

[2018-04-26 15:50] oliexdev commented on #248
@en1389 btw can you take a photo of your scale please for our wiki gallery?

[2018-04-26 21:33] erijo commented on #248
@en1389: if you add a second user in openScale and select that user, can you still get readings from the scale then? I suspect not... Please enable debug log under settings -> about and attach that here if it doesn't work.

[2018-04-26 23:57] jbeguna04 commented on #241
No sir, i still making designs for your project. I want to make you satisfied as i can

[2018-04-27 01:59] en1389 commented on #248
picture of accuway scale

http://images.hktvmall.com/h5680001/128093/h5680001_sl0916006b_171011050140_01_1200.jpg

[2018-04-27 02:45] en1389 opened #249 "graph axis"
One thing I like the openScale app is the graph.
It it interesting to see my body weight changing over time.
![screenshot 26 apr 2018 10_59_58 am](https://user-images.githubusercontent.com/38743025/39341898-d085d4a8-4a07-11e8-92fa-c6222bc5ddcc.png)

But if I add other measurements (e.g. body fat) to the graph, they became flat lines.
And that is no fun.
![screenshot_20180427-103126](https://user-i

[2018-04-27 03:59] erijo commented on #248
@en1389: we need an image taken by you, not an official one (due to copyright reasons).

[2018-04-27 14:07] oliexdev commented on #249
you can simple hide and show diagram lines if you click on the circles in the graph page.
What do you do if you want to show your weight, your BMI and your waist in one graph?
Well, you could present a three dimensional graph but what if you want to show a 4th diagram line?
Then it will reach the limits. I think with the current option you are flexible enough.

[2018-04-27 15:51] erijo commented on #159
@dinki: can you also post your age, sex, height and activity level (as entered in the app)? They are all used in the calculations.

[2018-04-27 19:07] erijo opened #250 "IllegalStateException in core.database.ScaleMeasurementDAO_Impl.getAll"
Seen on Google Play Console:
Huawei LISZT (hwliszt), 3072MB RAM, Android 5.1

java.lang.RuntimeException:
  at android.app.ActivityThread.handleBindApplication (ActivityThread.java:4867)
  at de.robv.android.xposed.XposedBridge.invokeOriginalMethodNative (Native Method)
  at de.robv.android.xposed.XposedBridge.handleHookedMethod (XposedBridge.java:334)
  at android.app.ActivityThread.handleBindApp

[2018-04-27 19:08] erijo opened #251 "OutOfMemoryError in core.utils.PolynomialFitter.<init>"
Seen on Google Play Console:
OnePlus OnePlus3 (OnePlus3), 6144MB RAM, Android 8.0

java.lang.OutOfMemoryError:
  at java.lang.reflect.Array.createMultiArray (Native Method)
  at java.lang.reflect.Array.newInstance (Array.java:122)
  at com.health.openscale.core.utils.PolynomialFitter.<init> (PolynomialFitter.java:71)
  at com.health.openscale.gui.fragments.GraphFragment.generateLineData (GraphFrag

[2018-04-28 06:15] oliexdev commented on #71
@dylanlt no, I haven't contacted Yunmai. I doubt that they will respond. Even if they have a library available it has to be compatible with the GPLv3.

[2018-04-28 13:25] nazco opened #252 "Problems with Sanitas SBF70 since version 1.7.2"
After updating openScale on my Android 7.1.1 I can't receive data from my Sanitas SBF70 anymore. OpenScale informs me about a successful connection and then after a few seconds it tells me that it lost the connection. No data is received in this time. Maybe it is liked to the bluetooth optimizations mentioned in the release notes of 1.7.2. I also just updated to 1.7.3 but the problem persists.

[2018-04-28 13:46] erijo commented on #252
I take it version 1.7.1 worked well for you?

[2018-04-28 14:13] erijo opened #253 "Improve first user experience"
It would be good ease the setup for new users. Here are some ideas I've been thinking on:
* Remove initial weight. It's confusing to have to enter it when you want to connect to a scale to get the weight.
* Ask the user if he/she wants to connect a Bluetooth scale after adding the user.
* Change "device type" in Bluetooth settings to something that indicates that it starts a device search.
* Make

[2018-04-28 15:44] nazco commented on #252
Yes 1.7.1 was working well.

[2018-04-28 19:00] erijo commented on #250
According to the source at [RoomOpenHelper.java:82](https://android.googlesource.com/platform/frameworks/support/+/master/room/runtime/src/main/java/android/arch/persistence/room/RoomOpenHelper.java#82) the illegal state eception would the thrown if a migration is missing. Don't really understand how that could happen.

[2018-04-28 21:01] erijo commented on #252
Please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and let me know if it works better for you.

[2018-04-28 21:12] nazco commented on #252
Just tested the new dev version but sorry, didn't solve the problem.

[2018-04-28 21:55] erijo commented on #252
Make sure you use the latest dev version when you do this.

[2018-04-29 19:14] #251 closed

[2018-04-29 22:37] erijo commented on #219
@riadhrom : will you be able to provide the bluetooth logs? Otherwise I don't think we can do much about this...

[2018-04-30 03:25] en1389 commented on #249
I know I can hide the lines in the chart in the second page.
I am interested in the overview chart in the home page.
I am not talking about making some multi-dimensional graph.
I would like 2 Y axis to take care low number range data and high number range data.
e.g. body weight, lean body mass can be reference to the primary Y axis with range 50-70 kg
and body fat, water, muscle, bone % can be on

[2018-04-30 11:00] erijo commented on #248
User id starts on 1 in openScale so 2 is expected. I've removed the check that made it only work for the first user. Please verify that it works with the dev version after this fix.

[2018-04-30 12:36] oliexdev commented on #253
see issue #43 for the reason.

Not all users have a Bluetooth scale. It is not hard to find the Bluetooth settings. Maybe if no device is selected and a user pressed the Bluetooth icon, we could show the Bluetooth settings menu...

Why? It will indicate the searching process if you click on it.

In my opinion the whole statistic page needs a rework. :/ Currently we don't really do some evaluation

[2018-04-30 12:42] oliexdev commented on #249
You can also disable the percent of some values and show it in the unit format. So it will complicated everything and hard to handle. If we add more and more options, openScale won't be easy to use anymore.

[2018-04-30 12:42] #249 closed

[2018-04-30 12:49] oliexdev commented on #250
I don't know what the user has done. It was only one user who had this problem. I will close this issue until we have more information.

[2018-04-30 12:49] #250 closed

[2018-04-30 18:22] ghost opened #255 "Feature request: Data points for absolute body fat"
Hi, first off thanks for your efforts - i am not using closed source apps and i'm super happy this exists.

What would greatly improve my experience is a possibility to show absolute fat and fat-free mass w.r.t. the weight and body fat percentage measurements - not estimated values but just do (weight*percentage/100) and (weight - abs. fat).
So one would obtain this in the graph view:

![image](ht

[2018-05-01 20:37] dinki commented on #159
@erijo was that the information you needed?  Thanks

[2018-05-01 21:00] erijo commented on #159
Yes it was.

I've been trying to reverse engineer the calculations done by the app, but the problem is that they are done by a native library (libBodyfat.so) and my assembler reading skills are not as good as they would need to be to decompile the formula.

I have a small native C++ program that can call the functions in the library and get e.g. the fat measurement. Perhaps the way forward would b

[2018-05-01 21:03] erijo commented on #71
Similar to #159 there seems to be a native library (libconfig.so) at the bottom doing the conversion from resistance etc. to fat etc. If there is someone fluent in arm assembler or have an IDA license it might be possible to figure it out...

[2018-05-02 08:31] nazco commented on #252
Sorry, has to wait until friday.

[2018-05-02 11:25] erijo commented on #252
@MartinNowack, @jflesch, @weliem: do anyone of you have this scale and if so, do you have issues with 1.7.3? Can you provide a debug log?

[2018-05-02 14:25] erijo commented on #255
You can change fat to use absolute values under settings -> measurements.

If I understand you correctly, what you would like to see added is an option to set lbm to weight minus fat. This could be added.

What is the kfa graph?

As for the caliper measurement I think it would be hard to add without it getting too complicated. Until we get more requests for it I'll think you'll have to do without

[2018-05-02 14:33] erijo commented on #253
I'll have to think some more about the initial weight problem. Thanks for the pointer to the reason it was added.

After adding the first user, we could perhaps show some help that indicates that the user should press + to add manual measurements or the Bluetooth button to connect a scale (assuming we do as you suggested which sounded like a good idea).

"Device type" says nothing about it startin

[2018-05-02 16:53] nightbluepn commented on #255
I didn't understand the measurement entries had a menu behind them  ...  ;)

Though i still think it should be possible to enter the body fat as a percentage and to then get the absolute fat as a derived metric (you would'nt even need to save it to the database).
If i switch to absolute body fat now, i would have to change all past values and make the calculation by hand in the future, all while n

[2018-05-02 17:12] erijo commented on #255
Body fat is always stored as a percentage in the database. Toggling to absolute value will on change how it is input and presented. So your historic data will work just fine.

I don't know how to present body fat in both relative and absolute value without it becoming hard to understand for a casual user so for now I think you have to settle for one, unless you have a good idea.

[2018-05-02 17:44] nightbluepn commented on #255
I haven't looked into the code, but maybe it's possible to switch the text from "Measurement in %" to "Input as %" and below that "Show as absolute" and "Show as %" as two seperate checkboxes which may both be checked.
I guess the current logic is a 1:1 relation between measurements and graph entries, so you would need a second fat measurement which is invisible in the menu but shows up in the gra

[2018-05-03 11:15] ReidarHH commented on #252
Hi.
I have the same problem. Sbf70 not receiving any data.
Connects with Bluetooth for 5 seconds and then disconnects.
Running 1.7.3-dev.
Also tried with 1.7.3(26)

Keep up the good work 👍

Debug log
2018-05-03 13:03:57.501 Debug AboutPreferences: Debug log enabled, openScale (dev) v1.7.3-dev_8706cd58 (1525296613), SDK 24, motorola Moto G (5)
2018-05-03 13:04:12.637 Debug OpenScale: Disconnecting

[2018-05-03 11:46] nightbluepn commented on #255
So i installed the development version, exported the database, did an sql update on it to insert the LBM values retroactively and tried a new measurement -> works perfectly.
Thanks a lot for this.

[2018-05-03 15:43] erijo commented on #252
Please try the latest dev version and attach the log.

[2018-05-03 15:53] ReidarHH commented on #252
It should be the latest dev version, downloaded today.

[2018-05-03 16:03] erijo commented on #252
Yes, but I did a change after reading your log so I wanted you to test again with the new version.

[2018-05-03 18:06] erijo commented on #252
Can you try searching for the scale in Bluetooth settings (in openScale) with the debug log enabled?

Also, can you enable the Android bt snoop log and attach it as well?

[2018-05-03 19:03] ReidarHH commented on #252
I just tried with developer mode and hci debugger.
First time the openscale app crashed.
With following fault report
Build version: 1.7.3-dev_d9b8c625
Current date: 2018-05-03 20:56:22
Device: Motorola Moto G (5)

Stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'void android.bluetooth.BluetoothGatt.close()' on a null object reference
	at com.health.openscale.core.blue

[2018-05-03 19:05] ReidarHH commented on #252
Here is the openscale debug log

2018-05-03 20:57:55.970 Debug AboutPreferences: Debug log enabled, openScale (dev) v1.7.3-dev_d9b8c625 (1525359575), SDK 24, motorola Moto G (5)
2018-05-03 20:58:02.225 Debug OpenScale: Disconnecting from bluetooth device
2018-05-03 20:58:02.228 Debug BluetoothPreferences: Start discovery
2018-05-03 20:58:21.544 Debug BluetoothPreferences: Start LE scan
2018-05-03

[2018-05-03 19:15] ReidarHH commented on #252
I can't share the results from the hci debugger. The app crashes every time I press share.... Sorry but my skills are a bit limited... ☺

[2018-05-03 22:12] erijo commented on #252
Please try again with the latest version and post the debug log.

[2018-05-03 22:20] #255 closed, assigned to nobody

[2018-05-04 09:45] ReidarHH commented on #252
Tried it. No fix
Bluetooth symbol shows on the scale, but no data is transferred to the app.

2018-05-04 11:37:05.381 Debug AboutPreferences: Debug log enabled, openScale (dev) v1.7.3-dev_a3f64be6 (1525385180), SDK 24, motorola Moto G (5)
2018-05-04 11:37:19.333 Debug BluetoothPreferences: Start discovery
2018-05-04 11:37:19.362 Debug BluetoothPreferences: Discovery: android.bluetooth.adapter.acti

[2018-05-04 10:08] erijo commented on #252
It would be nice to have a BT log. Can you try again to capture the log as [described here](https://forums.lenovo.com/t5/Moto-G5-Moto-G5-Plus/Bluetooth-BLE-problem-on-moto-G5/m-p/3961770/highlight/true#M18512)?

[2018-05-04 14:18] erijo commented on #252
Can you provide the same type of log when you connect with the vendor app?

[2018-05-04 14:31] erijo commented on #252
You can also check if the log is stored in /sdcard/btsnoop_hci.log on your phone.

[2018-05-05 07:12] oliexdev commented on #159
For general formula see https://www.biodyncorp.com/tools/450/calculations.html

[2018-05-05 07:36] oliexdev commented on #253
Only a few users will read that and it will only annoy the rest of the users. I don't think it is really complicated to understand the UI concept. Sure some exceptions will always exist that doesn't understand how it works but these users are not willing to read neither.

What should improve is the measurement settings because it is not so clear that the measurements has a sub menu. Maybe we shoul

[2018-05-05 19:27] erijo commented on #71
You connect to the scale under settings/Bluetooth.

You can try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) if that works better.

[2018-05-05 20:09] Erol444 commented on #71
Nevermind, at first the bluetooth icon on main screen didn't show up(a bug..?), now I just know where to click to turn it on. Just re-installed my yunmai app and tried to get it running so I could help you reverse engineer the rest of the info but like previously, I would have to download chinese version(no tnx)

![31944705_2257362184275703_257210893979353088_n](https://user-images.githubuserconte

[2018-05-05 20:39] Erol444 commented on #71
Ohh that's the problem. Saw few formulas up on this issue. So you are trying to figure out what formulas are used by the yunmai app so you can implement it in openScale? Wouldn't it be easier to just decompile the app itself and look into the source for that?
And this is the link that opens up if I click "confirm":
http://app.qq.com/#id=detail&appid=1102855655

[2018-05-05 21:27] dglozano commented on #219
Hello, I am Diego from Argentina. I am trying build an app that connects to a BF600 for a project at University, but I am struggling a lot to get the weight data from the scale.

Looking at the logs (I am attaching 3 different logs, all of them with data that traveled between the scale and the Beurer App) it seems that you need to set the indicate flag in the following characteristics:
-Weight Mea

[2018-05-05 21:34] erijo commented on #71
The problem is that the calculations aren't done in java, but in an included native library. I'm not as fluent in asm as I would need to be to figure that out :(

[2018-05-08 12:25] jbeguna04 commented on #241
![image](https://user-images.githubusercontent.com/35353768/39756566-b814b58a-52fc-11e8-8c18-e577d9440209.png)
Sorry for the wait
this is my proposal for the logo design. Im open to your suggestions
![sfswegfw](https://user-images.githubusercontent.com/35353768/39756957-e42d1620-52fd-11e8-8780-a5720ef22438.png)

[2018-05-08 19:11] erijo opened #261 "Incorrect measurement date on Yunmai Mini"
Reported on Google Play by user "Leo Vlat":

[2018-05-08 19:13] erijo commented on #71
Has anyone here with a Yunmai mini scale seen the issue in #261?

[2018-05-08 19:46] erijo commented on #253
After having spent a lot of time to get it working they way it does now I'm a bit reluctant to change it again ;) I've instead improved some strings to guide the user.

[2018-05-08 20:09] erijo commented on #261
Setting the time as described [here](https://gist.github.com/conoro/f0c1d96c450a8f5cce70e2846c3686c4) doesn't match the snoop logs from #71 (and thus not how openScale does it).

[2018-05-09 18:05] PetRose opened #262 "Issues, for new Install and User"
Hi
I wanted my Beurer BF700 scale data to be picked up by openScale.
Once installed, I cannot see my scale anywhere - don't I need to identify it in order to select it - like any other BT device ?
And,  on my BF scale I used shortnames, ie Initials of two letters, so I assume the reason for not seeing my data, could be that I cannot add a UserName in openScale with less than 3 letters ! Hence I ca

[2018-05-09 18:45] erijo commented on #262
You need to go to settings, Bluetooth, device type to find your scale.

[2018-05-10 08:47] oliexdev commented on #261
fixed with commit https://github.com/oliexdev/openScale/commit/ca5e0b9cbf7d69c29e572b0ee643d683199ebb85

[2018-05-10 08:47] #261 closed

[2018-05-10 09:59] oliexdev commented on #253
Well, mostly you don't have to select a scale because you have only one scale for one app.
Smart Bluetooth refers to Bluetooth 4.0 but the word Bluetooth scale is clear. Let's stick with it.

I can understand that. ;) You did a great job.

[2018-05-10 10:39] jbeguna04 commented on #241
I will have some improvement on that. Please allow me to send the designs for a moment

[2018-05-10 11:25] jbeguna04 commented on #241
![image](https://user-images.githubusercontent.com/35353768/39867501-ce369e00-5487-11e8-9e44-209ad890cf5b.png)

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.

[2018-05-10 14:19] oliexdev commented on #241
@jbeguna04 I think your first version looks better. Maybe if you rotate the needle a bit then it wouldn't look a bit better and not like a off button!?

Btw it reminds a bit of the [Arduino icon](https://www.arduino.cc/).

[2018-05-10 17:53] jbeguna04 commented on #241
Thank you for your suggestion.

[2018-05-11 10:48] PetRose commented on #262
OK, Tried to do that - but the search for device did not find my BF700 scale.
Tried to search using builtin Android BT search, and it recognizes it as BF700 and can pair with it, even using the SmartConnect.
Tried to stand on the scale while it was active, but only quite few devices pops up in the Bluetooth search after some minutes, but not the BF700 scale.
Any thoughts ?

[2018-05-11 12:07] jbeguna04 commented on #241
![image](https://user-images.githubusercontent.com/35353768/39923592-e9a4fbee-5556-11e8-9102-d5a087299dad.png)
What do you think sir?

[2018-05-11 15:04] oliexdev commented on #241
I think the new version looks better. Thanks! :+1:

Only two small remarks. The icon with the shadow (2nd row 1st icon on your first icon version) is missing and could you write openScale with a small "o"? That would be great :smiley:

Would you mind to post the svg files for each icon? I will try out this new icon in the next version. We will see how the reaction of the users will be.

Do you hav

[2018-05-11 15:13] jbeguna04 commented on #241
(2nd row 1st icon on your first icon version) is missing. Im sorry sir, I cant truly understand this.
![image](https://user-images.githubusercontent.com/35353768/39931734-df4a7e0c-5570-11e8-94d9-b501c296386a.png)

[2018-05-11 15:13] oliexdev commented on #262
Try to unpair the device with the other app restart your smartphone and try again in openScale. If you device is already paired to something different it can't be seen.

Please write also down the Bluetooth device name of your scale.

[2018-05-11 15:15] oliexdev commented on #241
The following version is missing:

![](https://user-images.githubusercontent.com/35353768/39756957-e42d1620-52fd-11e8-8780-a5720ef22438.png)

[2018-05-11 15:23] jbeguna04 commented on #241
Now i got it, here sir
![image](https://user-images.githubusercontent.com/35353768/39932257-401ccb08-5572-11e8-9e57-2e383f691253.png)

[2018-05-11 15:31] oliexdev commented on #241
Thanks do you have a SVG version of the icons?

[2018-05-11 15:48] jbeguna04 commented on #241
[New folder.zip](https://github.com/oliexdev/openScale/files/1995979/New.folder.zip)

[2018-05-11 15:49] jbeguna04 commented on #241
sorry sir but i didnt mean to closed this. It was accident due to hanging up my conputer

[2018-05-11 15:56] jbeguna04 commented on #241
can  i create a PR for my designs sir?

[2018-05-11 16:31] oliexdev commented on #241
sure

[2018-05-11 16:37] jbeguna04 commented on #241
thank you sir. Here is the link
https://github.com/oliexdev/openScale/pull/263

[2018-05-11 17:47] oliexdev commented on #241
@jbeguna04 Thanks in the branch [icon_design](https://github.com/oliexdev/openScale/tree/icon_redesign) I added a slightly different icon.
It looks like the following:

![ic_launcher_openscale](https://user-images.githubusercontent.com/10166185/39938413-2fbde126-5553-11e8-859f-d6baa3fd589d.png)

I close the gap in the middle and lighten up the shadow a bit. The problem is that if the icon is reall

[2018-05-12 00:41] jbeguna04 commented on #241
I can adjust the sizes sir.

[2018-05-12 07:52] erijo commented on #241
One potential issue I see with the new design is that to me it isn't directly obvious that the app has anything to do with a scale in the same way that it was with the old version. Is it possible to achieve that in some way?

[2018-05-12 09:37] jbeguna04 commented on #241
Sir. That proposal doesnt mean that you have to change the old icon. As what i have in mind is, my proposal can be used by an open source project that i can extend my help through this. Its up to you sir if you want to use my proposed logo someday. Thank you for your time But the  Letters o and s stands for open sclae and the mini scale illustrated on letter o

[2018-05-12 09:46] PetRose commented on #262
That did work !
Removed the Android pairing, Rebooted Android, and used openScale to search for device, and it responded rather quick.
However, my previous scale measurements (on the scale) was not recoqnized, even my weight matches only for me (+/- 2 kg) using the scale.
I probably reset the scale, and re-define users on it, to match the openScale username (truncated to 3 chars), and have it a go

[2018-05-12 09:46] #262 closed

[2018-05-12 11:52] jbeguna04 commented on #241
The Project Owner by the way is performing a testing on the new icon design. Hope it can help the project

[2018-05-13 09:50] oliexdev commented on #241
I have archived your icon design into the [repository](https://github.com/oliexdev/openScale/blob/master/doc/raw_icons/launcher_design_proposal_%20jbeguna04.zip)
Thanks again for your effort and contribution @jbeguna04 :+1:

[2018-05-13 09:50] #241 closed

[2018-05-13 18:14] oliexdev opened #265 "Converting cm to inch"
Add an user option to set the imperial unit system.

[2018-05-13 18:18] oliexdev opened #266 "Add support for an activity level"
Add an user option to support an activity level (e.g. 0-none; 1-average: 2-high). With this option we can  refine the BMR calculation.

[2018-05-13 18:29] erijo commented on #266
Are three levels enough? I think I've seen that some have five (but I might be mistaken).

[2018-05-13 18:30] oliexdev opened #267 "Add support to take a picture on a measurement"
Add support to take a picture of yourself on a measurement. I don't know if it useful or not!? One user asked this feature already...Feedbacks are welcome!
If yes, is it better if we store the picture or is it better to store the file links in the SQL database. The advantage is the easy backup process the [disadvantage](https://stackoverflow.com/questions/50124747/is-it-a-good-practice-to-use-room

[2018-05-13 18:31] oliexdev commented on #266
yeah some have five but some have three. No matter what we decide we have to convert some activity level ranges.

[2018-05-14 15:59] oliexdev commented on #4
Close with #264

[2018-05-14 15:59] #4 closed

[2018-05-15 07:47] Condorello commented on #159
Hi, i've the same scale with the infamous oem app.... i'm happy to post my data for help the reverse engineering. I'll be back ASAP.

[2018-05-15 18:13] erijo commented on #266
[This formula](http://www.globalrph.com/harris-benedict-equation.htm) has five levels. There are also a couple of other equations listed there that seem to use 4-5 levels.

[2018-05-16 08:31] erijo commented on #159
@Condorello: can you also post your age, sex, height and activity level (as entered in the app) if they aren't included in the log already? They are all used in the calculations.

[2018-05-16 16:39] erijo commented on #159
For reference, here are the values from @dinki (with impedance adjusted to get correct results):
[code]

And from @Condorello (had to change your age to 32 to get the same result as from the app, I assume your birthday is later this year and that the app isn't too smart when calculating the age):
[code]

[2018-05-16 16:53] Condorello commented on #159
Yep, 32 at the end of the year! I can add also a girl in the weekend so we can add a female data.

[2018-05-16 20:43] Condorello commented on #159
https://www.brianmac.co.uk/mobile//fatbia.htm

Here a formula for body fat from the resistance values... Maybe could be that One?

[2018-05-16 21:04] erijo commented on #159
This is the BMR formula used by the app:
[code]

[2018-05-17 10:55] Pastafarianist opened #268 "Support for data other than weight from Xiaomi Mi Scale 2"
Currently measurements from Xiaomi Mi Scale 2 only contain weight data. However, the official app (Mi Fit) provides a lot more information, including body water, muscle, body fat, bone mass, and visceral fat. It would be great to have all these measurements in openScale too.

UPD: Sorry, I've just noticed here that the lack of support is due to "not transparent impedance calculation by the company

[2018-05-17 11:52] Pastafarianist commented on #268
Sorry, I've just noticed [here](https://github.com/oliexdev/openScale/wiki/Supported-scales-in-openScale) that the lack of support is due to "not transparent impedance calculation by the company". Are there any additional details on this?

[2018-05-17 12:01] erijo commented on #268
I think the Mi app uses the same native library as in #159 to convert impedance measurement to fat, water etc. You can see in that other issue how far we've come with the reverse engineering.

[2018-05-18 19:41] YoSiJo opened #269 "Support for Medisana BS 440"
I tried to follow the instructions here (https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale), but I could not find my wipe at point 3.2. I provided you with the data and hope you can continue to do so.

Logs and Files: https://nc.waimanu.io/s/Z8R4fZDNYTtZQa6

[2018-05-18 20:08] erijo commented on #269
I just made openScale treat BS440 in the same way as BS444. It looked similar enough. Could you please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it works? Please enable debug logging under settings, about and attach the log here.

[2018-05-18 20:50] YoSiJo commented on #269
There is no end to the scanning process and the device is still not found.

[code]

[2018-05-19 05:30] erijo commented on #269
Please use the latest dev version when testing. I added some more logging.

[2018-05-19 07:00] YoSiJo commented on #269
I started two attempts and the Bluetooth snooping was off, but still no success.

[code]
Ps. He seems to restart the discover when I rotate the screen.

[2018-05-19 07:08] YoSiJo commented on #269
Restart always works wonders, here's the data after the reboot, the balance was found, but it didn't seem to be able to pull the data.

[code]
He got stuck with the message with fetch data.

[2018-05-19 09:05] erijo commented on #269
What happens if you try to connect from the main screen (by clicking the Bluetooth icon)?

[2018-05-19 09:16] YoSiJo commented on #269
No, I went through the settings and selected Scale in the Bluetooth section.

[2018-05-19 09:27] erijo commented on #269
Yes, I guessed that. But to get readings you need to click the Bluetooth icon in the main view.

[2018-05-19 09:59] oliexdev commented on #265
added with commit https://github.com/oliexdev/openScale/commit/31b5083e85d17f92db1c06e4a951fa319d95558e

[2018-05-19 09:59] #265 closed

[2018-05-19 11:39] YoSiJo commented on #269
[code]

[2018-05-19 11:41] YoSiJo commented on #269
The data itself can be seen in the app, should I add the error log from the app?

[2018-05-19 12:31] oliexdev commented on #266
added activity level option with commit https://github.com/oliexdev/openScale/commit/6cbdfbbe05bc6e0cfc0d4d503961024e679e7dfc

[2018-05-19 12:31] #266 closed

[2018-05-19 12:34] oliexdev commented on #269
@YoSiJo use the latest dev version. The error should be fixed.

[2018-05-19 12:38] #268 closed

[2018-05-19 13:02] erijo commented on #269
Also please verify that all measurements are correct, including time.

Does the original app support user management?

[2018-05-19 14:43] oliexdev commented on #269
you have to reinstall the app since it is the development version we made some database changes.

[2018-05-19 15:48] YoSiJo commented on #269
All values were correct.
The following values Records my Scale, but do not appear in the app:
* Bone
* BMR
With the original app, user management is also carried out via the scale and not via the app.

[2018-05-19 17:18] erijo commented on #269
Have you enabled the measurements in settings, measurements?

What info do you enter on the scale and which values did you enter?

[2018-05-19 19:27] erijo commented on #266
I think it would be easier to understand if the user activity had the levels listed by name in a spinner.

[2018-05-19 19:29] erijo commented on #267
I think it would complicate the interface with little gain. Isn't it better to store the pictures using a software made for that? One that can generate index, thumbnails etc.

[2018-05-19 19:30] erijo commented on #252
It's anyone able to provide the requested log?

[2018-05-19 19:40] erijo commented on #269
Once you have verified the bone measurement (BMR is calculated by openScale and may differ compared to what the scale reports due to using different formulas) I would like to get some more information regarding the problem you had after scanning.

The idea is that if you have the debug log enabled and click on your scale in the search dialog a popup dialog should appear informing you that we're tr

[2018-05-19 19:44] oliexdev commented on #266
Yeah if you want you can change it to a spinner.

[2018-05-19 20:00] oliexdev commented on #267
I think the interface won't be the problem but the backup of the whole images if we don't store the images in the database.

Anyway, currently I also don't see a huge advantage of this feature.
I will close this issue. Maybe in the future we can implement it or somebody create a PR with a example implementation.

[2018-05-19 20:00] #267 closed

[2018-05-19 20:04] #253 closed

[2018-05-20 13:42] YoSiJo commented on #269
Okay, I hadn't turned on the bone mass yet.
The scale only asked about age and size at that time (it's been over a year since I set it up.).
When scanning for scales, I see the scale listed. But no more dialogue. If I select the scale, I return to the Bluetooth settings and the scale is selected.
Screenshots: https://nc.waimanu.io/s/Z8R4fZDNYTtZQa6

[2018-05-20 16:08] erijo commented on #269
Did you enable debug logging? Otherwise the extra dialogue isn't shown.

[2018-05-20 17:56] YoSiJo commented on #269
Sorry, I forgot to log. The new screenshots are in NextCloud. It all worked out this time.
I assume it's been on my phone since the reboot.

[2018-05-20 18:02] erijo commented on #269
Nice! Could you please attach the log as well?

Finally, could you take a picture of the scale for [our gallery]
(https://github.com/oliexdev/openScale)?/wiki/Supported-scales-in-openScale

[2018-05-20 18:51] Condorello commented on #159
Hi, here a female data.
29, female, 164, Activity ordinary

https://www.dropbox.com/s/92dbubr70ol3geg/1by1.zip?dl=0

[2018-05-20 20:13] YoSiJo commented on #269
Here is the log:

[code]

Pictures from scale do you found here: https://nc.waimanu.io/s/Z8R4fZDNYTtZQa6
I hope it's ok, because I put the pictures under GNU AGPL v3 license.

[2018-05-20 20:37] erijo commented on #269
Thanks for all help @YoSiJo! BS440 will now be supported in the next release.

[2018-05-20 20:37] #269 closed

[2018-05-22 09:43] natrius commented on #236
Just to inform you: Autobackup seems to work, really nice! Infos about Nextcloud integration next week, in a new issue maybe.

[2018-05-22 13:36] Disgustus opened #270 "Issues editing measurements"
Running v1.8(27) when manually editing the weight in an entry, after clicking save, and returning to the list it's been reset to what it originally was. Is this working as intended?

[2018-05-22 14:29] erijo commented on #270
The problem seems to be that the weight view no longer saves the converted value. I can fix it later tonight unless @oliexdev beats me to it.

I've found another issue with navigating between measurements that seems to include disabled measurements that I would like to fix as well.

[2018-05-22 15:14] oliexdev commented on #270
@Disgustus thanks for the hint. That was my fault :(
fixed with commit https://github.com/oliexdev/openScale/commit/0479c31d6f442cadab3a81cbbadc38be76d8b1c4

I have stopped the introduction of version 1.8. I will wait @erijo if you have fixed the other bug then I am gonna publish v1.8.1

Maybe we should add more Use-Case tests... openScale getting step by step more complex.

[2018-05-22 15:33] erijo commented on #270
Did a quick fix @oliexdev. Please go ahead with 1.8.1.

[2018-05-22 15:41] oliexdev commented on #270
done v1.8.1 is on air ;)

[2018-05-22 23:42] godinperson commented on #159
I have that scale, will be happy to help since I don't like the vendor app

[2018-05-23 05:47] steko opened #271 "adding weight recording keeps the previous value"
Since upgrading to 1.8 from f-droid, I see this problem: recording a new weight doesn't store the entered value, but the previous value is stored, and editing doesn't seem to fix either.

[2018-05-23 06:12] erijo commented on #271
Yes, this was reported in #270 yesterday and is fixed in 1.8.1 which has been released and will be updated on f-droid once they get around building it.

[2018-05-23 06:12] #271 closed

[2018-05-23 11:52] Forger125 opened #272 "Incorrect display/calculation of goal weight and weight difference in statistics screen v1.8.1"
In version 1.8.x (1.8 and 1.8.1), the goal weight and weight difference are not displayed correctly in the Statistics tab. The first problem is that when using the Imperial system units (lbs, in), regardless of what is entered for user's starting weight and goal weight, the goal weight does not match what is entered in the user profile. This happens regardless of other user profile information (ge

[2018-05-23 18:34] #272 closed

[2018-05-23 18:38] erijo commented on #272
Should be fixed now. You can verify it by testing the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

[2018-05-23 18:58] Forger125 commented on #272
@erijo Just installed Dev APK, both issues are resolved - thank you for the quick turnaround!

[2018-05-23 20:15] llewelin commented on #159
Same here. If you need some data just ask.

[2018-05-24 13:25] bontibon opened #274 "Add support for sleep and rise times"

[2018-05-25 06:54] oliexdev commented on #274
I don't know what you mean? Can you explain it please.

[2018-05-25 07:41] oliexdev commented on #252
Since no one is answering, the problem doesn't seem so big. I'm gonna close this until somebody has some new input.

[2018-05-25 10:53] bontibon commented on #274
I mean adding a metric for what time you feel asleep and what time you awoke in the morning. Since sleep is plays a factor in one's weight, it would seem useful to track it.

[2018-05-25 12:44] oliexdev commented on #274
Thanks for your idea but that is not the purpose of the app to track those parameters. Sorry.

[2018-05-25 12:44] #274 closed

[2018-05-26 21:28] erijo commented on #252
I added some more debug logs. Could you please try the dev version again @ReidarHH and attach the log afterwards?

[2018-05-27 19:02] ulipo commented on #159
My scale shows up as "health scale", I'm happy to help if needed.

[2018-05-28 03:17] en1389 commented on #248
I tried out the new v1.8.1(28) with my Accuway scale.

Frist, I am happy that the Visceral fat is added.
But I found that when I stepped on the scale, the app always made 2 entries each time.
And the first entry has incorrect data, i.e. body fat, body water, muscle are all at 80%.
And the Visceral for both entries are 0.

Please check it.
![screenshot_20180528-104635](https://user-images.githubuse

[2018-05-28 10:41] kr-nahid opened #276 "app crash while open widget without saving User information"
#### Expected behavior
it shouldn't be crash when try to open app widget without saving User information .

#### Actual behavior
when i try to open widget without saving User information it crash and shows me that **An unexpected error occurred** .

#### How to reproduce
* download the app and run it then set up with user information
* then go to settings and click on users
* now open user  and cl

[2018-05-28 12:55] ReidarHH commented on #252
First of all, I'm sorry for the late reply. I've been very busy. This last update did the trick. ☺ Now it is importing all previous measurements. Excellent work Erik. ☺ 👍

[2018-05-28 15:11] erijo commented on #252
@nazco: does it work for you as well?

[2018-05-28 15:12] erijo commented on #252
For the record: problem was most likely fixed by  3f11e55

[2018-05-28 19:59] #276 closed

[2018-05-28 19:59] erijo commented on #276
Thank you for your report. Should be fixed now.

[2018-05-28 21:18] adisalat2 opened #277 "Unable to set reminder on landscape mode"
Project Information
.Repository
https://github.com/oliexdev/openScale

.Project Name:OpenScale

Expected Behaviour
User should be able to set reminder time when on landscape mode

Actual Behaviour
User was unable to set reminder time in landscape because it got cut off or does  not display

How to reproduce
Download and install from fdroid
Run the app
Enable landscape mode
Change your screen orien

[2018-05-29 07:34] hirnsushi opened #278 "Bluetooth unstable for Medisana BS 444"
I'm experiencing problems with the bluetooth connection to my Medisana BS 444 since upgrading to 1.8.
The connection only gets established if I readd the scale through settings. About 2/3 of the time that doesn't work either or the connection drops immediately. Once successfully connected the measurements get synced as always, but reconnecting the scale at a later point simply by pressing the blue

[2018-05-29 07:47] hirnsushi opened #279 "Color mismatch on the overview page"
Just a small papercut, the color of the indicator on the right doesn't match the color of the current position on the scale, it should be green.
![img_20180529_093909](https://user-images.githubusercontent.com/5706729/40644937-1e52ed66-6325-11e8-9663-fb5f4d2b6f70.jpg)

[2018-05-29 09:07] #279 closed

[2018-05-29 09:08] erijo commented on #279
Good catch!

Should be fixed now. If you want to you can try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) to verify the fix.

[2018-05-29 09:10] erijo commented on #278
Could you please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if it works better?

[2018-05-29 09:19] #277 closed

[2018-05-29 10:28] hirnsushi commented on #279
👍 checked the dev version, looks great 😀

[2018-05-29 10:55] hirnsushi commented on #278
The device not found error seems fixed now. I always get a connection but ~ 9 out of 10 times it's dropped immediately. Tried multiple times, sometimes it worked on the first or second try, sometimes it didn't before my scale shut off.
[openScale_2018-05-29_12-42.txt](https://github.com/oliexdev/openScale/files/2047894/openScale_2018-05-29_12-42.txt)

[2018-05-29 12:40] Disgustus opened #280 "Visceral fat and medisana bs444"
I noticed that visceral fat doesn't receive data when syncing with a medisana bs444. Is this a bug, or should visceral fat be entered manually?
If it's the latter, can anyone recommend me a way to measure this?

running 1.8.1(28)

[2018-05-29 12:57] erijo commented on #280
As far as I can tell, bs444 doesn't support visceral fat measurement. Do you get that measurement in the original app?

Btw, do you have any problems connecting to the scale (as reported in #278)?

[2018-05-29 13:00] Disgustus commented on #280
Will download the original app later today to check.

Also, yeah, bluetooth connection is rather flaky. Will try the dev build.

[2018-05-29 14:04] Disgustus commented on #280
Just checked in the stock app. It indeed doesn't show visceral fat along the other measurements.
Will continue the bluetooth issues in the other ticket.

[2018-05-29 19:42] ReidarHH commented on #252
For info, my phone is running android 7
And it works for me ☺️👍

[2018-05-29 21:15] erijo commented on #252
@nazco: please restart the device and see if it works then. If not, please attach the openScale debug log from trying to connect with the dev version.

[2018-05-29 23:30] leofedep opened #281 "Idea/Request: Step counter and blood pressure trackers"
Hi!

The app is just amazing!!! Although, I would love to include 2 more trackers: step counter and blood pressure/oxygen saturation/heartbeats register. Since some Samsung phones (or gadgets) can measure these values, would be really useful to include them in the app.

Thanks in advance.

[2018-05-30 00:09] MartinNowack commented on #252
Sorry, I currently do not have access to the scale. @nazco I think increasing the sleep value is not the right solution. It covers hidden timing issues. For example, if the phone is under load, the value might not be enough. On the other hand, without load, the thread unnecessarily sleeps too long.

[2018-05-30 02:12] en1389 opened #282 "v1.8.1 problem with accuway scale"
I tried out the new v1.8.1(28) with my Accuway scale.

Frist, I am happy that the Visceral fat is added.
But I found that when I stepped on the scale, the app always made 2 entries each time.
And the first entry has incorrect data, i.e. body fat, body water, muscle are all at 80%.
And the Visceral for both entries are 0.

Please check it.
![screenshot_20180528-104635](https://user-images.githubuse

[2018-05-30 21:52] Disgustus commented on #278
I have the same issue, using the Dev build does seem to work. Will run it some more.

[2018-05-30 21:53] Disgustus commented on #280
You can close this issue, I'll post on #278 about the Bluetooth issues.

[2018-05-31 03:51] #280 closed

[2018-05-31 06:46] oliexdev commented on #277
doesn't work for me but as far as I see it is a bug by Android.

[2018-05-31 06:49] oliexdev commented on #281
Thanks for your idea but the focus of openScale are the body scales. Supporting more external device trackers are currently not the aim.

[2018-05-31 06:49] #281 closed

[2018-05-31 07:02] oliexdev commented on #282
can you try out the latest dev version?
Is in the original app the visceral **fat** displayed?
Please compare also the visceral fat value with the original app.

[2018-05-31 07:42] en1389 commented on #282
I tried the dev version
v1.8.1-dev_b52d9274(1527369785)
The result is the same, i.e. got 2 entries each time.

The original app has the visceral index. You can see the captured image of my previous issue (#248 )

BTW, visceral is measured as an index, not in kg or %.

[2018-05-31 08:01] oliexdev commented on #282
Do you get the correct visceral index?
Can you post the debug log when you get two entries please.

[2018-05-31 08:27] en1389 commented on #282
The visceral read 0.00 both in the released version and dev version.
My visceral index should be around 8 or 9
You could check the screen capture of the original app and the bt hci log file in #248

The debug log is attached.
[openScale_2018-05-29_07-56.txt](https://github.com/oliexdev/openScale/files/2057373/openScale_2018-05-29_07-56.txt)

[2018-05-31 09:45] oliexdev commented on #282
did you connect to the scale and weight yourself while the debugging is on?

[2018-05-31 19:52] erijo commented on #278
Please try the latest dev version and report how it works. Please also include the debug log.

It would also be interesting to see a btsnoop log from the original app to see if/how it deletes measurements.

[2018-05-31 20:09] erijo commented on #252
@MartinNowack: from what I gather from reading a lot of comments on stackoverflow and other places, BLE on Android seems to suck big time. I'm not particularly found of sleeps neither, but it seems to be necessary on some devices to get a stable connection. But I'm open for any other ideas you or anyone else may have.

(But I would still like to see the debug log from the dev version when you have

[2018-06-01 02:00] en1389 commented on #282
debug log attached
[openScale_2018-06-01_07-56.txt](https://github.com/oliexdev/openScale/files/2060725/openScale_2018-06-01_07-56.txt)

[2018-06-01 04:46] erijo commented on #282
If you try the latest version it should be fixed.

[2018-06-01 07:42] oliexdev commented on #282
I changed also the percentage to an index value and added the visceral fat evaluation with commit https://github.com/oliexdev/openScale/commit/93085eecb43a6996d7cf06823d3a330c2fb0d939
Please try out the latest dev version @en1389 and tell us how it works.

[2018-06-01 08:12] oliexdev commented on #282
@en1389 could you also test your scale with different weight units?

[2018-06-01 10:40] hirnsushi commented on #278
The latest dev version (2018-06-01 07:41:37 UTC) doesn't install for me. I'll wait for a newer CI-Build and report back to you.
I've never used the original app, I'm running microG without any Gapps, but I'll give it a try.

[2018-06-01 10:49] erijo commented on #282
It would also be interesting in seeing a debug log where you have weighed yourself with socks on (so that no fat measurement can be done).

[2018-06-01 11:36] oliexdev commented on #278
@hirnsushi why you can't install the latest dev version?

[2018-06-01 14:57] hirnsushi commented on #278
I'm not sure, the Package Installer just throws a nondescript error ("Package wasn't installed") back at me. Hasn't happened with any of the dev versions before, so it might just be some problem on my side, will try on a different device later.

[2018-06-01 16:11] hirnsushi commented on #278
Reliability has gone up for me with the new version, I'd say 1 in 5 attempts successfully syncs data, that's absolutely good enough for me 😃
I did manage to hit a new bug where the bluetooth icon on the overview page disappeared until I restarted the app. That was before I enabled logging and I wasn't able to reproduce it though.
[openScale_2018-06-01_17-59.txt](https://github.com/oliexdev/openSca

[2018-06-01 18:14] erijo commented on #278
I've seen the problem with the Bluetooth icon as well. It's still there and you can click it, it's just not visible.

[2018-06-02 13:55] jimbolaya commented on #159
I have some logs and a screenshot for a 1byone scale described in this thread.
https://klaashome.org/index.php/s/A7ob4pBJUc0gkSR

[2018-06-02 20:50] nazco commented on #252
I think what @MartinNowack pointed out with the timings is right. I tried to collect the logs yesterday and this time the problem with the connection occurs again with just a slightly higher system load. Here is the debug log.
[code]

[2018-06-04 01:37] en1389 commented on #282
I tried the latest dev version.
It is working fine, and the visceral index displayed correctly.

[2018-06-04 01:41] en1389 commented on #282
my scale supports wright unit in kg, lb, and st.
I switch the unit to lb and do the measurement.
The log file is attached.
The scale display my weight is in lb, but the data transfer to the app is still in metric.
[openScale_2018-06-03_22-19.txt.docx](https://github.com/oliexdev/openScale/files/2066609/openScale_2018-06-03_22-19.txt.docx)

[2018-06-04 01:43] en1389 commented on #282
When I step on my scale with slippers on. After displaying my weight, the scale trying to analysis my body components. And then "Error" is displayed on the scale.

Here is the log file.
[openScale_2018-06-03_22-22.txt.docx](https://github.com/oliexdev/openScale/files/2066626/openScale_2018-06-03_22-22.txt.docx)

[2018-06-04 03:13] en1389 commented on #282
my photo of the accuway scale
![dsc_0567](https://user-images.githubusercontent.com/38743025/40896584-59fbe850-67e8-11e8-9632-f4654171aa74.JPG)

[2018-06-04 14:19] Radiotechniman opened #283 "[Request] Tasker support"
Personally I'd like to have the option to sync to (web) services but I understand why this is not included in the app.
Having Tasker support would allow anyone to create any integration they want.

I would automatically post data to my fitbit account (using autoWeb & Tasker) but i can see someone starting disco lights when they reach a certain weight :-)

[2018-06-04 15:11] oliexdev commented on #283
With the openScale automatic backup function you have access to the complete database. You can backup it daily and write for example a Tasker plugin that is reading the backup file in and do whatever you want. So the support should come from Tasker not by openScale ;)

[2018-06-04 15:11] #283 closed

[2018-06-06 03:58] mrsolitonwave opened #284 "Incorrect Units on Yunmai SE"
Im using the Android App on a Pixel 2XL (Android 8.1) with the Yunmai SE scale and when lbs is selected as the preferred weight unit, the openscale app erroneously displays the weight in kg (but labels it as lbs).

For example, the Yunmai SE will display 175.4 lbs on the scale, but openscale will list my weight as "79.54lbs" (which appears to be the kg conversion but inappropriately labeled as lbs

[2018-06-06 06:05] erijo commented on #284
Can you enable debug log under settings, about and then do a measurement with lbs selected and attach the log here?

[2018-06-06 09:33] oliexdev commented on #284
@mrsolitonwave fixed with https://github.com/oliexdev/openScale/commit/7c2573f813504329ed7e86315a207679eee68dbd please try out the latest [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

[2018-06-06 09:33] #284 closed

[2018-06-06 11:30] natrius opened #285 "Naming of autobackup"
Thanks for the feature - amazing! (The whole app actually)

Maybe on thing for improvement:
Change the naming from dd.mm.yy_openscale to yy.mm.dd_openscale because the default folder-sorting in windows and android will sort it chronological. That way, the newest one will always be on top or on bottom and not somewhere in the middle.
Doint it the same way for my pictures and so on :)

[2018-06-06 12:20] oliexdev commented on #285
thanks you point is good. It is now changed to yyyy-MM-dd. Before your short local default date was used. So for Austria or Germany it was dd.mm.yy.

[2018-06-06 12:20] #285 closed

[2018-06-06 13:01] oliexdev commented on #236
@natrius thanks I added a new wiki page with your tutorial on https://github.com/oliexdev/openScale/wiki/Autosync-with-Nextcloud

[2018-06-06 17:49] rochamorelli opened #286 "Mi Scale 2 typo?"
On line 184 and 187 of [Mi Scale 2](https://github.com/oliexdev/openScale/blob/master/android_app/app/src/main/java/com/health/openscale/core/bluetooth/BluetoothMiScale2.java), is this a typo or the data is really used for two distinct things?

[code]

Thanks :D

[2018-06-06 18:58] oliexdev commented on #286
I copied the source code of mi scale v1 for the v2. Then I tried to discover some differences. It could be possible that I didn't test other scale units with the mi scale v2 so the bit of `isCattyUnit` might be wrong or I did that to have a "speaking" name but I can't remember anymore. Sorry!
Why you asking? Is something not working?

[2018-06-06 20:23] Freso opened #287 "Support for GBF-1251-B (by Lifesense(?))"
Just a note that I'd love to see added support for the GBF-1251-B scale (not 100% sure who it's made by, but it only works with [an app by/from "Shenzhen Lifesense"](https://play.google.com/store/apps/details?id=com.lifesense.LSWearable.intl)).

The user manual for the scale can be seen at http://docplayer.dk/29229362-Brugsanvisning-kropsanalysevaegt.html (in Danish)

I'll try and do the [reverse

[2018-06-07 06:49] oliexdev commented on #287
Could be possible that you only get the impedance and weight value like for the mi scale v2 or 1byone scale but we will see if you did some reverse engineer steps.

[2018-06-07 19:28] ivangill commented on #71
I tried the App "Your Scale" on the Yunmai.
Much better than yanmai app at finding scale
Most ibteresting, it calculates a noticeabley different figure for body fat %, and this new figure displays on the scales too. So the scales have a default calculation unless overrideen by the app...

[2018-06-08 15:25] Teyro opened #288 "muscle mass is to high"
Hi there,

Is there a chance to increase the "muscle mass" scale? My Girlfriend has muscles like Hulk but she looks awsome.... But at 44% the scale is over.... Is there a chance to increase the Value for Hulk like girls?

best wishes from Hamburg, Germany

Teyro

[2018-06-08 15:27] Teyro commented on #278
@erijo

It helps to add permission to storage inside the app settings

[2018-06-08 15:33] oliexdev commented on #288
which scale? But anyway I am not a manufacture of a scale, you have to ask the company of your scale.
Alternative you can enter the muscle mass manually in openScale.

[2018-06-08 15:33] #288 closed

[2018-06-11 17:00] erijo opened #289 "NullPointerException in CommentMeasurementView.setValue"
From Google Play:

[code]

[2018-06-11 17:01] #289 closed

[2018-06-11 17:13] erijo opened #290 "NullPointerException in BluetoothPreferences.onDeviceFound"
From Google Play:

[code]

[2018-06-11 17:25] #290 closed, assigned to nobody

[2018-06-11 17:27] erijo commented on #287
A good start is to enable debug log in settings -> about and then search for the scale in bluetooth settings. Once found, click it and openScale will download some debug data. Then post the log here.

[2018-06-11 18:59] jphendrix opened #291 "Renpho Scale Not Supported (model ES-CS20M-B)"
I will update issue with bluetooth/wireshark logs soon.

[2018-06-11 21:29] erijo commented on #291
Looks like there might be a library involved in this scale as well (https://github.com/YolandaQingniu/qn-ble-sdk-android). We'll see what the logs say...

Please provide the openScale debug log (settings -> about) after scanning for your device as well.

[2018-06-11 21:30] erijo commented on #278
@Teyro: in what way does that help?

[2018-06-11 21:35] erijo commented on #278
@hirnsushi: the log seems to indicate that openScale downloads a bunch of old measurements. If we knew how to delete them it might improve the connectivity.

[2018-06-11 22:17] erijo commented on #288
@Teyro: do you mean that 44% is considered too high muscle value (i.e. marked as red by openScale)?

[2018-06-12 00:39] hirnsushi commented on #278
Sorry for the delay, I almost forgot about that, here you go [btsnoop_hci.log](https://github.com/oliexdev/openScale/files/2092149/btsnoop_hci.log).
I hope there's something useful in there. Let me know if you need any more logs.

[2018-06-13 22:19] jphendrix commented on #291
This is the debug log I was able to capture from the other day.

2018-06-11 22:25:22.463 Debug AboutPreferences: Debug log enabled, openScale v1.8.1 (28), SDK 24, samsung SM-G930V
2018-06-11 22:26:02.953 Debug BluetoothPreferences: Start discovery
2018-06-11 22:26:03.090 Debug BluetoothPreferences: Discovery: android.bluetooth.adapter.action.DISCOVERY_STARTED
2018-06-11 22:26:03.985 Debug Bluetoot

[2018-06-14 18:33] erijo commented on #278
It seems like the original app doesn't delete any measurements either.

Could you provide a btsnoop log when openScale tries to connect and one where it succeeds? I would like to compare with the one from the original app to see if I can figure out why the original app doesn't have the connectivity problems that openScale does.

[2018-06-14 19:23] hirnsushi commented on #278
Sure, unsuccessful sync [btsnoop_hci.log](https://github.com/oliexdev/openScale/files/2103702/btsnoop_hci.log), succesful sync (after a few tries, at the end) [btsnoop_hci.log](https://github.com/oliexdev/openScale/files/2103713/btsnoop_hci.log).

[2018-06-14 20:02] erijo commented on #278
Thanks @hirnsushi.

Please try the latest dev version and let me know how it works.

[2018-06-14 21:14] hirnsushi commented on #278
Syncs immediately every time I tried, perfect, great work! 👍

[2018-06-15 09:12] erijo commented on #278
Glad to hear!

I will leave this issue open for a while since I need to clean up the fix a bit (e.g. add a scan timeout).

[2018-06-17 19:36] nazco commented on #252
I'll try it the next few days but I have to mention that the previous version worked or didn't worked in a very non deterministic way so I need some time to check if it is really solved.

[2018-06-17 19:44] erijo commented on #291
I would have expected that the debug log would contain a list of GATT services from the scale. Please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and attach the log from that version.

[2018-06-17 20:13] erijo commented on #282
@en1389: could try changing the unit on both the scale and in openScale to lb and verify that what you see on the scale matches what you get in openScale? Using the latest dev version.

[2018-06-19 16:59] dglozano commented on #219
Erijo, sorry I have been very busy with uni (the semester ends next week here). After that I will continue trying with this and I will upload the log @erijo

[2018-06-20 21:38] jphendrix commented on #291
This is the log from the dev version.  Am I missing something?

2018-06-20 17:33:23.796 Debug AboutPreferences: Debug log enabled, openScale (dev) v1.8.1-dev_cb885d16 (1528314896), SDK 26, samsung SM-G930V
2018-06-20 17:34:11.235 Debug BluetoothPreferences: Start discovery
2018-06-20 17:34:11.317 Debug BluetoothPreferences: Discovery: android.bluetooth.adapter.action.DISCOVERY_STARTED
2018-06-20 1

[2018-06-20 21:50] erijo commented on #291
Please try with the latest dev version.

[2018-06-21 13:32] faisal-shah opened #292 "Goal weight not displayed properly in Chart and statistics."
v1.8.1 (28)

In user configuration I have my scale unit set to lb, and my goal weight set to the appropriate value in lbs.
When I view Chart and Statistics, it shows my goal weight as the number I have in my profile converted to the numerical equivalent in kgs. As a result, derived values are also incorrect, such as Weight Difference.

For example, I put a goal weight of 150lb in my user profile.

[2018-06-21 14:07] erijo commented on #292
The statistics bug is already fixed (see #272), but the graph bug remains.

[2018-06-21 16:09] #292 closed

[2018-06-21 16:12] erijo commented on #292
Should be fixed now. If you want to can verify it by testing the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

Thanks for the report!

[2018-06-21 16:15] #286 closed

[2018-06-22 02:00] faisal-shah commented on #292
Thanks for the app! Glad to be able to contribute in a small way.

[2018-06-22 16:58] ulipo commented on #159
I can get measurements from my scale, but every measure I take it makes two or three entries in the app...

[2018-06-22 17:04] godinperson commented on #159
I can't connect to it. It says connected and then: lost connection

[2018-06-22 18:45] erijo commented on #159
Please try the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) and see if that works better @ulipo and @godinperson

[2018-06-22 18:49] godinperson commented on #159
Yep, it's the one I'm using

[2018-06-22 19:16] erijo commented on #159
Ok. Please go to settings, about and enable debug log. Then try to connect to the scale and attach the log here afterwards.

[2018-06-23 11:14] ulipo commented on #159
@erijo I am also using the dev build, here I attached a log from one "double" measure, even if I don't see any relevant content...

[code]
2018-06-23 12:23:15.780 Debug AboutPreferences: Debug log enabled, openScale v1.8.1-dev_39737b52 (1529683770), SDK 25, OnePlus A0001
2018-06-23 12:23:23.936 Debug OpenScale: Disconnecting from bluetooth device
[/code]

[2018-06-23 15:08] erijo commented on #159
That looks really weird @ulipo. Could you try again, perhaps saving the log to a different location?

[2018-06-24 19:42] erijo opened #294 "RuntimeException in OpenScale.getInstance"
From Google Play:
[code]

[2018-06-24 19:43] #294 closed

[2018-06-24 19:46] erijo commented on #294
I don't really understand how this could happen as the instance should have been initialized by Application.onCreate(). Maybe the OpenScale class was unloaded for some reason which caused the instance to be garbage collected. If this is the root cause, the fix in c790ee6 should hopefully fix it.

[2018-06-25 06:13] ulipo commented on #159
I tried several times to get a more detailed log, but probably I am doing it wrong... here is how I do:
1. launch the app on my smartphone
2. step on the scale and let it connect to the app
3. after the measurement, go to settings and enable debug log, save to a file

Every time I get the same as reported in my previous post (except for the timestamps)

[2018-06-25 06:18] erijo commented on #159
You need to swap step 2 and 3, ie enable debug log first.

[2018-06-25 07:20] 5thdev commented on #159
I've also received this scale as a gift and I can help to test. There something that you need again like showed in [the wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale) or I simply try a beta-dev build? (play store beta program?)

[2018-06-25 18:02] Shigawire opened #295 "Support for the official BLE standard"
Hi!

In the course of my master thesis I am developing a BLE simulator. We simulate the Bluetooth Low Energy standard and cross-test various mobile health applications to check for their compliance with the BLE standard.

I am pretty sure the simulator is mimicking a default BLE scale as defined per the BLE standardization (https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.

[2018-06-25 19:51] dinki commented on #159
Any progress on adding the other readings besides weight or is that a loss cause?

[2018-06-25 20:29] georges-da-costa commented on #159
A measurement :
Debug BluetoothCommunication$GattCallback: onCharacteristicChanged 00002a9c-0000-1000-8000-00805f9b34fb: 03 06 D0 07 02 04 0B 03 14 D4 0D 0C 26 00 00 46 43 E0 00 DE
weight: 97,40, impedance: 14697286

On the official appli:

97.4 kg
BMI 30.7
water 49%
fat 28.6%
bones 3.4kg
visceral fat 11kg
BMR 2147 kcal
Muscles 66.1kg

If you need something else, please ask :)

[2018-06-26 19:41] godinperson commented on #159
Here is my log
[openScale_2018-06-26_15-30 (1).txt](https://github.com/oliexdev/openScale/files/2138677/openScale_2018-06-26_15-30.1.txt)

[2018-06-26 19:45] godinperson opened #296 "Request: Make a component for Home Assistant"
I don't always have my phone on me. It would be nice if we could create a component for Home Assistant https://www.home-assistant.io

The Home Assistant would scan for a connection with the scale and if it receives data, would add it. It would be easy to keep my history under my home automation software

[2018-06-26 20:29] erijo commented on #296
Seems like this would be a new project, separate from openScale.

[2018-06-26 20:29] #296 closed

[2018-06-26 20:31] erijo commented on #295
We don't have any generic support for a standard ble scale (that I know of). But I'd you're willing to add that it might be interesting to have.

[2018-06-26 20:40] erijo commented on #159
@godinperson: please try with the latest dev version.

@dinki: no real progress to report. I've been focusing on some other stuff lately.

@5thdev: what we need most is someone fluent in arm or x86 assembly ;)

[2018-06-26 20:45] godinperson commented on #159
Pretty sure I used the latest one, installed May 22nd, 1.8.1-dev_0444b9da (1527003541)

[2018-06-26 20:46] godinperson commented on #296
In fact, it would be a port of your application into a component, not interested? I can put it in Home Assistant component request if you like

[2018-06-26 20:57] erijo commented on #159
That version is a month old. Please download the latest from https://github.com/oliexdev/openScale/releases/tag/travis-dev-build

[2018-06-26 21:13] godinperson commented on #159
For the record, because I might not be the only one doing this mistake. On your link, it says:
oliexdev released this on May 19. But we really need to look at the bottom where it says: Automatic openScale development build of master (c790ee6) built by Travis CI on 2018-06-24 20:11:58 UTC.

Thanks

[2018-06-26 21:19] godinperson commented on #159
Same issue with latest version

[2018-06-28 20:32] erijo commented on #252
Have you had time to test this yet @nazco?

[2018-06-28 20:35] nazco commented on #252
Not yet sorry. I'll try to start with some tests this weekend.

[2018-06-29 06:40] 5thdev commented on #159
OpenScale v1.8.1 (28) records two measurements instead of one, I tried several times with the same result.
Here the bluetooth log: [openScale_2018-06-28_19-13.txt](https://github.com/oliexdev/openScale/files/2148025/openScale_2018-06-28_19-13.txt)

[2018-07-02 19:11] hirnsushi opened #299 "Diagram view: Increase month selector minimum height"
It's very hard to select a month with very few measurements, would be great if you could set a minimum height for those bars.
Examples:
![screenshot_openscale_ dev _20180701-083415](https://user-images.githubusercontent.com/5706729/42181742-3b1fe76e-7e3c-11e8-967f-0dd5a0d95365.png)
1 measurement, nearly impossible to select.
![screenshot_openscale_ dev _20180702-160439](https://user-images.githubu

[2018-07-03 06:49] postolache opened #300 "Question about BF700 history data"
I have BF700 and it is working fine if the application is open when stepping on the scale. But it doesn't seems to download previous weight it measured while app was close.
In the supported scales page, BF700 is listed on History Data.
Should "Merge with last measurement" be checked? Tried both ways, still can't get history data from the scale. Any suggestions?
Thanks.

[2018-07-03 07:53] breversa opened #301 "[FR] Display every value in year view"
Hi,
I used to use a closed-source app before switching to openScale, but I've missed a feature ever since : the ability to display *every* weight value when in year view, and not only each month's first/average/last value (can't even tell which one it is).

Also, while while the graph's scaling (Ymin=min weight value, Ymax=max weight value) allows to more precisely observe weight variations, it ma

[2018-07-03 07:55] breversa opened #302 "[FR] Display BMI in graph view"
Hi,
Why not display the BMI in the same graph as weight, along the Y-axis (and like #301, with an absolute rather than relative scale) ?

[2018-07-03 21:43] erijo commented on #302
Could you please elaborate a bit more on how you would like it to be? BMI can already be displayed in the graph, but I assume you want it in some other way?

[2018-07-03 21:49] godinperson commented on #159
@erijo Same issue with newer version, here is the log
[openScale_2018-07-03_17-40.txt](https://github.com/oliexdev/openScale/files/2161165/openScale_2018-07-03_17-40.txt)

[2018-07-03 21:50] erijo commented on #300
"Merge with last measurement" only merges values from a previous measurement with the current in cases where a measurement isn't sent by the scale (i.e. waist circumference).

Can you please enable debug logging under settings -> about, connect to the scale and then attach the log here? If possible, please use the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

[2018-07-03 22:21] postolache commented on #300
It works with the device version.
I'm attaching 2 logs one from Google play version (release) and 2nd from device version that is working:
[openScale_release.txt](https://github.com/oliexdev/openScale/files/2161249/openScale_release.txt)
[openScale_2018-07-04_00-10.txt](https://github.com/oliexdev/openScale/files/2161250/openScale_2018-07-04_00-10.txt)

[2018-07-03 22:37] erijo commented on #300
Glad to hear it's working with the latest version. Please try a couple of times to make sure it wasn't pure luck.

[2018-07-03 22:47] erijo commented on #159
That's strange @godinperson. I've added some more debug logs. Please try again with the latest dev version and attach the log.

[2018-07-03 22:57] erijo commented on #159
Please try the latest dev version @5thdev, it should be fixed now.

[2018-07-03 23:03] erijo opened #303 "Measurements from Sanitas scale duplicated for both users"
From Google Play review:

just because of a little bug. I use it with two users and, every time we
take a new measure, the app duplicates some measurements from one user to
the another one. So, every time I have to delete those data from the list
of past measurements. Hope you may fix it, the app is very good!

[2018-07-03 23:04] erijo commented on #303
It would be good if we could get a debug log from the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build) when this happens (enable debug log under settings -> about).

[2018-07-03 23:35] godinperson commented on #159
@erijo Here! Thanks for your time! I really appreciate
[openScale_2018-07-03_19-24.txt](https://github.com/oliexdev/openScale/files/2161373/openScale_2018-07-03_19-24.txt)

[2018-07-04 09:45] breversa commented on #302
My bad : after double-checking th settings, I found that you can indeed display the BMI along the weight, so that's cool. :-)

Howewer, the BMI uses the same scale as the weight (= left Y-axis), which has the consequences that both plot lines look "compressed" to fit them in the same screen (I have a 5,5" display).

It would be better if the BMI used the right Y-axis with a different (but still ab

[2018-07-04 10:02] breversa commented on #302
After seeing this : https://github.com/oliexdev/openScale/blob/master/doc/screens/screen_graph.png I come to the conclusion that there should be an option **to choose for each plot line to be scaled along the left or right axis**.

Currently, all the plot lines are scaled on the same lef Y-axis, be it weight (which can range up to 150 kg and more) or BMI (which can hardly go above 40-ish). IMO, it

[2018-07-04 11:12] erijo commented on #159
Added even more debug logs, please try again with the latest dev version @godinperson.

[2018-07-04 11:20] godinperson commented on #159
@erijo Pretty sure you got something here

[openScale_2018-07-04_07-16.txt](https://github.com/oliexdev/openScale/files/2163018/openScale_2018-07-04_07-16.txt)

[2018-07-04 11:45] erijo commented on #159
Interesting. Could you, with the debug log on, go to settings, search for your scale and then click on it once found? That will fetch all services and log them.

[2018-07-04 11:55] godinperson commented on #159
Here
[openScale_2018-07-04_07-52.txt](https://github.com/oliexdev/openScale/files/2163107/openScale_2018-07-04_07-52.txt)

[2018-07-04 12:18] ulipo commented on #159
@erijo I confirm that with the latest build, I get just one entry per measurement, it works!

[2018-07-04 15:17] oliexdev commented on #302
@breversa the idea is not new but to have such an option needs some time. I need to think about it how to best implement such option during a bad weather day. ;)

[2018-07-04 15:33] oliexdev commented on #301
it is the average value which is displayed. You won't have every value in a year because then it looks like in #46.

True, we can disable the restriction for the viewport so you can zoom out to get a whole picture. I think we had already implemented it but I guess during a refactoring it has been vanished.

[2018-07-04 15:35] oliexdev commented on #299
Unfortunately, the library that we are using doesn't support that and it is not maintain anymore.
I am not sure how we can best solve this issue... any ideas?

[2018-07-04 15:44] oliexdev commented on #295
@Shigawire no your simulator is properly working but we identify the scale if it supported or not by the device name.
Unfortunately, none of our currently supported scales are not complying with the BLE standard. Every company does their own implementation.
@Dododappere wrote in #219 that the Beurer BF600 use the BLE standard. But we don't own that scale but if you could implement with your BLE si

[2018-07-04 15:46] #282 closed

[2018-07-04 16:51] hirnsushi commented on #299
Is the value shown on the bars linked to the bar height somehow? If not, would it be possible to increase the number of measurements in the background by x and use the real amount of measurements minus x for the value on the bars? I've obviously no idea how this is implemented, so just a thought 🙂

[2018-07-04 22:06] erijo commented on #159
@ulipo: :+1:
@godinperson: it seems like the read of the extended info timed out. I've done something to hopefully avoid that. Could you please try again (what you did last) with the latest dev version?

[2018-07-04 23:08] godinperson commented on #159
Here. I did fetch the information, then reconnected and tried it
[openScale_2018-07-04_19-03.txt](https://github.com/oliexdev/openScale/files/2164487/openScale_2018-07-04_19-03.txt)

[2018-07-05 05:58] postolache commented on #300
[openScale4.txt](https://github.com/oliexdev/openScale/files/2165089/openScale4.txt)
Unfortunately you were right. This morning, the device version wasn't working .
What could be the problem?

[2018-07-05 07:34] erijo commented on #159
Hmm, this seems strange @godinperson. Could you capture a btsnoop log when using the original app? It looks like your scale differs from what we have support for.

@ulipo or @5thdev (or someone else with a scale that openScale can get the weight from): could you enable debug logging under settings -> about and then go search for your scale using the latest dev version? It would be interesting to c

[2018-07-05 11:56] erijo commented on #300
Did you have any measurements stored on the scale?

[2018-07-05 12:58] godinperson commented on #159
I'll need your help on that one. I was able to generate the log files but there is a lot of files and pretty big ones too. The main seems like 30Mb which contains many things

[2018-07-05 14:07] postolache commented on #300
Yes, I've weighted 2 times a few hours before, while the app was closed.
Not sure how to check on the scale if there are any measurements stored.

On Thu, Jul 5, 2018 at 1:56 PM, Erik Johansson <notifications@github.com>
wrote:

[2018-07-05 14:53] erijo commented on #300
Did the scale show your initials after weighing? I.e. was the weight within +/- 2 kg of the previous measurement?

[2018-07-05 15:09] ulipo commented on #159
[openScale_2018-07-05_17-07.txt](https://github.com/oliexdev/openScale/files/2167146/openScale_2018-07-05_17-07.txt)
Here you go ;)

[2018-07-05 15:20] postolache commented on #300
In settings I had "Smart user assignment" disabled. I've enabled now and
last 2 measurements were transferred.

I've noticed in the log that my birthday is 77-2-7 instead of 77-3-7 . In
app is set ok, March.

On Thu, Jul 5, 2018, 4:53 PM Erik Johansson <notifications@github.com>
wrote:

[2018-07-05 20:51] erijo commented on #300
The "Smart user assignment" doesn't affect reading the measurements from the scale. It is only used to assign a measurement to a user after it has been read from the scale. And as the scale already does this "smart" assignment it isn't really needed.

So if it works now, it was probably just pure luck. It would be nice to get some logs using the latest development version when it works.

As for th

[2018-07-05 22:05] jasimancas opened #305 "Add Yunmai Balance"
Hi!
Is possible add support to Yunmai Balance?

[2018-07-05 22:53] erijo commented on #159
Thanks @godinperson  and @ulipo!

It seems like your scale @godinperson differs from the one that @ulipo has. I tried to add some basic support for yours as well. Please try the latest dev version @godinperson and post the log here afterwards.

[2018-07-05 22:56] erijo commented on #305
We can try!

Start by installing the [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build). Then go to settings -> about and enable debug log. Then go to settings -> bluetooth and search for your scale. Once found, click on it. This should get a list of services etc. When it is done, attach the log here.

[2018-07-05 23:32] godinperson commented on #159
@erijo Ok, we are getting somewhere. I don't get the lost connection anymore. Also, the bluetooth icon flashing on the scale stays light up (doesn't flash anymore) which is good sign. However, the application never gets the data. It stays empty.

Thanks

[2018-07-06 05:04] erijo commented on #159
Please attach the log (also, please update again, I made a typo in the previous version).

[2018-07-06 06:42] jasimancas commented on #305
[openScale_2018-07-06_07-10 (1).txt](https://github.com/oliexdev/openScale/files/2169270/openScale_2018-07-06_07-10.1.txt)

[2018-07-06 11:04] godinperson commented on #159
It works! Now the only thing is I only get Weight, BMR.

Body water, muscle, body fat are all 0%
[openScale_2018-07-06_07-00.txt](https://github.com/oliexdev/openScale/files/2170221/openScale_2018-07-06_07-00.txt)

[2018-07-06 16:55] postolache commented on #300
It seems that most of the time it gets something like this:

2018-07-06 18:50:22.684 Debug BluetoothBeurerSanitas: Ack Get scale status
2018-07-06 18:50:22.686 Debug BluetoothBeurerSanitas: BatteryLevel: 100,
weightThreshold: 2.00, BodyFatThreshold: 2.00, Unit: 1, userExists: true,
UserReference Weight Exists: true, UserMeasurementExists: false,
scaleVersion: 6
2018-07-06 18:50:42.142 Debug Blueto

[2018-07-06 21:15] erijo commented on #305
Please retest with latest development version and report back the status (with log).

[2018-07-07 10:06] Shigawire commented on #295
Hi @oliexdev I am developing the simulator in conjunction with the university clinic in Münster (Germany): https://www.ukm.de.
To date, the project is subject to an NDA, but I will talk to my supervisors and emphasize the importance of FOSS, especially in a field where standardization matters.
I am pretty sure we will find a solution for making the simulator available to you.

The Beurer devices d

[2018-07-07 10:18] jasimancas commented on #305
[openScale_2018-07-07_12-15.txt](https://github.com/oliexdev/openScale/files/2172654/openScale_2018-07-07_12-15.txt)

[2018-07-07 15:21] jphendrix commented on #291
Logs from the dev version downloaded today.  Hopefully this will be more helpful!  Thanks for your support!

2018-07-07 11:02:41.593 Debug [2] AboutPreferences: Debug log enabled, openScale (dev) v1.8.1-dev_b92e143e_2018-07-06 (1530911762), SDK 26, samsung SM-G930V
2018-07-07 11:04:49.218 Debug [2] BluetoothPreferences: Start discovery
2018-07-07 11:04:49.272 Debug [2] BluetoothPreferences: Discov

[2018-07-07 16:05] erijo commented on #291
Thanks! Can you please attach it as a file?

Also, we need the btsnoop logs.

[2018-07-07 16:12] jphendrix commented on #291
[openScale_2018-07-07_11-02.txt](https://github.com/oliexdev/openScale/files/2172897/openScale_2018-07-07_11-02.txt)
File attached.  I will read up on how to generate btsnoop logs.

[2018-07-07 17:20] jphendrix commented on #291
I was able to enable developer mode and turn on bluetooth logging but I was not able to find the log file.  I have installed ADB and was able to pull my bt_stack.conf which does not show the setting for BtSnoopLogOutput nor does it have a setting for BtSnoopFileName.  My phone is not rooted and I am not an android dev.  I will do some research before going any further.

[2018-07-07 17:54] erijo commented on #291
Try this: https://stackoverflow.com/a/46674486/9242132

[2018-07-07 20:16] erijo commented on #305
By the looks of it it doesn't seem to work like the mini. To be able to add support for this scale I think we would need a bt snoop log (see [step 1 on the wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale)).

[2018-07-07 20:30] erijo commented on #159
From the log it looks like you got some extra measurements @godinperson. I've made a fix for that. I hope it works :)

Regarding water, muscle, fat etc. that's the same problem as the others here in the issue. The scale doesn't send the values directly, but only the weight and some kind of impedance value. The app then does the conversion to water, etc. This formula is not (yet?) known.

[2018-07-08 15:36] godinperson commented on #159
Tried but same data. How can we help you get those formula?

[2018-07-08 19:40] postolache commented on #300
[openScale_2018-07-08_21-33.txt](https://github.com/oliexdev/openScale/files/2174042/openScale_2018-07-08_21-33.txt)
On that file there were 2 tries. First failed with something like :
2018-07-08 21:34:30.326 Debug BluetoothBeurerSanitas: DataChanged - not handled: E0 01

2nd try on same file was successful.
Unfortunately my phone doesn't seems to create the btsnoop log file to see if I get that E

[2018-07-09 06:59] ulipo commented on #159
I tried mailing 1byone and asking for the formula (was worth a try...), thi is their answer:

-- For your issue, we are sorry to tell you the calculation formula is set up by manufacturer and actually we don't have access to that.

[2018-07-09 17:14] LuccoJ opened #306 "App crashes on start after removal of polynomial degree"
I blanked the polynomial fit degree in the settings, thinking that would simply remove the polynomial line. Instead, now the app dumps a stack trace on start (also after wiping cache). The last open activity was the "all time" chart (with neither Week nor Month selected).

Build version: 1.8.1
Build date: 1979-11-30 01:00:00
Current date: 2018-07-09 19:10:24
Device: ZTE A2017U

Stack trace:
java.l

[2018-07-09 21:16] godinperson commented on #159
Would those formula fit?
https://www.quora.com/How-do-bathroom-scales-that-calculate-body-fat-water-muscle-bone-kcal-actually-work-And-are-they-accurate
Total body water
TBW = (0.372 * HeightCM * HeightCM / Resistance)  + (0.142 * massKg) - (0.069 * ageYears) + (3.05 * ifMale)

[2018-07-09 21:32] godinperson commented on #159
I was able to decompile the APK using this website
http://www.javadecompilers.com/apk

But I'm not a programmer so couldn't find the formula...

[2018-07-10 15:46] nazco commented on #252
Couldn't see any problems with my android 8 device in the last days with the latest development version. But could't test is with other android versions.

[2018-07-12 08:58] nazco commented on #252
Well, sorry it seems that with the latest dev build there is a new problem introduced. Now I need to have the app open and running to get values. Older values are ignored and not synced. I'll try to add a log tomorrow.

[2018-07-12 10:02] rp-916 opened #307 "Import of csv files does not work."
I extracted weight details from my weightguru app into a csv file. I tried to import the same csv into a openscale app, but it failed with following error.

**Error importing: Problem parsing for type Date**

I tried to search the format of the csv file compatible with openScale, but unfortunately didn't find.
Appreciate, if somebody can update the CSV file format to be imported?

[2018-07-16 09:08] HarryHeights opened #308 "Request to make contributions to openScale."
Hello!..
I'll love to contribute to your project in documentation. I'll draft a privacy policy and also compile a list of Frequently asked questions(FAQs).
It'll be great thing if prospective users know what information they'll be parting away with while using the software and how that information is utilized. The FAQs will solve some usage problems for prospective users.

I'll be anticipating you

[2018-07-16 13:21] Shigawire commented on #295
Hi @oliexdev,
we've discussed that we will publicly disclose the implementation particular for the weight scale services as soon as the master thesis is finished. I'll let you know then.

Bests

[2018-07-18 18:44] oliexdev commented on #306
thanks for your issue. Should be fixed with commit https://github.com/oliexdev/openScale/commit/fd0b5e6f9b13bb7407af1df4e54ab4ceb0091f2f

[2018-07-18 18:44] #306 closed

[2018-07-18 18:59] oliexdev commented on #295
it is a shame that the vendors don't fully comply to the BLE standard, isn't it?
Thanks for your effort to support the open source community and good luck with your master thesis.
I am looking forward to see your implementation of your BLE simulator. I will close this issue. Please open a new issue or send me an email if your are able to publish your weight scale simulator.

Best regards from Germ

[2018-07-18 20:01] HarryHeights commented on #308
Alright. I already made a proposition though. If by proposals you mean compiling the document and submitting it for review, I'll do that right away.

[2018-07-19 02:17] rp-916 commented on #307
I actually did that and observed that the fields in file,I exported is completely different from what Openscale code expects. Reason I posted above question is for following:
  - Is there any standards for storing these kind of fields recommended by any community?  If there is standards, then integrations to different app would be easier and even end-user will have clarity without any additional d

[2018-07-19 14:56] oliexdev commented on #307
what did you expect from the openScale source code?

there is no standard which I aware of but CSV is the simplest format which I can imagine.

What is so hard to understand the CSV file? You have the header row which explains what is what and then you have for each row your data!? Ok, the date format have to been known but if you simple do a sample export and look into the exported file you shoul

[2018-07-22 15:20] oliexdev commented on #305
issue closed due inactivity

[2018-07-22 15:20] #305 closed

[2018-07-23 08:35] natrius commented on #301
It would be nice to implement a new line - median or something like that. That way it would be possible to show every weight in the graph while showing a smooth line simulatinously.
An example what i mean can be found here:
https://www.belox.de/~oetjen/abnehmen.htm

I hope thats waht OP meant too.

[2018-07-23 08:39] breversa commented on #301
Yeah, that's not bad, though it's only getting useful once you've got lots of measure points (which I don't have yet).

Also, isn't there already a mean line for weight (but not for BMI) ?

[2018-07-23 08:41] breversa commented on #299
Time to refactor the graph view then, and switch to a maintained library (if there's any...) ?

[2018-07-23 09:07] natrius commented on #301
Ah, you will get more. I tend to weight at the beginning of every day so it does not change from what i eat and so on. Stable data. Always the same time and so on. Useful.

Ouh, whoops, i just found out, the option for not showing the weight at each peak point is there already :D
And the line i meant seems to be the regression grade. Damn and thanks for the great work!

In this case just one thing

[2018-07-23 17:40] oliexdev commented on #299
@hirnsushi could be solution. More a hack but could work :wink:
@breversa not for that one reason but if you have a good alternate you could suggest another library which doesn't lack at design.

[2018-07-23 17:43] oliexdev commented on #308
sure propose your documentation. I cannot promise to you I will use it but I will look into it.

[2018-07-24 14:56] HarryHeights commented on #308
Oh okay. I'll get back to you real soon.

[2018-07-25 21:53] freman opened #309 "Support for Senssun Fat scales"
Hi.

Scales are sold here in AU at Kmart, the original app worked beautifully just one time.

I can have a go at reverse engineering it

[2018-07-28 20:41] new-on-github opened #310 "Question BMR on Sanitas SBF70, strange values"
Who is the BMR calculated on the Sanitas SBF70?

The values in my App are totally different from the ones with the formulars on Wikipedia:
[https://en.wikipedia.org/wiki/Basal_metabolic_rate](https://en.wikipedia.org/wiki/Basal_metabolic_rate)

Can it be possible that the BMR depends on measurements and not only one the users given data? Seems odd to me.

Maybe someone can help me. Thanks a lot fo

[2018-07-29 19:38] oliexdev commented on #310
Which App do you mean? openScale or the Sanitas App?

I don't know how the Sanitas App does the calculation. You have to ask the manufacture and not me. 😉

For openScale the BMR is calculated by

Furthermore the activity level is included with a factor taken from [this website](http://www.globalrph.com/harris-benedict-equation.htm).

[2018-07-30 07:00] new-on-github commented on #310
Thanks for your quick answer.

I don't know the Sanitas App. I mean the open scale app.

If I understand you correctly, the value which is shown under BMR is not the BMR, but instead

?

[2018-07-30 09:19] freman commented on #309
Turns out debugging this btle stuff is hard lol.

[2018-07-30 15:57] JaimeGF opened #311 "Zoetouch scale (model CF390BLE) not supported"
Hi,

First of all, English is not my mother tongue. Please excuse any errors on my part.

I have three files "btsnoop_hci.log", with different weights.
I installed BLE Scanner app and I got the UUID numbers of characteristic and service.
I open the files in Wireshark but I am unable to find valid data. Who can help me better understand the files to find my weight and other data?

Regards,

[2018-07-30 17:45] oliexdev commented on #311
post your information here and attached your corresponded log files. If I have time, I will look into it or somebody else have the obligation to look into it.
In the mean time try to search for your weight in the hex log files via wireshark.

[2018-07-30 17:51] oliexdev commented on #310
yes, it is more like a RMR but they are closely related to BMR

[2018-07-30 17:51] #310 closed

[2018-07-30 18:09] JaimeGF commented on #311
Files "btsnoop_hci.log" (renamed 01, 02 and 03) and weigth:

01.log = 91.6 kg
02.log = 97.4 kg
03.log = 102.1 kg

Also attached to this message are screenshots of BLE Scanner app.

Thanks in advance,

Sobre 30/07/2018 19:45:39, OliE <notifications@github.com> escribió:
post your information here and attached your corresponded log files. If I have time, I will look into it or somebody else have the

[2018-07-30 19:49] freman commented on #309
I have something that works some of the time.

Not made any easier by the fact that I don't think their scales work the way they think their scales work.

I copy/paste their gender code in and it still doesn't work for men, only women.

If it doesn't just ignore you outright.

[2018-07-31 06:51] new-on-github commented on #310
But would it be not better to write RMR in the App instead of BMR?

Because in my opinion it's strange that my BMR is around 3000kCal.

[2018-08-01 13:17] oliexdev commented on #309
Could you send a PR with your first implementation?

[2018-08-02 18:50] zanymuzik commented on #159
thanks for working so diligently on this.
i have the same scale and have been lurking on the thread to hear when i can use openscale.

how long does it take the changes to make to the prod version?
or are these separate branches?

[2018-08-04 18:04] JaimeGF commented on #311
I keep trying but I can’t find useful data on any of the files. Maybe I don’t know how to look for it. I recreated the files but the result is the same, I can’t find anything. It is possible that the scale isn’t registering the data into the file, or maybe they’re under a different format? I’ll keep looking into it to see if I can find anything.

Regards,

[2018-08-04 19:01] Guille666 opened #312 "xiaomi v2"
xiaomi v2 can´t pair bluetooth yet
it said need a pin..and don't pair
sorry if this is not the best way for advice
and sorry for my bad english

[2018-08-05 13:15] oliexdev commented on #311
the weight is stored in big endian multiplied by 100 but in log 1 and 3 you only received the data via the advertising frame. Normally, the advertising frame are used for constant updates while your weighting. So did you get a error for log 1 and 3 from your scale? Or did something other happened from log 2?

In log 2 you get a typical weight notification on the characteristic `0000FFF4-0000-1000-

[2018-08-05 14:46] oliexdev commented on #299
@hirnsushi please try out the latest dev build. Now the minimum height should be 20% of the maximum value.

[2018-08-05 14:46] #299 closed

[2018-08-05 15:31] oliexdev commented on #301
I disabled the scale restriction so you can zoom out with commit https://github.com/oliexdev/openScale/commit/5e3fe90c6b924ef261faf44a40df72e077e9dd2a

@natrius No an overall diagram is not yet implemented, just a year overview.

[2018-08-05 15:31] #301 closed

[2018-08-05 15:39] oliexdev commented on #287
I will close this issue due inactivity.

[2018-08-05 15:39] #287 closed

[2018-08-05 18:54] hirnsushi commented on #299
Perfect! 👍

[2018-08-05 23:27] Guille666 commented on #312
thank you!

2018-08-05 15:21 GMT+02:00 OliE <notifications@github.com>:

[2018-08-06 12:41] natrius opened #313 "Add overall overview"
Add an overview over all input data. It would be nice to see the whole picture over a longer period of time. On the top right is the option for weekly and monthly, add new one for "overall" for example.

And a good one would be "defined range" so if i want to show someone something special that would be nice too.

[2018-08-07 07:35] Guille666 commented on #312
it works!!
thankyou very much!!!
;-)

2018-08-06 1:27 GMT+02:00 Guillermo Guillermicus <solazate@gmail.com>:

[2018-08-08 04:39] ZHAJOR commented on #291
I have a Renpho too and I start to work on it.
I am filtering on this using wireshark: btatt.uuid16 == 0xffe1

I went 3 times on the scale:

1/ 10:0b:15:22:fb:01:01:fc:01:f8:44
Weight 89.55kg
Body fat 20.1%
Body water 57.4
Fat Free Body 71.5 kg
Muscle Mass 68kg
Bone Mass 3.6 kg
BMI 26.7

2/ 10:0b:15:23:46:01:01:fc:01:ed:85
Weight 90.3kg
Body fat 20.5%
Body water 57.4%
Fat Free Body 71.8 kg
Muscle

[2018-08-08 14:36] #312 closed

[2018-08-08 18:49] Dododappere commented on #159
Found an interesting post on stackoverflow. Looks like someone already did the first steps to reverse engineer libBodyfat.so . This is the native library used by the 1byone app to calculate the body fat percentage.

https://reverseengineering.stackexchange.com/questions/18591/how-can-i-make-sense-of-an-android-ndk-library

He turned the body fat calculation into Javascript:
https://gist.github.com

[2018-08-08 18:59] Dododappere commented on #159
In case you are interested, this scale is produced by a Chinese OEM:
http://www.uniquebluetoothscale.com/product/cf377ble-180kg400lb-ce-approval-human-care-electronic-balance-bluetooth-digital-bathroom-body-fat-analyzer-weighing-scale/

The have a lot of models....

[2018-08-10 07:50] logintonico opened #314 "App crashes and don't start anymore showing a bug"
Build version: 1.8.1
Build date: 1979-11-30 00:00:00
Current date: 2018-08-10 08:36:21
Device: HUAWEI PRA-LX1

Stack trace:
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.health.openscale/com.health.openscale.gui.MainActivity}: java.lang.NumberFormatException: For input string: ""
	at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3194)
	at android.app

[2018-08-11 10:29] oliexdev commented on #159
@Dododappere thanks looks promising but I need more data for testing.
So @all could you provide some test data which includes the following information. Please use the original app from 1byone for this.

* age
* sex (1=male; 0=female)
* height (in cm)
* weight (in kg)
* body fat (in %)
* muscle
* water
* visceral fat
* bone
* impedance

To get the impedance value please weight yourself afterwards

[2018-08-12 09:13] oliexdev commented on #314
Did you have a backup or a CSV export?
This is already fixed in the latest dev build.

[2018-08-13 08:59] logintonico commented on #314
I don't have neither of both. If I reinstall the app, is it possible
to recover the data that is anywhere in the memory phone? 

Thanks

Citando OliE <notifications@github.com>:

Ligações:
---------
[1] https://github.com/oliexdev/openScale/issues/314#issuecomment-412329489
[2]
https://github.com/notifications/unsubscribe-auth/AoTp15wQOziuz8xBJ7RW7qhopWWyXrUpks5uP_GzgaJpZM4V3vqC

[2018-08-14 11:57] Condorello commented on #159
That's my data:

 Debug BluetoothOneByone: weight: 63,50, impedance: 8169133

age 32
sex (1=male
height (in cm) 172
weight (in kg) 63.5
body fat (in %) 12,1
muscle 53,1
water 60,3
visceral fat 5
bone 2,7

[2018-08-14 19:02] oliexdev commented on #159
@Condorello thanks. Unfortunately, with your data I get a result of 15,6% body fat with the above formula. :disappointed:

[2018-08-14 19:04] oliexdev commented on #314
Unfortunately, no if you reinstall the app the database is deleted.

[2018-08-14 19:04] #314 closed

[2018-08-14 19:45] Condorello commented on #159
With 31 year it could change? Maybe it count the year exactly at the day of
birth.. so currently i'm 31 for ne precise.

Il mar 14 ago 2018, 21:02 OliE <notifications@github.com> ha scritto:

[2018-08-16 16:36] JaimeGF commented on #311
Hi,

I have tried to generate about 30 files "btsnoop_hci.log" and I only found weight data in one of them. It is quite complicated because my galaxy S8 does not generate this file and I do it with a galaxy S5 that I do not always have available. At the moment I leave it on stand-by until I have again available the Galaxy S5 to continue testing.

[2018-08-17 19:46] MaUwJo opened #315 "Add support for Crane scale (aldi)"
It's this one:
https://www.cranesportsconnect.com/manuals/SCALE2/94283_20160722_AT_web.pdf
with this app:
https://play.google.com/store/apps/details?id=com.aldi_project&hl=de

I have the log files from connecting and syncing
(https://github.com/oliexdev/openScale/files/2298490/btsnoop_hci.log.connect.zip.zip)
(https://github.com/oliexdev/openScale/files/2298492/btsnoop_hci.log.wiegen.zip.zip)

But

[2018-08-18 06:27] oliexdev commented on #315
thanks could you do the steps 1-3 of the [wiki](https://github.com/oliexdev/openScale/wiki/How-to-reverse-engineer-a-Bluetooth-4.x-scale).
I need at least more logs with different weights and the BLE scan.

Thanks in advance.

[2018-08-18 06:32] oliexdev commented on #303
seems he/she is the only one that have the problem. I will close it until more user reporting this behaviour.

[2018-08-18 06:47] oliexdev commented on #300
I don't know what the command `E0 01` from the scale is? Maybe an error code? Without more experimenting with the scale when and why this command happened it is hard to analyse. Therefore I will close this issue until we understand the command.

[2018-08-18 06:47] #300 closed

[2018-08-18 06:47] oliexdev commented on #308
I will close this issue due inactivity.

[2018-08-18 06:47] #308 closed

[2018-08-18 06:48] oliexdev commented on #252
I will close this issue due inactivity.

[2018-08-18 06:48] #252 closed

[2018-08-18 06:49] oliexdev commented on #159
The value changed only slightly.

[2018-08-18 06:59] oliexdev commented on #291
could be the impedance value since it seems a so. library is used to calculate the body measurements like for the 1byone scale in issue #159 or yunmai scale in issue #71

[2018-08-18 15:48] thoth291 opened #316 "Add support for Yunmai Premium Smart Scale"
Yunmai app sucks - your one looks exactly what I need, but it doesn't seem to support my scale. Please help.

[2018-08-19 14:03] oliexdev commented on #316
I would like to support this scale but I guess it has the same problem as the yunmai mini scale, please see issue #71

[2018-08-20 11:14] nazco commented on #252
Well the problem persists.

[2018-08-20 13:10] Danix58 opened #317 "Add support YNUMAI Mini 2 SCALE (YNUMAI-ISM2-EN)"
I find a Ynumai mini 2 scale that is not supported. I'm very insteresting in openScale.

The device name identified by BLE scanner is: **YNUMAI-ISM2-EN**  (3C:A3:08:97:33:F0)

**20-08-2018 13.36**
`0d:1f:14:02:00:5b:7a:a7:a2:23:d8:82:ea:1e:01:01:bb:05:28:36  // weight: 76.8 Kg 13.2 Body fat`
1e:01 = 76.81 kg
05:28 = 13.2 % body fat

The protocol is the same of BluetoothYunmaiSE_Mini.java. #71
Plea

[2018-08-20 19:27] oliexdev commented on #317
please try out the latest [dev version](https://github.com/oliexdev/openScale/releases/tag/travis-dev-build).

[2018-08-20 19:30] oliexdev commented on #159
@ulipo I get 21,16 % body fat :disappointed:

[2018-08-20 19:32] oliexdev commented on #316
You can also manually enter your weight and estimate your body measurements with openScale ;)
I will close this issue until we can resolve the puzzle in issue #71.

[2018-08-20 19:32] #316 closed

[2018-08-20 19:50] Danix58 commented on #317
I try th new dev version. Now i can find my scale. Thanks

[2018-08-20 19:53] oliexdev commented on #317
and does it work?

[2018-08-20 19:55] Danix58 commented on #317
Yes, it works

[2018-08-20 20:06] #317 closed

[2018-08-20 20:08] oliexdev commented on #317
great :smile:
Does your scale support other body measurements like water and body fat percentage?
Could you post an image again but with the same camera angle like the one in out wiki gallery?

[2018-08-21 07:49] Danix58 commented on #317
![img_20180821_092219_resized_20180821_092249515](https://user-images.githubusercontent.com/42542269/44387755-a62b5c80-a526-11e8-9fdd-3155cb6815e5.jpg)

The scale have these body mesaurements:
![screenshot_2018-08-21-09-18-43-908_com yunmai scaleen](https://user-images.githubusercontent.com/42542269/44387822-db37af00-a526-11e8-9c4a-39f919d23164.png)

2018-08-21 09-17 (76,22 kg and 13.1 body fat)
`

[2018-08-21 07:53] Danix58 commented on #305
the scale is supported #317

[2018-08-21 08:56] ulipo commented on #159
Well, it's not too far from the value calculated by the official app... Try to see if it gets closer with 42 years, I'll turn 42 in December, maybe the app rounded up the age.
Also remember that actually I measured two times consecutively, probably it's not exactly the same impedance value.

[2018-08-21 15:49] jinwook31 opened #318 "Mi Scale2 BLE Packets log"
I want to reverse engineer Mi scale 2 packets. I think the current app only request weight, but is there a way I can get packet logs of other features? (eg. water, skeleton.. etc )

+ someone working on this part??

[2018-08-21 15:57] oliexdev commented on #318
no like in #71 only the weight and the impedance value is send by the scale. Unfortunately, the calculation for the body measurements is done in the app via the .so library `libBodyfat.so`
If you are good in understanding disassembled code you can give it a try.

[2018-08-22 16:11] godinperson commented on #159
[openScale_2018-08-22_12-03.txt](https://github.com/oliexdev/openScale/files/2311112/openScale_2018-08-22_12-03.txt)
Age: 35
Sex: 1
Height: 178 cm
Weight: 86.7
Body fat: 24.5% (New 1ByOne Health app: 27.3%)
Muscle: 62.2 (New 1ByOne Health app: 59.9)
Water: 51.8 (New 1ByOne Health app: 49.9)
Visceral fat: 10.0 (New 1ByOne Health app: 12)
Bone: 3.2 (New 1ByOne Health app: 3.1)

[2018-08-22 17:10] Condorello commented on #159
I just did a new mesure with also the new heat app:

openscale impedance: 594974
openscale kg: 63.80

old onebyone
kg 63.80
fat: 12%
bone: 2.8kg
bmi: 21.6
visceral: 5
bmr: 1653kcal
muscle: 53.4kg

new onebyone healt
kg 63.8
fat: 15.7%
bone 2.6kg
bmi: 21.6
visceral: 7
bmr: 1417
musce: 51.2

[2018-08-23 05:00] jason-song-dev commented on #318
![kakaotalk_20180823_135054730](https://user-images.githubusercontent.com/37959160/44505508-b2591a80-a6dc-11e8-9631-0af55f39e6c6.png)

I found this! App shows 21.5%

[2018-08-23 05:34] jinwook31 commented on #318
![1](https://user-images.githubusercontent.com/9878434/44506496-a0c64180-a6e1-11e8-89a2-10b92b907cbc.png)
I found this! App shows 21.5%

[2018-08-23 19:17] oliexdev commented on #159
thx @all

I deeply looked into the disassembled code and I am really close! The status is as follows:

* water percentage [done]
* muscle percentage [done]
* bmr [done]
* bmi [done]
* visceral fat [done]
* bone mass [need to be verify]
* fat percentage [need to be verify]

For the last two measurements I need your help again because all posted impedance values were wrong. My previous impedance cal

[2018-08-27 10:45] cherocee opened #319 "Problems with Sanitas SBF70"
Hello,
Many thanks for developing openscale. This development was the reason for my buyig the SBF70. At the time of my purchase I did not notice the issues with the SBF 70 - I was happy that is labelled as supported.

Since issue [252](https://github.com/oliexdev/openScale/issues/252) was closed I am starting here a new issue. I hope this is fine.

I am experiencing problems with the Sanitas SBF70

[2018-08-29 06:44] Pastafarianist commented on #268
Perhaps this should have been tagged as a feature request and not a question (and not have been closed). Any chance this could be resolved when #159 is done?

[2018-08-29 15:11] oliexdev commented on #268
@Pastafarianist I should had marked as duplicated because all information was available on the project page at the time you have asked. We are aware of that problem, blame the company for the intransparent calculation.
And @erijo already answered your question. It could be possibly resolved when issue #159 is resolved.

[2018-08-29 20:39] cherocee commented on #319
I just realized from one of my previous attempts this morning, when the "Fetching info, please wait while we fetch extended info from you scale"  was terminated by the screenlog I could connect to the scale. The respective log file of this attempt is provided here. sorry for forgetting this previously. I hope it is not too messy this way.
I should mention, that currently there is no user "register

[2018-08-29 21:51] cherocee commented on #319
under:
https://www.amazon.de/Sanitas-Diagnosewaage-Vernetzung-Smartphone-K%C3%B6rperdaten/product-reviews/B00NABN36E
(sorry about the German)
I read that one customer calls himself "Kunde" was able to use this balance with openscale.
That post is date Sept 13, 2017.
I tried to use openScale 1,5,4. that was released in Aug 19, 2017.
But that attempt did not succeed either.
Might it be possible that

[2018-08-30 18:33] erijo commented on #319
BLE on Android is, as far as I can tell, unfortunately a mess. Different phones needs different work-arounds to make it work.

Please try restarting your phone and changing the batteries in the scale to see if that makes any difference. You can also try pulling the power from the Samsung TV you have around.

If it still doesn't work, try clicking the bluetooth icon on the main screen. I have in so